[2021-04-15 17:32] henryavila opened #429 "App Window not displayed in Windows 10"
**Before creating a new bug report**
Please check if there isn't a similar issue on [the issue tracker](https://github.com/spatie/ray/issues) or in [the discussions](https://github.com/spatie/ray/discussions).

If you are having troubles connecting your project to Ray, please check [our docs](https://spatie.be/products/ray) first, especially the configuration and environment specific configuration

[2021-04-16 05:24] stefgosselin commented on #427
Yes.  I have not retried the function call but it is most probably an issue
on my end. I was calling in the context of a test-case, which was missing
the call createApllication().

So.. no bootstrap, no ray().  No lots of other things too.

Thanks for the quick response,  will try again tomorrow and if all is well
will update the ticket with above details.

👍 have an awesome day.

Stef

On Wed., A

[2021-04-16 15:43] molnarjg commented on #427
I have the same error, calling `ray()->showQueries();`.
Like 2 versions before it worked fine in the same places.

[2021-04-18 03:59] molnarjg commented on #427
Hi,

Any updates re this issue?

Cheers.

[2021-04-20 14:00] bartbrinkman commented on #137
The icon also doesn't translate too well in the running app.

![image](https://user-images.githubusercontent.com/8309358/115408880-85dd5f80-a1f1-11eb-9222-b3c93f49e9a2.png)

[2021-04-20 14:10] bartbrinkman opened #433 "Manjaro: reporting a bug from Ray sometimes results in a error dialog box"
**Describe the bug**
When reporting a bug from Ray, after a few seconds an alert box pops saying Firefox is already running and it should be first closed.

**Versions**
Ray version (you can see this in "About Ray"): 1.14.7

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Help menu
2. Click on 'Report a Bug...'
3. After a few seconds, see error (also see screenshot)

It doesn't not alway

[2021-04-22 18:58] snapey commented on #427
@molnarjg `composer require spatie/laravel-ray`  NOT `spatie/ray`

[2021-04-22 19:03] snapey commented on #184
The speed if ray is really doing my head in.  Its so slow to smooth scroll each entry and then if you accidentally leave something like show queries in a loop, it can be slow scrolling for like 20 minutes or more, at each posted item it gets slower and slower and slower.  If it eventually finishes I hit control-L and then its all right for a bit.  I just accidentally dumped about 1000 results to r

[2021-04-22 19:20] #427 closed

[2021-04-23 07:11] AdrianMrn commented on #184
In the next minor version we're adding a setting to disable the autoscroll and we're virtualizing the log list. This means a lot less items will be rendered at any given point.

We promise we're still actively working on improving the performance of Ray every week, and we appreciate your feedback!

[2021-04-23 14:14] phasotron commented on #358
tnx

[2021-04-26 19:18] 4nik3t commented on #382
@rst630 Did you find a solution for this?

[2021-04-26 19:19] 4nik3t commented on #382
@freekmurze I can confirm this happening even in the latest build

[2021-04-27 02:39] rst630 commented on #382
no, they won't resolve this. I even wrote to email, but they just close this issue.
Very good position "Buy our software & make bug reports only with template" - no thanks.

[2021-04-29 10:09] Martenvanurk opened #442 "SSH error while linking a remote server"
**Describe the bug**
After adding the server with the right credentials, I'm experiencing this error:

`Error: Error invoking remote method 'connectSsh': Error: Error while signing data with privateKey: error:06000066:public key routines:OPENSSL_internal:DECODE_ERROR`

**Versions**
1.14.7

You can use `composer show` to get the version numbers of:
- spatie/ray package version: 1.22.1
- spatie/lara

[2021-04-30 09:01] Kami662 opened #445 "Option to search through ray logs/results"
Currently there seems to be no option to press ctrl +f to search through the ray results.

[2021-05-01 09:29] ThinkDevStudios opened #446 "unable to install laravel ray due to faker version"
**Describe the bug**
Unable to install laravel ray due to incompatibility with faker version

**Versions**
Ray version (you can see this in "About Ray"):

You can use `composer show` to get the version numbers of:
- spatie/ray package version: 1.22.1
- spatie/laravel-ray package version (if applicable): 1.17.4

PHP version:
Laravel 8 PHP 7.4.2

**To Reproduce**
Steps to reproduce the behavior:
whe

[2021-05-01 09:39] freekmurze commented on #446
Use the phpfaker package in your composer.json instead of the fzaninotto one

[2021-05-01 09:39] #446 closed

[2021-05-03 06:54] freekmurze commented on #445
We'll add this option in the coming weeks 👍

[2021-05-03 06:54] #445 closed

[2021-05-04 14:11] Morgy93 opened #448 "Keep Ray on top missing for Windows"
**Describe the bug**
It seems that https://spatie.be/docs/ray/v1/the-ray-desktop-app/discovering-the-ray-app#keep-ray-on-top is missing for the Windows app.

It clearly seems like a bug to me if you advertise a feature (without mentioning exceptions) and not having the functionality available.

I have no option to disable the window being always on top which can be frustrating.

**Versions**
Ray v

[2021-05-05 08:21] AdrianMrn commented on #448
Hey @Morgy93, you can toggle the float-on-top using the second button from the right in the menubar (screenshot is on Mac, but it should be the same on Windows).

![image](https://user-images.githubusercontent.com/12762044/117113953-7df1f380-ad8b-11eb-8ad2-358ad740e462.png)

Great idea to also have it in the View menu, we'll consider adding this!

[2021-05-05 08:21] #448 closed

[2021-05-05 08:26] Morgy93 commented on #448
Holy... I'd never ever thought that the icon would be responsible for that.

@AdrianMrn You should also update the docs, because then it's not well documented + other screenshots show way different functionality / ui elements.

![image](https://user-images.githubusercontent.com/7961978/117114392-17210a00-ad8c-11eb-9631-470861af0717.png)

Thanks for clarification anyway!

[2021-05-05 10:59] AdrianMrn commented on #448
Yeah, the app went through some UI changes since those were made 😅

I've written it down and will improve this!

[2021-05-07 02:51] leslieeilsel commented on #137
I'm having the same issue on Windows 10 Dark Theme.
![微信截图_20210507104528](https://user-images.githubusercontent.com/25165449/117391110-e4a91580-af21-11eb-8b1b-33a430215cd4.png)

[2021-05-07 10:16] S-R0 commented on #317
Any idea on when this fix will be released? Still happening for me (Ray 1.14.7)

[2021-05-07 12:54] MOuli90 commented on #49
I am interested in this Issue. Do you have some new updates?

[2021-05-10 00:59] vicenterusso opened #452 "[Ubuntu 21.04] Warnings after Ray App starts"
**Describe the bug**
The app works normally, apparently, but there are warnings at the start.

- I consider it a very minor bug because it doesn't not block my workflow
- I'm using a portuguese brazil keyboard layout.
- On another machine, running Kubuntu 20.10 I don't have this error (same keyboard layout though), same project
- Please check logs below

**Versions**
- App `1.14.7`
- spatie/larave

[2021-05-10 07:17] freekmurze commented on #452
This one doesn't break things, so not that urgent indeed. If there's a quick fix from our side for this, we'll take care of it soon.

[2021-05-11 20:14] UnSeulT commented on #158
Same here, ray v1.14.7, not launching Sublime on Linux Mint 19.3 despite the local path on mouse over is correct.
And no error popup.

[2021-05-12 08:07] cbaconnier commented on #334
Having the same issue I noticed the icon was located under a `0x0` directory but as far I understand how it works I would expect to be under `16x16`,  `24x24`  ...  `512x512` and `1024x1024`

[code]

For reference:

[code]
I copied the icon with the correct resolution under each folder using this (then change the resolution and the folder name)

[code]

And finally I have updated the icon cache wi

[2021-05-18 12:47] tarraq opened #456 "Feature request - limit use in loops"
Hi there.

I would really love to have a limiter for when Ray is used in loops.
For instance:
`for($i=0;$i<10000;$i++) {
ray($someVariable)->take(10);
}`
would only take the first ten items in the loop and avoid spamming the desktop app with 10 items.
Would make debugging loops much nicer.

[2021-05-18 13:09] freekmurze commented on #456
I like the idea, and we could implement this in the package.

I'm thinking of an API like this:

[code]

I would accept a PR including tests that adds this to the package.

[2021-05-18 13:12] tarraq commented on #456
Sounds good!

[2021-05-25 13:33] DamianKausitz commented on #404
Same issue. Uninstalled latest version.
Installed 1.24.0 --- does not work,
Automatically downloaded and installed 1.14.7.0.
PHP v7.4.10 from XAMPP,
No communication between php files and Ray console.
McAfee firewall -- ports are open.

[2021-05-27 13:42] basepack opened #458 "Memory leak on Windows"
**Describe the bug**
- Two hours ago I started Ray and used it for an hour, frequently using Ctrl + Shift + C to clear it completely
- I was away from keyboard for half an hour and came back and noticed everthing was not as snappy as before in Windows itself. Checked the taskmanager (see screenshot) and saw Ray eating all memory it could find.
- As you can see in the screenshot, ray was not accumu

[2021-05-28 18:00] genesiscz commented on #458
It's actually so hard to even restart the app and clear the queue because it gets stuck way before I can even try. This thing is so slow especially when I forgot I put it there for like an hour while debugging :(

[2021-05-29 03:58] developman-akl opened #461 "Long Messages are trimmed"
**Describe the bug**
Long Messages are trimmed.

**Versions**
- Ray: 1.14.7.0
- spatie/ray package version: 1.22.1
- spatie/laravel-ray package version (if applicable):  1.18.0

**To Reproduce**
Steps to reproduce the behavior:
1. Get anything shown in Ray where the **Message** is longer than the window with.

**Expected behavior**
Wrap the Message text into multiple lines.

**Screenshots**
![imag

[2021-05-29 05:21] basepack commented on #458
@genesiscz that's true for Ray and also other Electron apps on Windows. Closing Ray is not enough to stop all Ray processes, they just stay active and the window is hidden. I have to use the task manager to really stop all processes.

But I think it is typical for Electron apps as HELO behaves the same.

[2021-05-29 09:05] freekmurze commented on #458
Duplicate of #210

[2021-05-29 09:05] #458 closed

[2021-05-29 11:56] genesiscz commented on #210
Is this getting more attention by any chance?

[2021-05-31 18:13] lesaff opened #462 "Online doc goes to 404"
**Before creating a new bug report**
Please check if there isn't a similar issue on [the issue tracker](https://github.com/spatie/ray/issues) or in [the discussions](https://github.com/spatie/ray/discussions).

If you are having troubles connecting your project to Ray, please check [our docs](https://spatie.be/products/ray) first, especially the configuration and environment specific configuration

[2021-05-31 20:24] freekmurze commented on #462
Thanks for reporting. We've fixed this.

[2021-05-31 20:24] #462 closed

[2021-05-31 23:06] patinthehat opened #463 "Limit sending payloads in loops"
@freekmurze I've created a `limit()` method with the idea that it can be used to limit the number of payloads sent when in a loop (related to #457).  It works in the same way that `count()` works _(based on the file/line number the method is called from)_.  This allows it to be limited within a loop for debugging without having limits everywhere.

Would you accept a PR that adds this method/featur

[2021-06-01 06:14] freekmurze commented on #463
Sound good! Send a PR for that. It might be good to inform the user that rate limiting has been triggered. Let's also display a message in that case. We could add a method `sendRateLimitingActive()` to the `Ray` class that your `limit` and @Nielsvanpach's rate limiting could call.

Closing this now, as I'm sure you'll send a PR for this soon 🙂

[2021-06-01 06:14] #463 closed

[2021-06-03 15:19] patinthehat opened #470 "Adding a when() method"
Hey @freekmurze - would you accept a PR for a `when()` method?

The idea for this method is related to working within loops _(although it has use cases beyond loops)_ - it allows for more dynamic debugging of large arrays, making the developer experience more pleasant.

Here's my first attempt at the API for `when()`:

[code]

![image](https://user-images.githubusercontent.com/5508707/120665781-14

[2021-06-03 16:02] freekmurze commented on #470
Thanks for this idea.

I'm thinking the functionality is very close to if
https://spatie.be/docs/ray/v1/usage/framework-agnostic-php-project#conditionally-showing-items

Would that already work in the use cases mentioned above?

[2021-06-03 16:55] patinthehat commented on #470
I'm not sure that it would, because those methods send payloads first and then send another payload to remove them if the conditional is met.

`when()` only sends payloads if the conditional is met, which is important when working with large loops due to the lag issues with large numbers of payloads being sent to Ray.  I also feel that it provides more options when debugging loop, such as easily c

[2021-06-03 22:09] freekmurze commented on #470
Thanks for explaining. If the code to achieve this is simple enough, I'd accept a PR that adds this to the package. 👍

[2021-06-03 22:10] freekmurze commented on #470
Closing this for now as I'm sure a PR will come in soon 🙂

[2021-06-03 22:10] #470 closed

[2021-06-10 19:40] kaitwalla opened #474 "Ray Mac client recieves messages; Windows does not"
**Describe the bug**
I have a Laravel app running under WSL on my Windows machine. I have Ray set up on both my Mac and the Windows machine (the Ray client is running on Windows, not the WSL instance). On both machines, I can connect to the remote server using the connect button. On the Mac, I can see the messages being received. When I connect the Windows machine, though it says it is connected,

[2021-06-11 14:27] mariuscirstea commented on #404
Same issue.
Version 1.14.7 (1.14.7)
MacOs Catalina
Local dev with Valet

[2021-06-11 16:26] freekmurze commented on #404
I'll inestigate this soon. Could you try if it works using an older version of the PHP package?

[2021-06-12 19:55] mariuscirstea commented on #404
It is now working with new laravel project but with old one doesn't. I should investigate forward...

[2021-06-14 06:06] mariuscirstea commented on #404
Some collegue changed config and set 'host' to docker. I changet back to localhost and all it is working now. Sorry for my hasty post!

[2021-06-21 06:18] adrianb93 commented on #210
I would happily agree in the settings to send app usage stats (performance-related) if it helps get to the bottom of these issues.

[2021-06-21 06:30] freekmurze commented on #456
The rate limiter has been released.

[2021-06-21 06:30] #456 closed

[2021-06-21 06:33] freekmurze commented on #452
We didn't find a cause for this in our code. I'm thinking these warnings are thrown by one of the many dependencies we are using. I'm hoping that in a future release this will get fixed.

[2021-06-21 06:33] #452 closed

[2021-06-21 07:58] lloricode commented on #442
same as mine

name | version
-------- | -----
Ray app version | 1.14.7
spatie/laravel-ray      |                           1.20.2
spatie/ray                   |                      1.26.0
PHP | 7.4.18
Laravel Framework  | 8.47.0

![Screenshot from 2021-06-21 15-52-29](https://user-images.githubusercontent.com/8251344/122726986-219a5300-d2a9-11eb-83c9-f1f08bf3c4c6.png)
![Screenshot from 2021-06-21

[2021-06-23 09:53] vyskoczilova opened #480 "Windows 10 - can't edit server details without reopening the app"
**Describe the bug**

If I can edit the server setting just once if I want to refine it I can't click into the input fields and I need to close & reopen the app.

**Versions**
Ray version (you can see this in "About Ray"): 1.15.0.0

**Expected behavior**
1. Be able to re-edit added server details

**Screenshots**
https://www.loom.com/share/549152c6e354474ca61b25853c146abc

**Desktop (please comple

[2021-06-23 10:29] vyskoczilova opened #482 "Windows 10 + WordPress - can't connect via SSH"
**Describe the bug**

I add the server details into the ray app, click to connect and it ends with "Ray was unable to bind to the remote server's port. Is the port in use or is someone else using Ray on this server"?

**Versions**
Ray version (you can see this in "About Ray"): 1.15.0.0
PHP version: 7.4

**To Reproduce**
Try to connect to the WP Engine SSH server.

**Expected behavior**
Connect.

*

[2021-06-24 07:56] lloricode opened #483 "mailable chain another mailable"
**Describe the bug**
when try
[code]
only result of `ClassTwo` will appear on ray app

**Versions**
Ray version (you can see this in "About Ray"): 1.15.0

You can use `composer show` to get the version numbers of:
- spatie/ray package version: 1.27.1
- spatie/laravel-ray package version (if applicable): 1.22.0

PHP version:
Laravel version (if applicable): 8.48.1

**To Reproduce**
dispatch mail us

[2021-06-24 13:41] Nielsvanpach commented on #483
You should use

[code]

In the meantime, I'll look into allowing multiple mailable arguments

[2021-06-24 14:34] lloricode commented on #483
yes ill use that way, I just notice this and maybe it could help

[2021-06-24 14:54] lloricode commented on #483
I did not notice, i crated issue in different repository,

anyways this to https://github.com/spatie/laravel-ray/pull/204, now has a nicer way

[2021-06-24 14:55] #483 closed

[2021-06-24 15:28] benjamin74 opened #484 "Wordpress setup instructions errors / unclear remarks"
Hello guys,

Love the App but had a few problems getting the setup right with Wordpress, here are a few things that should be emphasized / explained in the docs:

- Installing in the mu-plugins **should be the rule when debugging plugins**... it's not emphasized enough in the docs (as in : **made bold**), else (with a simple installation from the WP plugin repository) if the plugin being debugged

[2021-06-25 03:04] scrlkx commented on #334
@cbaconnier answer works nicely, but updates broken it again. Can we have a permanent solution?

[2021-06-25 11:06] num3r06 opened #485 "Custom Helper generate an error"
Hi,
I created a custom helper by integrating it into the autoload / files section of composer.json.
By chance during a debugging session I noticed that occasionally, along with the logs I wanted to generate, there were some errors generated by the custom helper. I am attaching the code of the custom helper and the image of a typical error

[code]

[2021-06-25 11:33] patinthehat commented on #485
Have you tried wrapping your functions with `function_exists()`?  This should help avoid the issue.

[code]

[2021-06-28 03:46] lloricode commented on #158
Same here ray v1.15.0

[2021-06-28 03:56] lloricode commented on #158
i tested this with command line, it is working fine as expected

[2021-06-28 04:45] lloricode commented on #158
HI i fixed the urldecode

you can clone my PR https://github.com/sanduhrs/phpstorm-url-handler/pull/16

then run this on your local

[code]

[2021-06-28 06:12] freekmurze commented on #158
Closing here, as the problem lies with the `php-url-handler`

[2021-06-28 06:12] #158 closed

[2021-06-28 12:36] kevindaus opened #491 "Ray Client doesn't open in Windows 10"
**Describe the bug**
Ray client doesn't open no matter what I do.

**Versions**
1.14.7

You can use `composer show` to get the version numbers of:
- spatie/ray package version:  1.27.1
- spatie/laravel-ray package version (if applicable):  1.23.0

PHP version: 7.4.14
Laravel version (if applicable):

**To Reproduce**
Steps to reproduce the behavior:
1. Install Ray client 1.14.7
2. Open Ray Client

[2021-06-28 13:10] mxrxdxn opened #492 "Ray does not work on PHP 8.0.7"
**Describe the bug**
Running under PHP 8.0.7, any calls to the `ray()` function results in a browser error "page returned no data".

**Versions**
Ray version (you can see this in "About Ray"):

You can use `composer show` to get the version numbers of:
- spatie/ray package version: 1.22.1 (also tested on latest version)
- spatie/laravel-ray package version (if applicable): 1.17.2 (also tested on l

[2021-06-28 14:34] freekmurze commented on #492
I can't seem to reproduce this, Could you create an example app in which ray is not working for you?

[2021-06-28 15:24] mxrxdxn commented on #492
Yeah - I can confirm this isn't related to PHP 8.0.7. I've installed PHP 7.4 and 7.3 (which previously worked with Ray too) and both of those now also display the same behaviour as above.

I'm really not sure what has caused this; my Homebrew performed an update on Friday which is likely the culprit, however I'm now unsure as to what has been changed which has caused this issue.

[2021-06-28 15:41] #492 closed

[2021-06-29 00:19] lloricode commented on #442
hi @freekmurze, any update on this? thank you

[2021-06-30 10:53] freekmurze opened #495 "Arrays in requesr should be expandable"
https://twitter.com/LukeDowning19/status/1410188127583539204

[2021-06-30 11:44] AdrianMrn commented on #495
@freekmurze What PHP code should I run to easily get an array in the app?

[2021-06-30 11:57] lukeraymonddowning commented on #495
If you want it to work today @AdrianMrn you can do

[code]

[2021-06-30 16:40] lukeraymonddowning commented on #495
@AdrianMrn to replicate the issue, I think you can do:

[code]

[2021-07-01 10:48] AdrianMrn commented on #495
Thanks!

I've fixed this on our development branch, this fix will be included in next week's release.

![image](https://user-images.githubusercontent.com/12762044/124112520-a7b55700-da6a-11eb-90c7-c7d719a6bb08.png)

[2021-07-01 10:48] #495 closed

[2021-07-02 07:13] kornatzky opened #497 "Unable to connect to local server"
**Describe the bug**

Unable to connect to local Homestead server - get this error

Error: Error invoking remote
method 'connectSsh': Error:
Timed out while waiting for
handshake

**Versions**
Ray version (you can see this in "About Ray"):1.15.0

You can use `composer show` to get the version numbers of:
- spatie/ray package version: 1.27.1
- spatie/laravel-ray package version (if applicable): 1.2

[2021-07-03 08:12] janis-inzpire opened #500 "Ray app shows blank screen and does not work on windows 10 after updating to 1.15"
**Describe the bug**
After updating to this version, ray does not work on Windows 10 Pro, build 19042.
Just shows a blank window with missing UI elements and new items are not being shown in it. See screenshot below.
Preferences page does not open as well (nothing happens when going to File -> Preferences)
Nothing happens when creating new screen (View -> New Blank screen OR View -> New Blank scre

[2021-07-05 08:14] AdrianMrn commented on #500
Hi @janis-inzpire, could you please follow the steps in this comment and share the output? https://github.com/spatie/ray/issues/371#issuecomment-800293711

I'll see if we can handle these kinds of errors a bit better. For a better chance to get it working straight away, you could try uninstalling it and downloading it again.

[2021-07-05 08:16] janis-inzpire commented on #500
Treed uninstalling and installing it again and that worked, so right now I have it working just fine. But over the weekend it randomly died like that again. Will get the output if it happens again, but for now it is sort of working.

[2021-07-05 08:29] AdrianMrn commented on #500
No problem, and sorry for the inconvenience! Feel free to reopen this issue when you encounter the problem again.

[2021-07-05 08:29] #500 closed

[2021-07-05 11:19] ericlaaper commented on #319
I had the same problem.  Sending a request from vue I got an error message back in the vue app. 500 call to undefinded method. The same is stated in te ray app. ›‹

![Schermafbeelding 2021-07-05 om 13 14 58](https://user-images.githubusercontent.com/20456800/124463310-02182580-dd93-11eb-89f2-2165a41f14cb.png)

After
sending jobs to ray set to false fixes the problem.
The actual job is handled perf

[2021-07-07 10:37] noge075 commented on #429
@henryavila
I had the same issue after changing monitors. In my case I have two monitors in my home setup and three monitors in my office setup. I use Dell docking station on both places, When I came home and I used the app with "Keep this window floating" option on my third screen, I can't see Ray on on my tray.

For me always this is the solution:
https://www.njevity.com/2014/02/18/a-window-is-n

[2021-07-07 11:53] AdrianMrn commented on #429
This does sound like an issue with the app displaying outside of the screen. I'll add a menu option to reset the app to the center of the screen.

[2021-07-07 11:53] #429 closed

[2021-07-08 09:06] nathandaly opened #503 "Composer fails to install on Laravel 8.49.2 PHP 8.0.8"
Hey guys,

Apologies if I am doing something glaringly incorrect but `spatie/laravel-ray` fails to install on the aforementioned. Please find below an output from my terminal with all relevant information (OS and versions e.t.c.).

![debug information](https://i.imgur.com/vhJPwG1.png)

[2021-07-08 09:07] benjamin74 opened #504 "Clear screen shortcut ignored if hide and show shortcut is empty"
**Describe the bug**
If you clear BOTH shortcuts and only set a shortcut for the "clear" function, the clear shortcut won't be working. After that if you set a shortcut for the hide/show shortcut, the clear shortcut will work

**Versions**
Ray version (you can see this in "About Ray"): 1.15

**Expected behavior**
We should be able to set the "clear" shortcut with the hide/show shortcut being empty

[2021-07-08 15:47] nam-co commented on #503
Hi Spatie, I can confirm this, something similar is also happening for example in crawler

[2021-07-08 19:54] Nielsvanpach commented on #503
This has been fixed in the meantime, can you verify if it works?

[2021-07-08 19:58] benjamin74 commented on #442
I'm getting the same error:

**Error: Error invoking remote method 'connectSsh': Error: All configured authentication methods failed**

When trying to connect from the desktop UI with a **username + password** (on a non standard SSH port but I'm not sure that's the problem).

It even **looks like the password isn't saved at all** when reopening the connection by clicking on the edit button (it wil

[2021-07-08 20:06] benjamin74 commented on #442
I was making a video to explain the issue and apparently found a workaround to still save my SSH password. So there is really a bug, but there is also a workaround:

https://www.screencast.com/t/xm5Z7ApNNjmR

[2021-07-10 06:10] lloricode opened #505 "Possibile to find clearAll() using Ray App"
**Describe the bug**
This is not a bug, I just notice if we forgot to remove `ray()->clearAll();` it will difficult to find it, since its not included in Ray App
![Screenshot from 2021-07-10 14-03-54](https://user-images.githubusercontent.com/8251344/125153620-b0530f00-e187-11eb-98c9-25830d7dd619.png)

**Versions**
Ray version (you can see this in "About Ray"): 1.15.0

You can use `composer show`

[2021-07-10 14:51] #505 closed

[2021-07-13 05:25] lloricode commented on #442
yes, this is also occasional happen to me, but this must be different issue

[2021-07-13 15:22] #503 closed

[2021-07-14 07:51] AdrianMrn commented on #491
This is probably related to this one: https://github.com/spatie/ray/issues/429

I'm publishing a new version of the app today with a menu option to reset the app to the center of the screen.

[2021-07-14 15:18] AdrianMrn commented on #429
I've added a shortcut to reset the app to the center of the screen to the "window" menu and the right-click-on-tray menu. Pressing cmd/ctrl+shift+R when the app is active will also do this.

[2021-07-14 15:18] AdrianMrn commented on #491
I've added a shortcut to reset the app to the center of the screen to the "window" menu and the right-click-on-tray menu. Pressing cmd/ctrl+shift+R when the app is active will also do this.

[2021-07-14 15:18] #491 closed

[2021-07-15 09:03] AdrianMrn commented on #504
Thanks for the report, a fix for this will be included in the next version of Ray!

[2021-07-15 09:03] #504 closed

[2021-07-15 09:04] AdrianMrn commented on #461
A fix for this will be included in the next release!

[2021-07-15 09:04] #461 closed

[2021-07-15 09:10] AdrianMrn commented on #417
The standard `ray();` log will not attempt to display HTML anymore, unless a Symfony dump script is present in the payload.

`ray('hi<br />\n \r\n foobar');` will display
![image](https://user-images.githubusercontent.com/12762044/125762118-552a5825-4c72-4886-869f-8eadd6847e65.png)

[2021-07-15 09:10] #417 closed

[2021-07-15 09:12] #404 closed

[2021-07-15 09:15] AdrianMrn commented on #433
I can't seem to reproduce this, it seems like a very isolated issue. Let me know if it is still bothering you and I'll take a closer look at it.

[2021-07-15 09:15] #433 closed

[2021-07-15 09:29] AdrianMrn commented on #497
Can you ssh to your server using your terminal?

[2021-07-15 09:33] #497 closed

[2021-07-15 09:48] AdrianMrn commented on #442
A fix for this will be included in the next release!

[2021-07-15 09:48] #442 closed

[2021-07-15 09:54] AdrianMrn commented on #358
A fix for this will be included in the next release!

[2021-07-15 09:54] #358 closed

[2021-07-15 09:57] AdrianMrn commented on #480
A fix for this will be included in the next release!

[2021-07-15 09:57] #480 closed

[2021-07-15 10:06] AdrianMrn commented on #482
SSH port binding/forwarding might be disabled in WP Engine. Could you try the following steps? You might need to use `ssh` instead of `plink` for this to work.

1. Open Ray, go to your preferences and make sure the port is set to 23517
2. Run `ssh -R 23517:localhost:23517 bigdatadev@bigdatadev.ssh.wpengine.net`

If this doesn't work, WP Engine most likely doesn't support SSH tunnels, which is what

[2021-07-15 10:06] #482 closed

[2021-07-15 10:12] AdrianMrn commented on #474
@kaitwalla Can you still reproduce this bug? If so, please share the steps with me and I'll take a look!

[2021-07-15 10:12] #474 closed

[2021-07-15 10:14] AdrianMrn commented on #484
Thanks for the detailed report! Could you create a PR for this, so you get the proper attribution for your input?

You can find the WordPress installation docs here: https://github.com/spatie/ray/blob/main/docs/installation-in-your-project/wordpress.md

[2021-07-15 10:14] #484 closed

[2021-07-17 09:35] shalvah opened #513 "Feature request: Option to totally exit the app"
Could we get an option to totally close the app when we click X? Right now, the server remains running in the background, and I have to go to my system tray and exit that too.

It doesn't fit my workflow, because I need to conserve system resources, so I only open Ray when I need to debug something, and I don't need it running in the background.

[2021-07-19 05:41] kevindaus commented on #491
nah , its still not working .

https://youtu.be/4_Rn7rp8CrU

It used to work perfectly when It was first released.
Is there anyway to download the old version ? :(

[2021-07-19 08:47] AdrianMrn commented on #491
We're still test running 1.16.0, and will release it in the coming days!

[2021-07-19 13:45] genesiscz commented on #210
Yea they literally don't care at this point, what a bummer for a paid product :(

[2021-07-19 15:29] freekmurze commented on #210
We will be shipping a new version by the end of the week in which we’ve solved a bunch of performance / memory problems.

[2021-07-21 03:21] lloricode opened #514 "Can not download latest version of app (1.16.0)"
Hi, i check this https://spatie.be/products/ray/release-notes
then the latest version is 1.16.0 and the date of release is 2021-07-16.

but trying to download will  give the old version 1.15.0.

is there something wrong?

thank you

[2021-07-22 07:14] AdrianMrn commented on #210
@genesiscz

I understand your frustration and apologise for taking this long to fix a seemingly easily reproducible issue.

Over the last week, we've closed over 20 public and internal issues, fixed a bunch of bugs, added the popularly requested search feature and implemented virtualised lists which will hopefully help with this issue in particular and other performance issues.

We haven't figured

[2021-07-22 07:14] #210 closed

[2021-07-22 07:22] AdrianMrn commented on #514
We'll release this version within the next 48 hours!

[2021-07-22 07:22] #514 closed

[2021-07-22 12:58] nnerijuss opened #517 "Custom port not working on remote server"
**Describe the bug**
After setting custom port in ray app and connecting to remote server via ssh, ray still creates process with default port. When another user connects to remote server "Ray was unable to bind to the remote server's port. Is the port in use or is someone else using ray on this server?" error appears.

**Versions**
App version 1.14.7

Server: Ubuntu 20.04

**To Reproduce**
Steps

[2021-07-22 13:21] AdrianMrn commented on #513
I understand you issue, but I don't think we'll add a preference option for this anytime soon, as you're the first to ask for it. As with many other modern apps, right click > quit is the only way to completely close the app, without keeping it running in the background.

[2021-07-22 13:21] #513 closed

[2021-07-22 13:26] AdrianMrn commented on #184
1.16.0 includes virtualised lists and should fix this issue for most users. Feel free to open a new issue if the problem persists after updating to 1.16.0

[2021-07-22 13:26] #184 closed

[2021-07-22 14:57] labomatik opened #518 "Not able to collect Ray data from remote server"
**Describe the bug**
After connection to a remote server, i'm not able to get any data from ray()
The server was installed with forge and deployed with envoyer.io

**Versions**
Ray version: 1.14.7

- spatie/ray package version: 1.28.0
- spatie/laravel-ray package version (if applicable):   1.23.0

PHP version:
Laravel version (if applicable): 7.4

**To Reproduce**
Steps to reproduce the behavior:

[2021-07-22 16:46] AlexVanderbist commented on #517
Hi @nnerijuss, it looks like the remote port was hard-coded and didn't respect the custom port that's configured in settings. I've just pushed a fix for this so it will be tagged and released soon :)

[2021-07-22 16:46] #517 closed

[2021-07-22 18:13] nnerijuss commented on #517
@AlexVanderbist thanks for super fast fix.

[2021-07-23 10:08] AdrianMrn commented on #517
This will be included in 1.16.0, releasing this afternoon!

[2021-07-23 15:13] bpeperkamp opened #520 "Cannot connect via SSH with password"
If i add a server in the ray app (on macOS) it will save a SSH password, but when connecting it will still try to use a certificate.

Ray version: 1.15.0

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'remote servers'
2. Click on 'add server' or 'edit server'
3. Use a password
4. Click on connect

**Expected behavior**
It should use a password login. If i create an empty file the prob

[2021-07-23 16:19] AdrianMrn commented on #520
This was fixed in Ray 1.16.0 (released just now)! 😃

[2021-07-23 16:19] #520 closed

[2021-07-25 23:26] lloricode commented on #520
HI, using only SSH and still not working

im using 1.16.0 version of the App

![Screenshot from 2021-07-26 07-25-19](https://user-images.githubusercontent.com/8251344/126916733-a77d4d96-df2a-48a8-9acb-3c607566197f.png)

[2021-07-26 14:23] aryehraber opened #523 "Ray window resets to centre of screen after app restart"
**Describe the bug**
Since the latest Ray update the window resets to the centre of my screen upon opening the app (window size correctly remains the same). I always have Ray sitting on the right edge of my screen, and it used to stay there but now it resets to the centre.

**Versions**
1.16.0

**To Reproduce**
Steps to reproduce the behavior:
1. Open Ray
2. Move window away from centre
3. Close R

[2021-07-26 14:54] AdrianMrn commented on #523
This was added because for some people, the app rendered out of the main screen after disconnecting a secondary monitor.

Could you check if this still happens for you if you place the app just shy of the edge of your screen? I'll see if I can build in a safety margin.

[2021-07-26 15:33] aryehraber commented on #523
Ok great, thanks!

Your suggestion of keeping the window just shy of the edge works for now 👍

[2021-07-28 16:14] genesiscz opened #525 "Scrolling up and down doesn't remember the expanded array blocks"
**Describe the bug**
With the new version, the performance changed dramatically, which I am grateful for. Thank you guys!
However, in my case, there are a lot of things going on in logs & so on. If I expand the array block & the app (or I do) scroll somewhere else, the block that was expanded probably gets removed from the DOM, which then renders in its default state after I scroll back. (+ One an

[2021-07-29 03:57] lloricode opened #527 "[1.16 app] Consume all memory"
**Describe the bug**

almost consume all memory that become my laptop suddenly not responding

**Versions**
Ray version (you can see this in "About Ray"): 1.16.0

You can use `composer show` to get the version numbers of:
- spatie/ray package version: 1.28.0
- spatie/laravel-ray package version (if applicable):  1.24.2

PHP version: 7.4
Laravel version (if applicable): 8.52.0

**To Reproduce**
Ste

[2021-07-29 07:38] freekmurze commented on #527
It's hard to reproduce this, how long did you have to wait? Is there any way to let Ray use that many memory faster?

[2021-07-29 08:09] lloricode commented on #527
Hi @freekmurze

sorry i do not know about this,

while reading this suddenly happen issue again
I used this
[code]
then after that this will happen
![Screenshot from 2021-07-29 16-00-43](https://user-images.githubusercontent.com/8251344/127455119-9281abef-bfd0-499f-a756-23ec64cba0e0.png)

then later, it become blank
![Screenshot from 2021-07-29 16-01-21](https://user-images.githubusercontent.com/8

[2021-07-29 14:49] AdrianMrn commented on #525
Thanks for reporting this issue.

This is sadly a known issue in the latest release, it's on our roadmap to fix asap!

![image](https://user-images.githubusercontent.com/12762044/127513385-c11b7d07-64ee-4f09-8794-b108f27a1f72.png)

Great suggestion, I always forget to test the app in darkmode 😛 in the next release,  I'll make sure the loading blocks take into account whether dark mode is enabled!

[2021-07-29 14:49] #525 closed

[2021-07-29 17:21] jesseleite opened #528 "No padding around tips at small widths?"
Not sure I'd consider this a bug per se, but I like to have the Ray app on the left side of my monitor resized down to a fairly narrow width. The tips text that is centered in the window looks a bit funky without padding around the edges of the window. Pretty subjective I guess, but thought I'd mention ❤️

![image](https://user-images.githubusercontent.com/5187394/127536029-6282bb05-6d66-4a8c-907e

[2021-07-30 07:40] kevindaus commented on #491
Issue solved!

![image](https://user-images.githubusercontent.com/10745021/127618662-0091485a-845d-4280-9ba6-a1a101185b0b.png)

[2021-07-30 07:57] AdrianMrn commented on #491
yay!

[2021-07-31 08:18] ramytamer commented on #527
It started to happen with me after updating to 1.16.0, whenever I execute `ray()->showQueries()` ray would crash; I can't switch between colors or click any button in the app, and after a couple of seconds, it becomes blank like this:
![image](https://user-images.githubusercontent.com/7445123/127733547-72b16b2c-3641-44bb-a52b-df64d2dc7646.png)

Also noticed before crash that ray may consume over 4

[2021-07-31 21:33] dessimoni commented on #527
I can confirm that after the 1.16.0 update Ray freezes every time it gets a QueryException showing a blank screen.

spatie/laravel-ray                 1.24.2
laravel/framework                  v8.52.0

PHP 8.0.8

MacOS 11.4 on M1

[2021-08-01 20:02] freekmurze commented on #527
@AdrianMrn I could reproduce this by running `php artisan query` in the demo app
https://github.com/spatie/laravel-ray-demo-app/blob/d664896afd4b60c09c5df28be2d6a830fe574915/app/Console/Commands/QueryCommand.php#L11

[2021-08-02 07:14] AdrianMrn commented on #527
I'll take a look at this today.

[2021-08-02 14:28] AdrianMrn commented on #527
I've fixed the issue with queries in 1.17.0. I'm not entirely sure whether it's related to the memory issue, so if the memory issues persist, please open a new issue with reproduction steps!

[2021-08-02 14:28] #527 closed

[2021-08-02 22:22] nijlandvpr opened #530 "Tweak your docs for setting up Ray with docker on Ubuntu"
**Describe the issue**
I could not get anything to display in Ray after initial installation. Here's the situation (and the fix).

**Versions**
Ray version (you can see this in "About Ray"): 1.16.0
spatie/ray package version: 1.29.0
spatie/laravel-ray package version (if applicable): 1.24.2
PHP version: 8.0.8
Laravel version (if applicable): 8.52.0
Docker version: 20.10.7

**To Reproduce**
Steps t

[2021-08-03 09:54] AdrianMrn commented on #530
Hi @nijlandvpr, I can't immediately find the section where this should be added, since I don't have much experience with Linux and Docker 🙈  Are you talking about the `services` code block at the bottom of this page? https://github.com/spatie/ray/blob/main/docs/environment-specific-configuration/docker.md

If you'd like, could you open a PR adding the line you mentioned? This way, the contribution

[2021-08-03 09:57] AdrianMrn commented on #523
I've fixed this in 1.17.0, which will be released today!

[2021-08-03 09:57] #523 closed

[2021-08-03 10:01] AdrianMrn commented on #518
Could you upgrade your app to 1.16.0 and try this again, please? If it still doesn't work, please make sure all your configuration is set to the default, most importantly check that your port matches.

If it still doesn't work, please open a new issue with detailed reproduction steps, or a screen recording.

[2021-08-03 10:01] #518 closed

[2021-08-03 13:06] nijlandvpr commented on #530
Done!

[2021-08-03 13:53] AdrianMrn commented on #530
Thanks a lot!

[2021-08-03 13:53] #530 closed

[2021-08-05 10:22] N-Molham opened #533 "Conflict with other plugins using jean85/pretty-package-versions"
**Describe the bug**
An `OutOfBoundsException` exception get throws while loading my WordPress plugin which has [Sentry SDK](https://github.com/getsentry/sentry-php) which in turns has `jean85/pretty-package-versions` as dependency.

**Versions**
Ray plugin version 1.3.2

PHP version: 7.4

**To Reproduce**
Steps to reproduce the behavior:
1. Create a dummy plugin with composer dependency of `compo

[2021-08-06 17:32] tonyrumans opened #537 "Always on top / Keep this window floating not working"
Ray 1.17.0.0
PHP 7.4
Windows 10

The application window no longer stays on top of other windows. Also, clicking on the task bar icon does not bring the window to the front. You can see it flash on top of another app for a split second but it does not stay on top

[2021-08-09 08:06] AdrianMrn commented on #537
I just tested this on my Windows machine and it seems to work just fine. Could you please try removing the app from your system, and reinstalling it?

If it still doesn't work, make sure no other apps are interfering with the float-on-top behaviour, and create a new issue with reproduction steps.

[2021-08-09 08:06] #537 closed

[2021-08-10 12:47] willemvb commented on #528
<img width="400" alt="image" src="https://user-images.githubusercontent.com/1336390/128869248-14dc72e8-bd58-4cfc-804b-9cda3328c0f9.png">

Hey @jesseleite, will be fixed in next release!

[2021-08-10 12:47] #528 closed

[2021-08-12 08:45] qwertynik opened #543 "Laravel Mailable displayed on Ray not viewable"
**Describe the bug**
Using `ray()->mailable(...)` to log the mailable. However, the mailable logged on the ray screen is not easily viewable.

**Versions**
Ray version: 1.17

You can use `composer show` to get the version numbers of:
- spatie/ray: 1.26.0
- spatie/laravel-ray: 1.19.1

PHP version: 7.4
Laravel version (if applicable): 8.46

**To Reproduce**
1. Log a mailable using ray()->mailable(..

[2021-08-12 08:58] AdrianMrn commented on #543
This seems to work properly on our demo app, could you compare your mailable to the one we have in the demo app, please?

https://github.com/spatie/laravel-ray-demo-app/blob/64d95a54ed8a6bd66c0a26ebcfa7e826e9069a4c/app/Mail/TestMailable.php

![image](https://user-images.githubusercontent.com/12762044/129168982-3dd1e464-bc8f-432c-bcf5-f7dc497ac6f1.png)

[2021-08-12 08:58] #543 closed

[2021-08-12 09:19] qwertynik commented on #543
Thanks for your response @AdrianMrn. Turns out that having HTML and body tag in the  view was causing the issue.

[2021-08-12 09:20] qwertynik commented on #543
But you might want to add the Mail component in the demo app to make it easier to reproduce.

[2021-08-12 09:26] AdrianMrn commented on #543
@qwertynik How do you mean? You can run `php artisan mail` to run the command that displays the Mailable in the app.

[2021-08-13 12:48] binaryk commented on #145
Any news on this one guys? It's very slow and very often frozen when using CMD+SHIFT+K when lots of items.

This makes me rarely use the app, as it cost me a lot of time.

Thank you!

[2021-08-13 12:52] binaryk opened #545 "Slow clear when many items."
**Describe the bug**
Related to this #145. The CMD+SHIFT+K is very slow and froze the app when lots of logs.

**Versions**
Version 1.17.0 (1.17.0)

You can use `composer show` to get the version numbers of:
- spatie/ray 1.27.1
- spatie/laravel-ray 1.23.0

PHP version: 8.0.0
Laravel version v8.49.0

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a command in laravel.
2. Run ray()->showQ

[2021-08-13 16:28] JoshMoreno commented on #442
@AdrianMrn Is this fixed? I'm still having this problem on the latest version `1.17.0`.
For what it's worth, I was never able to use tinkerwell (beyondcode electron app) over ssh, so perhaps it's something on my system. I ran brew upgrade in case that was the problem, but no luck. 😭

[2021-08-14 08:59] qwertynik commented on #543
@AdrianMrn
The demo app you linked [linked](https://github.com/spatie/laravel-ray-demo-app/tree/64d95a54ed8a6bd66c0a26ebcfa7e826e9069a4c) to does not have the mail component due to which the email sending fails.

Resolving that should improve the demo quality of Ray.

[2021-08-15 01:00] scrlkx opened #546 ""Follow OS preference" theme doesn't work o Debian."
**Versions**
1.17.0

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Menu > Preferences
2. Pick the "Follow OS preference" theme
3. Switch between Dark and White theme
4. See that nothing changes on Ray, even if you restart the app

**Expected behavior**
Ray theme should reflect the OS theme changes.

**Screenshots**
![image](https://user-images.githubusercontent.com/22862212/129463658-

[2021-08-15 04:47] Thotsuya opened #547 "Ray not working on some projects"
**Describe the bug**
I followed the steps to install ray, it worked just fine, but when I installed it in another project. It is not sending anything to to ray
anymore, I'm using phpstorm, it just worked out of the box at first, but then it didn't. I even followed the enviroment specific configurations. but nothing is being sent to ray. I'm using laragon.

After digging a bit deeper, I realized th

[2021-08-15 05:36] Thotsuya commented on #547
Update, It seems that spatie/ray version 1.29.1 is not working on my projects, so I downgraded it to 1.29.0 and worked.
Not sure why this is happening. Can anyone from the spatie team or anyone that had experienced this issue give me some insights?

[2021-08-15 09:48] freekmurze commented on #547
This has been fixed in 1.29.2

[2021-08-15 09:48] #547 closed

[2021-08-15 09:59] freekmurze commented on #543
@qwertynik I don't know what you mean, `php artisan mail` does send a mail.

Could you send a PR to our demo app with the case that fails for you?

[2021-08-15 10:08] Thotsuya commented on #547
Can confirm, thanks

[2021-08-16 11:13] AdrianMrn commented on #442
@JoshMoreno The bug outlined in this issue was fixed yes, could you create a new issue with reproduction steps for the issue you are encountering, so we can take a look at it, please?

[2021-08-23 10:11] binaryk commented on #545
Hey @AdrianMrn any news on this one? It's a real blocker. Thank you in advance:

https://www.loom.com/share/6661d482a1694314a9126990f857edfd

[2021-08-24 08:46] AdrianMrn commented on #545
Hey @binaryk, thanks for the detailed report. I'm bundling some Ray issues and we're planning on getting some work done on the lot of them in a couple of weeks. We have noticed some performance issues with the `showQueries` command, among others, and will be paying special attention to fixing these! I'll update you once I've found a working solution.

[2021-08-25 17:48] tylerwiegand opened #549 "Unresolvable dependency resolving when using PHPUnit\Runner\AfterLastTestHook"
**Describe the bug**
When dumping data from a custom PHPUnit extension that hooks into AfterLastTestHook::executeAfterTest(), I receive this console output:
[code]

I've attempted to set every ray.php setting to false, but removing the package does allow the test to pass and the hook to function.

**Versions**
Ray version (you can see this in "About Ray"):

You can use `composer show` to get the v

[2021-08-30 14:05] Levivb commented on #549
Running into a similar issue in phpunit:

The `register_shutdown_function` (https://github.com/spatie/ray/blob/main/src/helpers.php#L54) calls `ray()`
and `ray()` runs `app(LaravelRay::class)->send(...$args);`
`LaravelRay` => https://github.com/spatie/laravel-ray/blob/main/src/Ray.php

needs `Settings $settings` in the constructor
`Settings` needs an `array in the constructor => https://github.com

[2021-08-30 14:30] Levivb commented on #549
this fixes phpunit:

[code]

[code]

[2021-08-30 14:38] Levivb commented on #549
Diff link: https://github.com/spatie/ray/compare/1.29.2...1.30.0#diff-7827dcf8c28ba9d97397f03b4ca75c132540f5c377e253fbc47ef064a373ce73R54

[2021-08-31 17:01] tonyrumans commented on #537
Just wanted to provide an update from my end. A reboot didn't fix it but there were some Windows updates that I went ahead and installed, rebooted, and now everything is fine again. I haven't seen the issue happen since I originally posted so not sure what was going on. I have seen other apps act funny like this and after a Windows update things return to normal so...

[2021-09-01 08:38] AdrianMrn commented on #537
Thanks for the update and glad to hear you got it working!

[2021-09-01 14:05] ibrainventures opened #552 "[V. 1.30.0] Passing a Response fails with ".. must be of the type string, object given .." (works with V. 1.29.2)"
**Before creating a new bug report**
Please check if there isn't a similar issue on [the issue tracker](https://github.com/spatie/ray/issues) or in [the discussions](https://github.com/spatie/ray/discussions).

If you are having troubles connecting your project to Ray, please check [our docs](https://spatie.be/products/ray) first, especially the configuration and environment specific configuration

[2021-09-03 10:46] labomatik commented on #518
The solution for me was to create the ray.php file and make it available on the remote server.

[2021-09-06 07:49] keizah7 opened #553 "Scroll issue"
**Describe the bug**
Found some issue with scroll. Restart doesn't help
If i try scroll fast, this happens.

**Versions**
Version 1.17.0 (1.17.0)
spatie/laravel-ray 1.25.0
PHP 8.0.8
Laravel 8.12

[code]

https://user-images.githubusercontent.com/49227202/132179810-a8d28904-b38e-425e-bd66-c639538667f5.mov

[2021-09-06 08:49] AdrianMrn commented on #553
Thanks for the detailed report!

This is a [known issue](https://github.com/spatie/ray/issues/525) with the virtualized list I implemented in 1.16.0 and the debug logs. I'll be doing some QoL improvements after my holiday, so you can definitely expect a **fix for this in the next month**!

Please let me know if there's anything else that's bothering you about the app, or if you have any other sugg

[2021-09-06 08:49] #553 closed

[2021-09-07 11:39] Levivb commented on #549
Hey, is there an update on this issue? :)

[2021-09-08 10:03] sowrensen opened #555 "Copy to clipboard is not working on Linux"
**Describe the bug**

Just as the title says. A screencast is attached for further clarification.

**Versions**

v1.17.0 (Didn't work on earlier versions either)

**To Reproduce**

I am using `ray()->toJson($something)` method in this case. Just try to copy and paste the output somewhere else.

**Expected behavior**

Content should get copied to the clipboard.

**Screenshots**

https://user-images

[2021-09-08 10:07] slaFFik commented on #49
@spatie-bot it's not possible to reopen it :)

[2021-09-09 06:44] Nielsvanpach commented on #549
No, but we are open for a PR that fixes your issue

[2021-09-15 11:27] io238 opened #559 "Ray not receiving events anymore"
**Describe the bug**
Ray does not receive any events anymore. It used to work in the past, but has stopped working now. I don't recall making any changes to the setup/environment.

**Versions**
- Ray version: 1.17.0.0 (Win)
- spatie/ray package version: 1.30.2
- spatie/laravel-ray package version: 1.25.2

PHP version: 8.0.10
Laravel version: 8.61.0

**To Reproduce**
Steps to reproduce the behavior

[2021-09-15 11:32] io238 commented on #559
![image](https://user-images.githubusercontent.com/26689138/133425689-d22d0ed2-428c-4ff3-87a4-fee5a1dc9530.png)

[2021-09-15 13:04] voidgraphics commented on #553
@AdrianMrn aside from the scroll bug mentioned above, focusing on performance would be very nice. Changing between pages is pretty slow right now, even between pages that do not have many logs in them.

[2021-09-23 12:06] hypnotox commented on #559
I have the same problem since i tried to use it a few days ago. No changes to the setup.
It has worked without any problems before.

Version: 1.17.0
OS: macOS 11.4

I tried it with spatie/ray and spatie/laravel-ray.
Port 23517 is assigned to the process and listening.

[2021-09-23 13:26] GardenRouteGold commented on #319
I have the same issue in a
project i work on

[2021-09-27 10:43] AdrianMrn commented on #559
There haven't been any changes to the way logs are sent or received in quite a while. Could you please try uninstalling the app and reinstalling it, and trying to send messages in a new, clean Laravel app?

[2021-09-27 10:43] #559 closed

[2021-09-27 12:19] io238 commented on #559
I reinstalled the app + also reinstalled Ray into a fresh Laravel app. Still did not work for any project within Docker, nevertheless, I was able to send messages directly from Windows (w/o using Docker).

I was able to get it working again by publishing a fresh version of the docker config into the project root with `php artisan ray:publish-config --docker`.

Other than [stated in the docs](https

[2021-09-28 09:17] AdrianMrn commented on #559
@freekmurze is this something we need to push a fix for?

[2021-09-28 10:17] freekmurze commented on #559
We'll need to see if we can reproduce this.
I think we already have a couple of tests that prove that `ray.php` is getting picked up a parent directory.

I'll take a look soon.

[2021-10-04 22:35] jasonvarga opened #567 "Strings are treated as global functions"
**Describe the bug**

When I try to dump a string like `ray('here')` it works fine.

When you use a string that resolves to a global function, it tries to run it.

For example, `ray('config')` and `ray('app')` when using Laravel, or a silly example: `ray('array_map')`

**Versions**
- Ray version: 1.17.1
- spatie/ray package version:1.30.2
- PHP version: 8.0.8

**To Reproduce**
Steps to reproduce t

[2021-10-11 06:31] tgbao123 opened #574 "I don't see log to dashboard sreen"
**Before creating a new bug report**
Please check if there isn't a similar issue on [the issue tracker](https://github.com/spatie/ray/issues) or in [the discussions](https://github.com/spatie/ray/discussions).

If you are having troubles connecting your project to Ray, please check [our docs](https://spatie.be/products/ray) first, especially the configuration and environment specific configuration

[2021-10-11 08:29] AdrianMrn commented on #574
Please create a new issue and fill out the template.

[2021-10-11 08:29] #574 closed, assigned to nobody

[2021-10-11 19:35] #552 closed

[2021-10-18 19:37] jasonvarga opened #579 "Expanding doesn't always happen"
**Describe the bug**

Sometimes, expanding objects doesn't work.

Here you can see `config` and `request` work, but `events` doesn't. The arrow toggles, but nothing appears.

![Screen Capture on 2021-10-18 at 15-24-29](https://user-images.githubusercontent.com/105211/137794234-05751ad3-ff05-41d6-9707-508f0576c605.gif)

I'm aware this is the Symfony var dumper, but when I try to expand the same thi

[2021-10-19 13:14] jasonvarga commented on #579
Good catch on the arrows, but that doesn't look like it changes anything.

https://github.com/jasonvarga/ray-expand-bug

Visit `/` with ray open, then click through some items inside `instances`.

![Screen Capture on 2021-10-19 at 09-09-06](https://user-images.githubusercontent.com/105211/137916772-7d2c24e1-6973-4f37-b489-40e66c217a09.gif)

[2021-10-22 08:46] fabio-ivona opened #580 "backtrace through a function has a weird rendering in Ray client"
**Describe the bug**
When the backtrace is reporting a frame outside a class, it adds a `null` prefix to the function name in the backtrace representation.

**Versions**
Ray version (you can see this in "About Ray"): 1.18

You can use `composer show` to get the version numbers of:
- spatie/ray package version: 1.30.3
- spatie/laravel-ray package version (if applicable): 1.26.1 (but the same error

[2021-10-25 04:09] lloricode opened #582 "Failed to connect ssh without password [app v1.18.0]"
**Describe the bug**
Connection to ssh `~/.ssh/id_rsa` failed

**Versions**
Ray version (you can see this in "About Ray"): 1.18.0

You can use `composer show` to get the version numbers of:
- spatie/ray package version: not related
- spatie/laravel-ray package version (if applicable): not related

PHP version:
Laravel version (if applicable): not related

**To Reproduce**
Steps to reproduce the be

[2021-10-27 08:12] #580 closed, assigned to AdrianMrn

[2021-11-01 23:59] heshamabdallah opened #586 "Call to undefined method ::payload()"
**Describe the bug**
I have the same issue described here #319

**Versions**
spatie/laravel-ray version: `1.26.1`
spatie/ray version: `1.30.3`
PHP version: `8.0.12`
Laravel version: `^8.54`

**My Job**
[code]

**To Reproduce**
[code]

**Screenshots**
![Screenshot from 2021-11-02 01-53-42](https://user-images.githubusercontent.com/19722460/139757317-079d9092-b86e-409c-a8f3-d2947f0f662c.png)

 **Add

[2021-11-03 09:26] AdrianMrn commented on #525
The collapsed state of the symfony dumps are properly saved in the next version of Ray 🎉

[2021-11-03 09:26] AdrianMrn commented on #553
The collapsed state of the symfony dumps are properly saved in the next version of Ray, performance should already be much better since the big state refactors in 1.18.0.

[2021-11-03 19:45] ryanmortier commented on #559
I just installed Ray for the first time today with Windows and WSL2. I followed the WSL2 instructions in the docs and wondering if this is related to this issue.

I've set a static IP for my windows host and have the IP set in my .env file with the `RAY_HOST` variable.

Inside WSL2 I'm able to connect to ray:

[code]

However, when I try to run `ray('test')`, nothing appears.

[2021-11-04 14:50] ryanmortier commented on #559
@AdrianMrn can this be reopened?

[2021-11-04 15:34] AdrianMrn commented on #559
Hi @ryanmortier, could you please open a new issue with the information from your above comment? We like to keep these kind of issues separate, in case they're not entirely related to the same cause. This way, you'll also fill out the issue template, and we get more information to help us debug this problem.

Feel free to refer to this issue when creating yours.

[2021-11-04 17:38] ryanmortier opened #590 "Ray not receiving events on Windows with WSL2"
**Before creating a new bug report**
Ref #559

**Describe the bug**
I'm a first time Ray user and I've installed the Windows app and followed the WSL2 instructions. I've set a static IP for my PC and other electron apps are receiving events from WSL2 using this static IP, namely HELO from BeyondCode.

**Versions**
v1.18.1 (Windows)

You can use `composer show` to get the version numbers of:
- spat

[2021-11-04 17:46] ryanmortier commented on #590
Wow, nevermind. I forgot to publish the config so the .env variable must not have been working.

[2021-11-04 17:46] #590 closed

[2021-11-05 06:22] futureclient opened #591 "Don't work connect to server button"
**Describe the bug**
After upgrading to 1.18.1.0, I can't connect to the server. When you click the connect button, a popup appears with an error
Error: An object could not be cloned.
The server was deleted after being added again. The error is repeated. The connection to the server is used via a password.

**Versions**
1.18.1.0

PHP version: 7.4

![image](https://user-images.githubusercontent.com

[2021-11-05 07:44] nnerijuss commented on #591
Same here - macos monterey

[2021-11-05 08:32] gkimpson commented on #591
Same on MacOS BigSur using Intel iMac - I am trying to find a way to download an older version of Ray but having no success so far

[2021-11-05 08:52] patjun commented on #591
Same here - macos Catalina - Intel Mac

[2021-11-05 09:17] AdrianMrn commented on #590
Great to hear you got it working! 😁

[2021-11-05 09:19] AdrianMrn commented on #591
My bad, releasing a fix now. 1.18.2 should be live in about 10-15 minutes 😁

[2021-11-05 09:25] #591 closed

[2021-11-05 09:30] patjun commented on #591
Works for me. Thanks for the quick fix.

[2021-11-05 09:57] rkmaier commented on #582
Same issue in the latest version on Windows con't connect using ssh

[2021-11-05 10:27] AdrianMrn commented on #582
@lloricode Am I correct in assuming you are no longer encountering this issue?

@rkmaier Could you please create a new issue, detailing exactly what error you're getting and how to reproduce it? Thanks!

[2021-11-05 10:27] #582 closed

[2021-11-05 11:46] lloricode commented on #582
thanks will check this later 💯

[2021-11-05 12:13] rkmaier commented on #582
@lloricode Latest version 1.18.3 solved it

[2021-11-08 22:33] weezard opened #592 "Cannot connect to ssh using private key with no password"
**Describe the bug**
Ray ask password for private keys without passwords.

**Versions**
1.18.3

PHP version: 8.0.6
Laravel version: 8

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Servers
2. Create a new server connection and use a Private key without password.
3. Press save
4. Connect to the new server connection.

...Ray ask for passphrase. If Save is pressed it ask again.

**Expec

[2021-11-09 12:50] AdrianMrn commented on #592
Same as https://github.com/spatie/ray/issues/582, I'll have a look at this this week.

[2021-11-10 08:12] AdrianMrn commented on #592
Are you sure your private key file is not encrypted with a passphrase? I've just checked, and we only show the prompt in case the error includes one of these three phrases:
- `private key detected, but no passphrase given`
- `private OpenSSH key detected, but no passphrase given`
- `Bad passphrase`

Could you try removing the server from the Ray server list and adding it again, or creating a new p

[2021-11-10 08:12] #592 closed

[2021-11-10 11:29] sunscreem opened #593 "Window version freezes and CPU spikes after dumping a specific object"
**Describe the bug**
Super keen to start using ray but found a problem straight out of the gate. It works great until I dump a particular object then it freezes (some function still work but mostly its frozen) and CPU usage jumps to 100% for about 2 minutes.

**Versions**

1.18.3

PHP version: 8.0.10
Laravel version (if applicable): 8.62.0

**To Reproduce**
I can dump most things into Ray no probl

[2021-11-10 11:31] sunscreem commented on #593
I'm not sure if this helpful but when I dump the same object to the console instead I notice it's HUGE.

(I'm using Statamic which seems to have a lot of routes coming up in the dump)

[2021-11-10 12:13] sunscreem commented on #593
Okay - further investigation and I found that dumping any object that contains an instance of the laravel `url()` helper causes Ray to crash.

[2021-11-10 15:59] jesseleite opened #594 "Ray won't dump if a string value of `value` is passed"
**Describe the bug**

Ray doesn't seem to want to dump if a string of `value` is passed as one of the args...

**Versions**

- spatie/ray package version: 1.30.3
- spatie/laravel-ray package version (if applicable): 1.26.1
- PHP version: 8.0.12
- Laravel version (if applicable): 8.68.0

**To Reproduce**

- Dump to ray with a string of `value`
    - ie. `ray('value')` or `ray('value', $someValue)`

[2021-11-11 09:46] freekmurze commented on #594
Thanks for reporting. This has been now fixed in the latest version of spatie/ray.

[2021-11-11 09:46] #594 closed

[2021-11-11 09:48] freekmurze commented on #593
I tried this code

[code]

And using all the latest releases, that seems to be working.

<img width="841" alt="CleanShot 2021-11-11 at 10 47 47@2x" src="https://user-images.githubusercontent.com/483853/141276495-f67b9070-05f4-402d-8cd6-db205e6e219f.png">

[2021-11-11 10:47] sunscreem commented on #593
Thanks @freekmurze. When I'm trying the same it crashes. I'm now fairly convinced that the payload being sent to ray is absolutely huge.

![image](https://user-images.githubusercontent.com/7523595/141285066-1ec22f1b-5329-4e95-9198-2e879715d052.png)

The problem is I can't prove it as I can't work out how to see the payload being sent.

If I `dd()` or `Log::info` in both cases they just return the

[2021-11-12 09:29] AdrianMrn commented on #593
I can reproduce this on my intel Mac, however I don't think this is something we can reliably deal with as the url() helper is over 0.5MB in size and needs to be evaluated by the symfony dump script to get the collapsibles to work.

I've loosened the rules by which the log table decides whether to rerender items, this might help your case a bit, but I think it won't solve it 100% :(

@freekmurze i

[2021-11-14 22:40] weezard commented on #592
Very sure is not encrypted with passphrase. I can connect directly to remote server from Terminal with that key.

Also tried removing and re adding the server same error.

Meanwhile i'm using version 1.17.1 which works perfectly.

[2021-11-15 07:50] freekmurze commented on #593
I'm afraid we can't solve this easily...

[2021-11-15 08:51] AdrianMrn commented on #593
@sunscreem if this is a critical issue that you cannot work around, I'll consider adding a "low-performance" option (no offence implied 🙈) in the app, which stops huge logs from being evaluated. This isn't a perfect solution, as it would stop you from being able to collapse the items in the dumps, but it would at least stop the app from freezing.

[2021-11-15 08:51] #593 closed

[2021-11-15 09:49] AdrianMrn commented on #592
I've just tested this thoroughly, and all seems to be working like it should…

1. Create a new key without a passphrase using `ssh-keygen -t rsa`, giving it a name and no passphrase
2. Use this new key as a server's `private key path`
3. Try to connect
4. Get an `All configured authentication methods failed` error, as expected

Could you please check if this command asks you for a passphrase `ssh-

[2021-11-15 11:03] sunscreem commented on #593
@AdrianMrn I reworked my application to just use a string instead of the url() helper in the end. It sort of messes with my brain as when I `dd(url('whatver'))` you just get a string, yet with ray it's trying to send the huge payload as you suggested. Weird one!

[2021-11-15 21:42] weezard commented on #592
You are right. I tried the `ssh-keygen -y -f ~/.ssh/my_key` command and the private key asks me for a password. I checked why it hasn't asked for a password before and the key was been preloaded by `ssh-keygen -K <key>` from .zshrc without asking for password. I was able to use it in other apps without asking password. This machine was installed from a company backup.

It's working now with a new

[2021-11-16 15:59] vesper8 opened #595 "select-all + copy inside Ray is somehow being limited and not copying everything"
I'm a bit baffled as to what is going on here. Using the latest version of Ray on Mac, if I focus inside Ray and use the keyboard shortcut to "Select all" it does appear to select everything, it highlights everything, even if I have quite a long list of items.

But then when I hit the keyboard shortcut to "copy", for some reason it only only copies a small subset of all highlighted entries.

Essen

[2021-11-18 13:31] noge075 opened #596 "Can't update from 1.18.4 to 1.18.5"
Hello!
I got the update available message from Ray (windows) application as usual, but now If I restart the application and the install process finished, I always get the same update available message.

As you can see on the image, the version stays on 1.18.4.

**Versions**
Ray version (you can see this in "About Ray"): 1.18.4.0

**To Reproduce**
Steps to reproduce the behavior:
1. Click on "Resta

[2021-11-19 11:52] underdpt commented on #596
Hello,

To add more info, this also happens when installing from the download page. You download version 1.18.5 but when you launch it, the update message appears, and also it shows version 1.18.4.0 on "About Ray" menu option.

Finally, on the release notes page there's no mention of version 1.18.5.

[2021-11-21 20:44] sandersjj opened #597 "Ray not working Mac OS Big sur"
**Describe the bug**
Hey I am running a statamic project on laravel valet. When I want to debug some variables or anything liie `ray('hello')`, no ouput is whown to the ray app.

**Versions**
Version 1.18.5 (1.18.5)

You can use `composer show` to get the version numbers of:
- spatie/ray package version: 1.31.0
- spatie/laravel-ray package version (if applicable): 1.26.2

PHP version:
Laravel vers

[2021-11-22 08:47] AdrianMrn commented on #596
@noge075 @underdpt Are you still experiencing this issue after the weekend? Could you try choosing `later` when the update dialog comes up, restart Ray a minute later, and see if that changes anything?

[2021-11-22 09:20] underdpt commented on #596
Hello,

I tried with your instructions, I'm sorry the issue still exists.

[2021-11-22 09:20] slaFFik opened #598 "Windows: incorrect notification title in Notifications Center"
**Describe the bug**
Internal app identifier is used as a notification title: `electron.app.Ray`

**Versions**
Ray version (you can see this in "About Ray"): 1.18.4

**Expected behavior**
The Windows notification should have a proper title, at least something like `Ray`.

**Screenshots**
![image](https://user-images.githubusercontent.com/282234/142834990-6bd363fa-5b9b-40e3-99d3-ba7d91f25ea7.png)

[2021-11-22 12:14] AdrianMrn commented on #598
I think this is because of a bug in 1.18.4, please let me know if the error persists for the next update (1.18.6 or 1.19.0).

[2021-11-22 12:14] #598 closed

[2021-11-23 12:24] AdrianMrn commented on #596
Could you please have a look where your application is installed and delete all the files, then download the app from the website again? It's possible that because of my error in 1.18.4 that 2 installations of the app exist on your system, which could be causing the issue.

The default install location on a Windows machine is (I believe) `C:\Users\yourname\AppData\Local\Programs`. Here, delete bot

[2021-11-23 12:24] #596 closed

[2021-11-23 12:25] AdrianMrn commented on #597
@riasvdv Do you know if any specials steps are needed to get Ray working on Statamic?

[2021-11-23 12:30] underdpt commented on #596
Solved, thanks!

[2021-11-23 12:37] AdrianMrn commented on #596
Great to hear, thanks for your patience!

[2021-11-24 10:58] gjportegies commented on #442
I'm currently running version 1.18.5 but getting this error as well when trying to connect.

[code]

Other than @JoshMoreno I am able to connect to the same server and key with Tinkerwell.

[2021-11-24 11:02] gjportegies commented on #442
I managed to 'fix' the error by converting the private key file from OpenSSH private key format to PEM format. I've found that solution for a simalar issue here: https://slacker.ro/2021/04/15/vscode-sftp-plugin-connecting-with-private-key-erroropenssl_internaldecode_error/

`ssh-keygen -p -m PEM -f ~/.ssh/<private-key-file>`

[2021-11-24 15:14] Wit3 commented on #586
Same error

[2021-11-24 18:10] sandersjj commented on #597
@AdrianMrn it should work out of the box. No special steps needed.

[2021-11-25 10:30] freekmurze commented on #597
Ray simply listens on port 23517 for incoming requests. Is there anything on your system that might already be using this port?

You could also try to create a minimal example. Run "composer require spatie/ray" in an empty directory, create an `index.php`, and include the generated autoloader. In that script, also try to add `ray('hello'); `. Excute that file with `php index.php` and take a look i

[2021-11-25 17:09] sandersjj commented on #597
Do I need to do anything more than that?  B/c I did exactly as you mentioned, in an empty folder.
It installed version 1.31

`php index.php`  resulted in `Fatal error: Uncaught Error: Call to undefined function ray() in`

[2021-11-25 19:32] benjamin74 opened #600 "Make timestamp column wider AND / OR make labels fit on multiple lines"
Hello,

The width of the timestamp column (left) is too narrow to display labels that are slightly long.

Two solutions : make the column wider and/or make the labels fit on multiple lines if needed.

e.g. of a label that doesn’t look good: ->label('Campaign name & ID'), will only display "Campaign ..."

Thanks,

A lifetime fan ;-)

[2021-11-25 19:39] benjamin74 opened #601 "Calling ray()->separator(); triggers an error 500"
Hey,

Ray App: Version 1.18.3 (1.18.3)

Ray php: 1.31.0

Server: PHP 7.4.21 (cli) (built: Jul  8 2021 19:38:45) ( NTS )
Copyright (c) The PHP Group
Zend Engine v3.4.0, Copyright (c) Zend Technologies
    with Zend OPcache v7.4.21, Copyright (c), by Zend Technologies

When calling : ray()->separator(); it creates an error 500 right at the point where the ray()->separator(); is called... i.e. Ray ca

[2021-11-25 19:47] freekmurze commented on #601
Do you have more info on the error or exception being thrown?

[2021-11-25 21:27] freekmurze commented on #597
Have you included the autoloader created by composer?

[2021-11-26 06:34] benjamin74 commented on #601
Yes:

Fatal error: Uncaught BadMethodCallException: Method separator does not exist. in /home/nginx/domains/mydomain.com/public/apihook-PROD/vendor/spatie/macroable/src/Macroable.php:66 Stack trace: #0 /home/nginx/domains/mydomain.com/public/apihook-PROD/src/fb_cost_handler_adset_level.php(130): Spatie\Ray\Ray->__call() #1 {main} thrown in /home/nginx/domains/mydomain.com/public/apihook-PROD/vendo

[2021-11-26 08:06] freekmurze commented on #601
It seems like you are not using the latest version of the packe on the
server.

On Fri, 26 Nov 2021 at 07:34, benjamin74 ***@***.***> wrote:

--
Freek Van der Herten https://spatie.be +32 495 84 27 91

[2021-11-26 08:17] AdrianMrn commented on #600
@willemvb thoughts?

[2021-11-26 10:21] benjamin74 commented on #601
I'm using 1.31.0 which is what github mentions as the latest (?)

composer.phar show

brick/math                    0.9.3   Arbitrary-precision arithmetic library
facebook/php-business-sdk     12.0.0  PHP SDK for Facebook Business
guzzlehttp/guzzle             7.4.0   Guzzle is a PHP HTTP client library
guzzlehttp/promises           1.5.1   Guzzle promises library
guzzlehttp/psr7               2.1

[2021-11-26 10:28] freekmurze commented on #601
It seems like we messed up the release. The function is available in the newly released  v1.32.0 of the package.

Thanks for bringing this issue to our attention.

[2021-11-26 10:28] #601 closed

[2021-11-26 10:55] sandersjj commented on #597
Got it working now in a simple example.
However when I do a `ray('hello`);` right after `require __DIR__.'/../vendor/autoload.php';` in the `public/index.php` I get no output.

I also checked what listens on port `23517` this is just Ray.

So in conclusion: working in a very basic example, however not in a statamic/ laravel project.

[2021-11-26 17:41] haneez commented on #597
@sandersjj Make sure the .env has it set to APP_ENV=local.

[2021-11-26 18:11] hypnotox commented on #597
Same issue as @sandersjj.
It does work if i setup a small example project, require spatie/ray and call `ray("TEST")`.
It also works with a new Laravel project and both spatie/ray and spatie/laravel-ray.
But it does not work with a Laravel 8 project where it has worked before.

I reinstalled ray, dropped spatie/laravel-ray and used spatie/ray directly, removed vendor and reinstalled all dependencie

[2021-11-27 11:40] freekmurze commented on #597
You could try to determine if your app is really sending something to Ray, by adding maybe a var_dump statement here: https://github.com/spatie/ray/blob/d7ec299dd01a930994bd798ae9611fdf573c3dec/src/Client.php#L63

[2021-11-27 20:04] sandersjj commented on #597
I can confirm that my APP_ENV is set to local.

The `var_dump` results in:

`object(Spatie\Ray\Request)#48 (3) {
  ["uuid":protected]=>
  string(36) "97541dee-df28-4f12-8db1-a6c2f7f25e65"
  ["payloads":protected]=>
  array(1) {
    [0]=>
    object(Spatie\Ray\Payloads\LogPayload)#50 (3) {
      ["values":protected]=>
      array(1) {
        [0]=>
        string(5) "hello"
      }
      ["remotePa

[2021-11-27 20:07] freekmurze commented on #597
From that point on it will try to send a message to ray via port 23517. Is that port free on your machine?

[2021-11-27 20:24] sandersjj commented on #597
`lsof -nP -iTCP -sTCP:LISTEN | grep 23517` returns Ray

[2021-12-01 19:27] RhysLees commented on #191
My solution was to add this into my .bashrc file it creates a new etc/hosts entry in WSL2 named  `winhost`.
It will change the IP when the IP is changed after restarting WSL2
I'm not sure of security risks but it works fine for me

use `winhost` instead of `localhost` in .env

[code]

[2021-12-02 04:37] thelaarn opened #606 "Ray was unable to bind to the remote server's port"
**Describe the bug**
Cannot connect to a remote server and get the error message 'Ray was unable to bind to the remote server's port. Is the port in use or is someone else using ray on this server?'

**Versions**
Ray version (you can see this in "About Ray"): Version 1.19.0

You can use `composer show` to get the version numbers of:
- spatie/ray package version:
- spatie/laravel-ray package versio

[2021-12-09 21:22] deligoez commented on #417
I just needed the same behavior and the answer is `text()` function of Ray

[code]

[2021-12-13 09:53] willemvb commented on #600
@AdrianMrn I'd have a look at making it wider first -especially on larger screens widths.

[2021-12-20 05:17] eboye commented on #58
I'm missing the icon on Manjaro, latest version 1.19.0

[2021-12-21 10:57] abkrim opened #611 "Ray not open files in PHPStorm, Atom, VScode in Ubuntu 20.04"
I put same issue in discussion. After some time, put here, because I think is a mistake.

On documentation, not show anything about problems with ray and open with external apps.

I have tried different configurations with different editors, opening the files from the ray itself.

In all cases, the error message is the same: There is no manager for the archive.

I think the command to open files i

[2021-12-21 13:29] AdrianMrn commented on #611
I think for Linux you need to install URL protocols, eg for code: https://github.com/shengyou/vscode-handler or phpstorm: https://github.com/aik099/PhpStormProtocol

[2021-12-21 13:29] #611 closed

[2021-12-21 18:40] abkrim commented on #611
Hi.
Sorry but that doesn't quite work almost with PHPStorm

Ray send url decode `%2Fhome%2Fuser.... ` instead a normal string '/home/user/...'.

![Castris_20211221_192924](https://user-images.githubusercontent.com/1238625/146980760-b2cf6908-12b8-4dc2-9575-517b7285f1c3.jpg)

README of phpstrom-url-handler

[code]

Thanks.

[2021-12-22 12:09] AdrianMrn commented on #611
I've added this issue to our internal issue tracker and will have a look at it sometime in the next couple of weeks!

[2021-12-22 12:11] abkrim commented on #611
A lot of thanks.

[2022-01-09 17:24] blchv opened #621 "Cannot change the way links to files are generated for PHPSTORM (Windows)"
**Before creating a new bug report**
I was not able to find any information on this topic

**Describe the bug**
It is not possible to open a file in PHPSTORM by clicking the file link in the Ray Windows app.
`phpstorm://open?file=[path/to/file]` is not working for me even after the steps suggested in the documentation (reg edit and stuff).
That being said, I have another way to open files via link

[2022-01-10 11:05] #549 closed

[2022-01-10 11:19] slaFFik commented on #49
It's not possible to reopen it :) There is no such button for regular users.

[2022-01-11 13:08] AdrianMrn commented on #49
We've ordered a new key to have another go at this. Hoping to get this one done this or next week.

[2022-01-11 13:10] AdrianMrn commented on #621
I've created an issue for this in our internal issue tracker. I'll probably add a "custom" option to the selectinput, which allows you to enter your own string that accepts `{FILE}` and `{LINE}` placeholders that will be replaced when clicking on a file link.

[2022-01-11 15:44] kiana133 opened #622 "Ray NOT working in php7.4 but working in php8.0"
**Describe the bug**
When I am on a php 7.4 project, ray stopped working for me (but works for other members of my dev team in the same project), and in php 8.0 it works fine. I have looked through the other issues and none helped. I tried doing
- ray()->enable() but no luck,
- updating dependencies,
- composer install or composer update.

**Versions**
- Ray version: 1.19.0
- spatie/ray package ve

[2022-01-12 09:17] patinthehat commented on #622
@kiana133 Can you provide a small sample repository that demonstrates the issue you're having? I am unable to replicate locally.

[2022-01-13 07:45] slaFFik opened #623 "Popups should be on top of the Ray app"
**Describe the bug**
Popup which tells whether a new version available is hidden behind the Ray app itself.
Same with the popup about the Ray version.

Those 2 should have a higher "z-index" (if speaking in CSS terms) to be on top of the Ray app because they are triggered manually and user expects them to see. But when the Ray app is placed exactly in the middle of the screen - it covers those sma

[2022-01-13 13:27] AdrianMrn commented on #611
In the next version (releasing in a couple of weeks), you can set a custom editor url:
![image](https://user-images.githubusercontent.com/12762044/149338701-a1a64ede-b93e-4be1-b529-4fceecdbaf80.png)

Please let me know if the URL is still being decoded, and I'll have another look at this.

[2022-01-13 16:23] AdrianMrn commented on #621
The above change will be included in the next release (in a few weeks).

[2022-01-13 16:23] #621 closed

[2022-01-13 16:24] AdrianMrn commented on #597
I'm going to close this issue because it's been inactive for a while. Let me know if you still need help with this problem!

[2022-01-13 16:24] #597 closed

[2022-01-13 16:25] AdrianMrn commented on #586
I'm going to close this issue because it's been inactive for a while. Let me know if you still need help with this problem!

[2022-01-13 16:28] AdrianMrn commented on #606
Does restarting the server fix this? Have you been able to connect Ray to the server before?

I'm going to close this issue because it's been inactive for a while. Let me know if you still need help with this problem!

[2022-01-13 16:28] #606 closed

[2022-01-13 16:51] blchv commented on #621
@AdrianMrn thanks! I'm looking forward to the next version. Take care!

[2022-01-14 09:14] #622 closed

[2022-01-16 07:45] imClement opened #624 "VScode integration - broken link"
**Describe the bug**
I have on the .env file
`RAY_LOCAL_PATH=/home/username/Projects/MyProject/`

But when I click on the file in Ray the link to the file use an extra 'html' folder so the file is not found.

 `~/Projects/MyProject/html/app/Models/User.php`

**Versions**
Ray version (you can see this in "About Ray"): 1.19.0
- spatie/ray package version: 1.33.0
- spatie/laravel-ray package version

[2022-01-17 09:01] AdrianMrn commented on #624
@freekmurze Any idea where this rogue `html` in the filepath could be coming from?

[2022-01-17 21:14] dabernathy89 opened #626 "Cannot change port in Ray app (MacOS)"
**Describe the bug**
The port inside of Ray's settings page always reverts to `23517` after closing the settings screen.

**Versions**
Ray version: 1.19.0

- spatie/ray package version: 1.33.0 (shouldn't be relevant)

PHP version: 7.4 and 8.0
Laravel version (if applicable): 8.79.0 (shouldn't be relevant)

**To Reproduce**
Steps to reproduce the behavior:
1. Open Ray
2. In the menubar, open the se

[2022-01-18 09:17] AdrianMrn commented on #626
We're releasing a new version of Ray in a couple of weeks where the entire preferences window has been overhauled, so your issue will be fixed.

Let me know if this issue is very pressing, and I'll see if I can make a patch build for you.

[2022-01-18 09:17] #626 closed

[2022-01-18 15:34] dabernathy89 commented on #626
No rush on my end. Thanks!

[2022-01-24 14:40] sergionader opened #630 "Ruby Not Working"
Hello,

I've followed the Ruby install instructions (https://spatie.be/docs/ray/v1/installation-in-your-project/ruby) and after restarting the ruby server and also restarting Ray, I got the following error when trying something like
`ray(varName)`
```#<NoMethodError: undefined method `ray' for #<Api::V1::AdminsController:0x000056054977aae8>
Did you mean?  rand>```

Am i missing anything?

Thanks!

[2022-01-26 11:47] elvispt opened #631 "Dumping the string `date` shows false on app"
**Describe the bug**
When dumping the string "date" `ray('date')` the ray application shows false.

If I set `exit` right after the ray function call, I also get this error on the page:
`Warning: date() expects parameter 1 to be string, object given in /var/www/html/app/plugins/spatie-ray/vendor/spatie/ray/src/Ray.php on line 455`

It's clear it's attempting to run the date function, but it should

[2022-01-30 12:55] axelitus commented on #623
I can confirm I'm having the same issue:
![image](https://user-images.githubusercontent.com/732441/151700601-9db485bd-5c16-4421-96d0-2ff7beef07f7.png)

[2022-01-30 13:10] axelitus commented on #623
This happens only when "Always on top" is set to "Yes":
![image](https://user-images.githubusercontent.com/732441/151701068-c33f6440-3acf-40d0-a567-f504ef7be61f.png)
![image](https://user-images.githubusercontent.com/732441/151701072-4dc00b6e-ce10-4c07-a0bd-36f501a403a3.png)

[2022-02-03 19:48] kemp commented on #631
That would probably be because of this line:

https://github.com/spatie/ray/blob/fa2b3e64a93717ccf478a701048181a515eef2a3/src/Ray.php#L639

[2022-02-07 10:01] elvispt commented on #631
@kemp I do believe this is unexpected behavior. I came across this when I was dumping the value that was on an array: `ray($arr['level1']['level2'])` and was confused when ray was showing false, when I expected the value to be a string from a predefined list. I thought my code had a bug.

[2022-02-09 10:34] Nielsvanpach commented on #631
This is already fixed and released: https://github.com/spatie/ray/commit/41412bca9add3374a13310f6e5ceef54633f6bfd
You are using 1.19.0 while the latest release is 1.33.2, the issue should be fixed after upgrading.

Sending 'date' as string and array both seem to work fine on the latest release.

<img width="687" alt="Screenshot 2022-02-09 at 11 32 28" src="https://user-images.githubusercontent.com

[2022-02-09 10:34] #631 closed

[2022-02-09 11:31] elvispt commented on #631
Hi @Nielsvanpach
I checked if I have the latest version on the app, and it says I have the latest v1.19.0.

I went to the purchases page to download, and it gives me the same version. Can you tell me where to get the latest? It's the Apple Intel version.

Thanks

[2022-02-19 21:09] genesiscz opened #641 "ray()->measure is useless as it counts the trip time to ray into its execution time"
**Describe the bug**
So when you do `ray()->measure("ha"); ray()->measure("ha");` you get this
<img width="404" alt="image" src="https://user-images.githubusercontent.com/1512353/154818997-6297367b-3bc2-4769-9440-e85e433c150f.png">

which pretty much loses all the sense to use since it measures the trip time to report the timer to ray (I guess?).

Additionally, would it be a possibility to somehow

[2022-02-22 17:03] levu42 opened #643 "Linux: No way to copy-paste link URLs"
When I display a Mailable in Laravel, I get a beautiful rendering of the HTML, however there are buttons in there that have a link address and the ray app (on linux) gives me no way of copy-pasting the URL, since there is no context menu. Copy pasting of other text works with Ctrl+C after marking it with the mouse, but it would be great to have at least a minimal context menu for copying the URL o

[2022-03-03 22:16] dabernathy89 commented on #626
Hey @AdrianMrn - just wanted to check and see if this fix is still on the release schedule?

[2022-03-04 12:48] AdrianMrn commented on #626
Since this release is pretty big, we're taking some extra time to make sure everything works OK. We will definitely publish the release within the next 2 weeks.

[2022-03-07 09:43] jonathan-dejong opened #648 "Unable to run global-ray install"
**Describe the bug**
Trying to install `global-ray` on my CentOS remote dev env using this https://spatie.be/docs/ray/v1/installation-in-your-project/framework-agnostic-php#content-global-installation

I've got a sudo user but not using the root user (as one should not).
When I've installed it through composer I can run:
`global-ray install` which will then result in:

`Warning: file_put_contents(

[2022-03-07 11:34] freekmurze commented on #648
I don't have access to a CentOS environment, so I can't test this out. I'd accept a PR that solves this for you.

That fatal error you're getting can be solved like this: https://github.com/spatie/global-ray#troubleshooting

[2022-03-07 12:00] jonathan-dejong commented on #648
Hi @freekmurze  thank you for a very quick response :)

Yes I've resolved it already by removing that line from my php.ini so all good there.
Will see what I can work out with my friends here on why this happens.

Just to be clear on the process if I have a remote server. This is my interpretation of what is needed:

**Locally**
- Install the Ray app
- Connect it to the remote
- Start developing u

[2022-03-07 13:27] freekmurze commented on #648
That's correct!

[2022-03-09 09:00] tdwesten commented on #549
I got the same error when running xdebug and ray together running PHP8.1;
[code]

But maybe I'am missing a setting?

[2022-03-16 21:10] freekmurze commented on #648
Duplicate of #16

[2022-03-16 21:10] #648 closed

[2022-03-17 13:40] vicenterusso opened #656 "Colorblind Buttons not visible"
**Describe the bug**
Color blind buttons not visible on version 2

**Versions**
Ray version: 2

**Screenshots**
![image](https://user-images.githubusercontent.com/80538/158820622-bf453122-838f-49f5-8e92-c75b3d5fe19d.png)

**Desktop (please complete the following information):**
 - OS: Linux

[2022-03-18 11:07] #595 closed

[2022-03-18 16:17] vicenterusso opened #657 "Can't copy or select queries"
**Describe the bug**
Can't use "copy all" button on select queries, (`ray()->showQueries()`) and can't manually select and copy after update to 2.0.

Before the update, the copy button didn't work but **I was able** to manually select and copy.

Edit: Can't select any text, not only queries, arrays, object, or pure string. Please fix asap 🙏🏼

**Versions**
2.0.0

**Desktop (please complete the foll

[2022-03-20 10:46] nlemoine commented on #606
@AdrianMrn I'm having the same issue here. Is there any way to access some logs about what's going wrong in the SSH connection?

[2022-03-20 16:26] andreifiroiu commented on #657
Same on MacOs Monterey and it's quite annoying :(

[2022-03-20 16:49] freekmurze commented on #657
We'll fix this early next week

[2022-03-21 08:08] AdrianMrn commented on #657
Will be fixed in 2.0.1 releasing today

[2022-03-21 08:08] #657 closed

[2022-03-21 08:09] AdrianMrn commented on #606
@nlemoine I've had this issue myself as well and haven't been able to debug it, sadly we're currently not keeping any logs for errors at this moment, we might add this in the future.

The only reliable solution I've found is to -however unpractical- reboot the remote server.

[2022-03-21 08:45] nnerijuss opened #660 "Unable to select/copy text from ray app"
**Describe the bug**
Unable to select/copy any output from ray app.

**Versions**
ray app: 2.0.0

PHP version:
7.4

**To Reproduce**
Steps to reproduce the behavior:
1. Print any output to ray
2. Try to highlight/select output
3. Try to copy(ctrl+c/cmd+c)
4. Nothing hapens

**Expected behavior**
Should allow select and copy any text from output in ray app.

**Macbook:**
 - OS: Macos
 - Version 12.

[2022-03-21 08:53] xitox97 commented on #660
Same, I also having this issue.

[2022-03-21 08:56] nlemoine commented on #606
Thanks for the prompt reply! :) It's actually impossible because I'm having this issue on a cheap shared hosting... (I don't have any other choice on a particular project) so reboot isn't an option.

But SSH works on that host from my terminal, so I wonder why Ray can't establish connection to it. And besides "ray was unable to bind..." I can't get any valuable information. Let me know when some k

[2022-03-21 10:17] freekmurze commented on #660
This has been fixed in the newly released 2.0.1

[2022-03-21 10:17] #660 closed

[2022-03-21 11:49] vicenterusso opened #661 "Copy Query Button"
**Describe the bug**
The copy button for queries never worked to me. **I consider a minor** bug because I can select like normal text. Is this a bug that happens on Linux only?

Maybe a KDE specific problem?

**Versions**
Ray version 2.01

**Desktop (please complete the following information):**
 - OS: Kubuntu
 - Version 21.04

[2022-03-22 08:58] AdrianMrn commented on #661
Duplicate of https://github.com/spatie/ray/issues/555, sorry we haven't gotten around to fixing this yet!

[2022-03-22 08:58] #661 closed

[2022-03-22 10:25] willemvb commented on #656
Fixed for next release!

- On MacOS I now truncate with a little mask, since space is very limited.

<img width="424" alt="image" src="https://user-images.githubusercontent.com/1336390/159459143-dd8b7f1b-ede2-414d-b373-e26259411ec1.png">

- Especially `green` and `gray` could be confusing truncated, so tooltips to the rescue here:

<img width="149" alt="image" src="https://user-images.githubuserco

[2022-03-22 10:25] #656 closed

[2022-03-23 15:59] ronfuller opened #664 "Cannot copy any output values from ray window"
**Before creating a new bug report**
Please check if there isn't a similar issue on [the issue tracker](https://github.com/spatie/ray/issues) or in [the discussions](https://github.com/spatie/ray/discussions).

If you are having troubles connecting your project to Ray, please check [our docs](https://spatie.be/products/ray) first, especially the configuration and environment specific configuration

[2022-03-23 16:35] freekmurze commented on #664
If you upgrade to the newest version of the Ray desktop app (2.0.1), you'll find that selecting text is working again 👍

[2022-03-23 16:36] #664 closed

[2022-03-24 03:09] ronfuller commented on #664
Thank you so much. You guys build great software. I can confirm it works
after the upgrade.

Ron

On Wed, Mar 23, 2022 at 9:36 AM Freek Van der Herten <
***@***.***> wrote:

[2022-03-25 12:38] B0bbyD0llar opened #666 "Activating/checking license through a proxy"
**Before creating a new bug report**
Please check if there isn't a similar issue on [the issue tracker](https://github.com/spatie/ray/issues) or in [the discussions](https://github.com/spatie/ray/discussions).

If you are having troubles connecting your project to Ray, please check [our docs](https://spatie.be/products/ray) first, especially the configuration and environment specific configuration

[2022-03-25 13:55] freekmurze commented on #666
Could you contact info@spatie.be with this problem, mentioning the email address you are using and license key?

[2022-03-25 13:55] #666 closed

[2022-03-25 20:50] outofcontrol opened #667 "Ray missing arguments that laravel logs show when calling Log::*"
**Description**
The output in Ray, when using Log::debug (or any thing) is missing the arguments that appears in Laravel logs.

**Versions**
Ray version:  2.0.1

- spatie/ray package version: 1.33.1
- spatie/laravel-ray package version (if applicable): 1.29.4

PHP version: 8.0.1
Laravel version (if applicable): 8.80.0

**To Reproduce**
web.php
[code]

TestController.php
[code]

.env
[code]

storag

[2022-03-28 13:52] willemvb commented on #600
Will be fixed in next release!

- Larger column width
- Tags can break over multiple lines

[2022-03-29 16:52] TiiFuchs opened #669 "Cannot quit Ray on macOS"
**Describe the bug**
Ray cannot be closed on macOS. When triggering a shut down of the computer, Ray always stops this.
You always have to Force Quit it (before shutting down the computer).

**Versions**
Ray version: 2.0.1
PHP version: 8.1.4

**To Reproduce**
1. Start Ray
2. Try to quit Ray

**Expected behavior**
Ray should close. So the icon in the Dock should not have a running indicator beneith

[2022-03-30 07:23] freekmurze commented on #669
I could not reproduce this on my or any of my colleagues' machines.

Could you let us know which value you're using for this setting?
![CleanShot 2022-03-30 at 09 22 55@2x](https://user-images.githubusercontent.com/483853/160774955-68c52eee-162d-461d-8a8d-23aa4057ecc1.png)

[2022-03-30 08:08] TiiFuchs commented on #669
![CleanShot 2022-03-30 at 10 08 15](https://user-images.githubusercontent.com/1958744/160783256-ecae3161-fe12-4846-9880-17a670cd9b1b.png)

Let me know if you need anything else...

[2022-03-31 21:18] rgasch opened #671 "Ray doesn't seem to work from a docker-image"
**Describe the bug**
Ray works on native Linux (to verify that it works at all) but when attempting to use it from a running docker-image, it doesn't seem to send any data to the running ray app (OK, it might be sending something, but no output ever arrives on the actual ray app).

**Versions**
2.0.1

You can use `composer show` to get the version numbers of:
- spatie/ray package version: 1.34.1
-

[2022-04-01 06:35] freekmurze commented on #671
We don't have any extra information besides what's in the docs. The most important step is to make sure those ports match up. I hope other docker users can help you with this one.

[2022-04-01 15:45] TiiFuchs commented on #669
I reinstalled Ray now, that did the trick.

[2022-04-01 15:45] #669 closed

[2022-04-05 11:06] stein-j commented on #586
Same issue here.

Steps to reproduce are pretty simple (In a Laravel environment):

1) Create an empty job `php artisan make:job RayPayloadIssueJob`
2) Set `send_jobs_to_ray` to **true**
3) Make sure you have a queue set up and are not using the **sync** connection/driver (I am using the database connection)
3) Call `dispatch(new RayPayloadIssueJob());` anywhere and the error should pop-up

[2022-04-05 12:35] freekmurze commented on #586
@stein-j if you also know the fix, feel free to PR it 👍

[2022-04-05 14:12] spooksie opened #674 "After update, server connection not triggering Ray()"
**Describe the bug**
I connect to my staging and prod servers on Ray. Then trigger a ray() event on the server, nothing pops up. On local it isn't a problem.

To see Ray working, I created a new command called ray:test

[code]

When I run it locally, it works.
<img width="325" alt="image" src="https://user-images.githubusercontent.com/220888/161776658-cf4db143-a0f8-461d-9c40-f7765ff4ba37.png">

I

[2022-04-20 17:56] TiiFuchs opened #678 "Appended Accessor with Attribute results in BadMethodCallException"
Ray Version 2.0.1
Laravel Version 9.9.0

I have a Eloquent model that uses the new Attribute syntax of Laravel to create an Accessor [See here](https://laravel.com/docs/9.x/eloquent-mutators#defining-an-accessor).

When I add an `$appends` property to my Eloquent Model so the newly created accessor also gets added to the json representation, ray crashes with a BadMethodCallException.

It tries to

[2022-04-21 07:04] freekmurze commented on #678
Could you share a small example app that demonstrates the problem? That will help us getting it fixed faster.

[2022-04-21 07:48] TiiFuchs commented on #678
So I took another look this morning and I think I understand it now.
It's more a laravel-ray issue and actually it's more like a user error than an actually issue. But I guess it could be fixed anyway. I'll let that for you to decide.

I created a test app and put it here: https://github.com/TiiFuchs/ray-test
Running `php artisan test` throws this exception (no db needed for this): https://flareap

[2022-04-21 10:00] #546 closed

[2022-04-21 14:29] mertasan opened #679 "Ray freezes when working with normal data"
**Versions**
- Ray App: 2.0.1
- `spatie/ray`: `1.34.1`
- php: `8.1`
 - OS: macOS `Monterey 12.3` (M1 Pro / Macbook 14)

Ray freezes when working with normal data.

That's why I restart Ray every time.

There were no performance issues before downloading the `Apple Silicon` version.

https://user-images.githubusercontent.com/13007665/164476996-3994d10d-e32e-40b2-b17a-b638e45c8fe9.mov

But Eloquent

[2022-04-21 14:53] mertasan commented on #679
I noticed that I created the loop as a nested array.

`$this->foo[$i] = $this->foo;`

But this was just an example. Ray is also slow when working with normal data:

https://user-images.githubusercontent.com/13007665/164485468-f8c78d6f-fbbf-4e4e-a539-35d45cec0ef5.mov

[2022-04-28 02:05] billriess commented on #624
I'm having a similar issue using WSL2. Links in Ray application are defaulting to `/var/www/html/...` but I have `RAY_LOCAL_PATH='\\wsl$\Ubuntu\home\bill\dev\hub'` defined in my `.env`.

[2022-04-28 14:46] genesiscz opened #685 "Port was unable to bind to the remote server's port. How do I release the port,"
**Before creating a new bug report**
Please check if there isn't a similar issue on [the issue tracker](https://github.com/spatie/ray/issues) or in [the discussions](https://github.com/spatie/ray/discussions).

If you are having troubles connecting your project to Ray, please check [our docs](https://spatie.be/products/ray) first, especially the configuration and environment specific configuration

[2022-04-29 12:05] thiago-tanaka opened #686 "dark theme background color issue"
In light theme the color is right.
![image](https://user-images.githubusercontent.com/87078843/165940685-8f9e17a7-312e-4f70-b952-eda4c2faf948.png)

In dark theme I think the background should be dark.
![image](https://user-images.githubusercontent.com/87078843/165940802-4ff08a6e-8e6d-4487-b306-78ee86d25c5b.png)

I'm using ray in golang.

[2022-05-02 15:11] willemvb commented on #686
Hey @thiago-tanaka, are you seeing this on all types of calls, or only for a specific one?
Which Ray call did you use to get this output?

[2022-05-04 05:41] Yago opened #688 "“Clear Ray from anywhere” shortcut creates a new screen"
**Before creating a new bug report**
- [x] Please check if there isn't a similar issue on [the issue tracker](https://github.com/spatie/ray/issues) or in [the discussions](https://github.com/spatie/ray/discussions).

If you are having troubles connecting your project to Ray, please check [our docs](https://spatie.be/products/ray) first, especially the configuration and environment specific configu

[2022-05-07 19:03] jjjrmy commented on #233
I'm on ray 2.0.1 and this still happens ALL THE TIME.

[2022-05-07 19:08] jjjrmy opened #691 "Reopening #233"
Reopening Issue #233
<img width="626" alt="Screen Shot 2022-05-07 at 15 07 46" src="https://user-images.githubusercontent.com/1609800/167268489-053a99d3-1dd2-4e8d-ab85-15ed0a11f582.png">

[2022-05-09 05:28] thiago-tanaka commented on #686
![image](https://user-images.githubusercontent.com/87078843/167345964-d1df4bd7-f9e6-413e-bdae-840c02523990.png)
these problem happen when i try to print some array

[2022-05-09 05:59] WebKenth commented on #24
@AdrianMrn Has this fix been implemented? i am still experiencing this

[2022-05-10 04:08] samdgea opened #692 "Unable to install Spatie/ray due"
**Before creating a new bug report**
Please check if there isn't a similar issue on [the issue tracker](https://github.com/spatie/ray/issues) or in [the discussions](https://github.com/spatie/ray/discussions).

If you are having troubles connecting your project to Ray, please check [our docs](https://spatie.be/products/ray) first, especially the configuration and environment specific configuration

[2022-05-12 10:14] slaFFik commented on #49
![image](https://user-images.githubusercontent.com/282234/168048087-ef33c2fc-37ad-43ae-80af-9f05c312f4d0.png)

[2022-05-12 13:21] willemvb commented on #686
Hey @thiago-tanaka, I've opened up an issue in the [`go-ray`](https://github.com/octoper/go-ray) repo since this seems something out of our control.

[2022-05-18 05:27] abkrim opened #698 "Incorrect lines of code in ray"
I am working on a project, and at one point, I have noticed that the lines of code in ray do not correspond to the lines of code in the affected class in the debu process with ray.

There is a displacement.

**Versions**
Ray app version:   2.0.1
spatie/laravel-ray  1.29.6
PHP version:         8.1.5
Laravel version:     9.12.2

**To Reproduce**
Steps to reproduce the behavior:
1. Work with a Job in

[2022-05-18 11:27] freekmurze commented on #698
Could you create a minimal app that reproduces the issue?

[2022-05-18 11:27] #698 closed

[2022-05-19 23:52] thelaarn opened #699 "Error invoking remote method 'connectSsh': Error: All configured authentication methods failed"
**Describe the bug**
Cannot connect to a remote server and get the error message.
`Error: Error invoking remote method 'connectSsh':
Error: All configured authentication methods failed`

**Versions**
Ray version (you can see this in "About Ray"):  2.0.1

PHP version: 8.0

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Servers' tab (top right corner)
2. Click on 'Add server'
3. Setup

[2022-05-23 13:33] lpheller opened #702 "Long integer is dumped incorrectly"
**Describe the bug**
When dumping long integers to ray (I think it's 17 digits or more), the integers are displayed with a different value than when `dd()` the same number.

**Versions**
Desktop App v2.0.1
spatie/laravel-ray: 1.29.6

PHP version: v8.1.5
Laravel version: v8.83.12

**To Reproduce**
Steps to reproduce the behavior:
1. `ray(11111111111111111)` anywhere

**Expected behavior**
The integ

[2022-05-26 08:56] nemoitis commented on #555
This is not fixed. Please re-open the issue. Is there something I can do to solve this?

[2022-05-30 10:00] #137 closed

[2022-05-30 23:07] nathan-io commented on #191
I encountered this also, and a modified version of @RhysLees solution (thanks for posting that) in my universal Ray config file, so I didn't have to specify any particular `local_path`.

I had to modify the command because I'm using Valet for Linux with WSL2, so my standard `/etc/resolv.conf` is replaced by Valet's configuration.

I changed the first line to:

[code]

This provides the correct IP.

[2022-05-30 23:32] RhysLees commented on #191
I am also using valet for Linux, does your modification stop you having to manually type the domain into Windows hosts file? Should have mentioned that I got the solution from somewhere else(can't remember where).

[2022-05-30 23:35] nathan-io commented on #191
I didn't have to edit the Windows hosts file, or Acrylic DNS settings.

[2022-05-30 23:46] RhysLees commented on #191
Ah damb, I have to manually add the domains to Windows hosts files to access Valet served sites. Gonna look into that tomorrow. Thanks 😊

[2022-05-31 00:07] nathan-io commented on #191
It took some doing for me to get wildcard DNS working with Acrylic DNS, valet-linux, and WSL2. My solution was cobbled together from others.

If you run into issues, I can post some of my notes.

[2022-05-31 10:00] #623 closed

[2022-06-02 13:59] twdnhfr commented on #674
I have the same problem

[2022-06-03 12:32] #702 closed

[2022-06-04 02:32] lukebouch commented on #518
@labomatik Could you explain in more detail what you did? Where did you put the ray.php file? I'm having the same issue.

[2022-06-04 12:13] labomatik commented on #518
At the root of the laravel project i've a ray.php file

with

`
<?php

return [
    /*
    * This settings controls whether data should be sent to Ray.
    *
    * By default, `ray()` will only transmit data in non-production environments.
    */
    'enable' => env('RAY_ENABLED', true),

    /*
    * When enabled, all cache events  will automatically be sent to Ray.
    */
    'send_cache_to_ray'

[2022-06-06 21:34] dseeger opened #705 "Can' make it work with laravel sail"
Hope someone had similar issues and knows a solution.
I work with laravel sail on linux.
Here my setup:

docker-compose.yml
`services:
    laravel.test:
        build:
            context: ./docker/8.1
            dockerfile: Dockerfile
            args:
                WWWGROUP: '${WWWGROUP}'
        image: sail-8.1/app
        extra_hosts:
            - 'host.docker.internal:host-gateway'

[2022-06-08 12:08] RhysLees opened #707 "Title of preferances shows as "Webpack App""
**Describe the bug**
The title of the preferences window is incorrect, at least on windows, (don't have Mac or Linux available to test)

**Versions**
2.0.1.0

**To Reproduce**
Steps to reproduce the behavior:
1. Open Ray
2. Goto Menu
3. Select Preferences
4. Observe the title `Webpack App`

**Expected behavior**
I believe it should either be named `Ray`, `Preferences` or `Ray Preferences`.

**Scre

[2022-06-08 12:15] RhysLees commented on #624
Also having this with WSL2 like @billriess

[2022-06-10 09:17] jordansitbon commented on #699
UP

[2022-06-10 09:22] jordansitbon commented on #699
I've the same problem. One of my 3 servers can't connect correctly.

Forge Ubuntu 22.04 server with PHP 8.1
macOS 12.4 - Ray 2.0.1

[2022-06-10 09:44] dseeger commented on #705
Very silly... I forgot to set a rule for port 23517 in ufw.

[2022-06-11 20:21] SamuelNitsche opened #709 "Expanding arrays in bit larger datasets doesn't work properly"
**Describe the bug**
When dumping an array with ~60 entries the arrow to expand entries is broken (as visible in the screenshot)

**Versions**
Latest (2.0.1)

You can use `composer show` to get the version numbers of:
- spatie/ray package version: 1.34.5
- spatie/laravel-ray package version (if applicable): 1.29.7

PHP version:
Laravel version (if applicable): 8.1

**To Reproduce**
Steps to reprod

[2022-06-14 15:10] jcordingley commented on #555
This is also an issue for me, im running pop-os linux.

[2022-06-17 11:45] kalonya opened #710 "Screen flickering on MacOS"
**Before creating a new bug report**
Please check if there isn't a similar issue on [the issue tracker](https://github.com/spatie/ray/issues) or in [the discussions](https://github.com/spatie/ray/discussions).

If you are having trouble connecting your project to Ray, please check [our docs](https://spatie.be/products/ray) first, especially the configuration and environment-specific configuration

[2022-06-30 22:35] mjmarley commented on #699
I see from the above screenshot you were trying to connect to WPEngine. Did you get ever this working because I have the same error. Thank you.

[2022-06-30 22:41] thelaarn commented on #699
@mjmarley No, it still doesn't work and I've tried Digital Ocean droplet as well as Linode VPS server. All get the same error.
Hoping @freekmurze or someone form the dev team can take a look at the issue soon

[2022-07-01 19:37] d-delaey opened #713 "Laravel doesn't send data to ray app"
**Describe the bug**
Laravel doesn't send data to ray app. I tried with an PHP-Error, ray() function and with dd().

**Versions**
2.0.1

You can use `composer show` to get the version numbers of:
- spatie/ray package version: Not installed
- spatie/laravel-ray package version (if applicable): ^1.29

PHP version:
Laravel version ^9.19

**To Reproduce**
Steps to reproduce the behavior:
Just using ra

[2022-07-07 04:30] karelkangro commented on #699
I get similar error on localhost connection over SSH
so I am not able to use Ray after the last updates I believe, have not been using it for a while on my Mac OS Monterey

at the same time remote connection works with the key

also noticed some weird behaviour when tried to copy the error message to clipboard - message was changing on click from english into some other weird "language" or just ch

[2022-07-09 06:47] techno-trace commented on #709
It's same with me as well, also I thought using these on AppServiceProvider would work as it works on `dd()` for larger datasets.
@freekmurze please help on this as it becomes harder debugging large datasets without pin pointing the actual data to be dumped.

[code]

[2022-07-11 10:00] #334 closed

[2022-07-14 09:57] greksazoo commented on #685
Try to run this on remote server:
`sudo sh -c 'echo "StreamLocalBindUnlink yes" >> /etc/ssh/sshd_config'
`
after reboot work perfect.

[2022-07-15 04:44] techno-trace commented on #709
Hey @freekmurze, can you please help us resolve this or suggest a workaround for this issue, as this becomes harder to look in nested objects properly. This is SUPER IMPORTANT! 🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨
cc: @SamuelNitsche

[2022-08-05 17:41] svenbw opened #719 "Ray cannot be started on Ubuntu 22.04"
**Describe the bug**
Ray cannot be started on Ubuntu 22.04 (LTS)

**Versions**
Ray version: 2.0.1
PHP version: 8.0

**To Reproduce**
Steps to reproduce the behavior:
1. Try to start the Appimage
2. Cannot start due to fuse version

**Expected behavior**
Ray should start

**Screenshots**
[code]

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Version: 22.04.1

 **Additiona

[2022-08-08 17:05] bkilshaw opened #720 "Offline Access"
**Describe the bug**
I was recently offline for a few days and had to pull my laptop out on day 3 to do some work. Quite quickly Ray had a pop up complaining that it couldn't verify my license and that the product was not active. Not only was I unable to use Ray (despite having an active license) but there was no way to close the pop up window which was forced on top of all my other windows. The o

[2022-08-10 11:27] mynamenull opened #722 "Losing ssh connection"
Hi,

After connecting via SSH with ray to a server it works fine. After some inactivity though, or after some time (I don't know the specific condition regarding this) Ray is like "paused" and is not logging anything.

For instance, when I initially start Ray I tinker on the server and send a ray message so it open's the correct screen.

After a while messages are not logged anymore, even after re

[2022-08-13 10:28] hazeim254 commented on #699
+1 the same issue

[2022-08-19 13:10] jordansitbon commented on #699
UP

[2022-08-22 10:01] #678 closed

[2022-08-22 12:35] benjamin74 commented on #606
Having the exact same problem here:

Ray was unable to bind to the remote server's port. Is the port in use or is someone else using ray on this server?

The port is not in use afaik and for sure nobody is using ray on that server.

Rebooting the server is an absolutely aweful solution... why has this been closed?

[2022-08-22 19:40] Thotsuya opened #727 "Can't renew my license"
**Before creating a new bug report**
Please check if there isn't a similar issue on [the issue tracker](https://github.com/spatie/ray/issues) or in [the discussions](https://github.com/spatie/ray/discussions).

Can't renew my ray license because whenever I hit renew License on the website, it gets stuck in this page.

![image](https://user-images.githubusercontent.com/55269430/186004807-f6e8e202-8

[2022-08-23 12:44] WouterBrouwers commented on #727
@Thotsuya Can you try to log out of your Spatie account and logging back in?
You can retry the license renewal once you're logged in normally.

[2022-08-23 15:10] Thotsuya commented on #727
Already tried. Also with different browsers. If it is of some help. here's the console log
![image](https://user-images.githubusercontent.com/55269430/186194749-34c2ca70-5385-4ab0-add8-9524cbc555a8.png)

[2022-08-23 19:14] freekmurze commented on #727
We are not getting any similar reports, so we think it's something on your end.

Could you try with another browser, and/or on another network?

[2022-08-23 19:18] Thotsuya commented on #727
Tried already on my phone, with a different network, on 3 different browsers and in incognito mode, but still stuck on that screen.

[2022-08-23 19:35] freekmurze commented on #727
I've just tried in the three major browsers, and it seems to be working. My guess is that for some reason our payment provider does not accept a connection from your location.

Unfortunately there's nothing we can do about this. Did you make purchases via Paddle yet?

[2022-08-23 19:38] Thotsuya commented on #727
Its odd because I purchased the license a year ago from this location and had no issues.

[2022-08-23 19:47] freekmurze commented on #727
There's a 403 in your screenshot, is that a Paddle resource?

Do you see stuff being loaded from the Paddle domain?

<img width="530" alt="CleanShot 2022-08-23 at 21 46 47@2x" src="https://user-images.githubusercontent.com/483853/186252369-d3c507c2-1a4b-4aab-ad1f-5ee38a397a30.png">
?

[2022-08-23 19:50] Thotsuya commented on #727
![image](https://user-images.githubusercontent.com/55269430/186252999-c7c0398c-cce7-49ea-aa13-4ad6f579c84c.png)

That's the only resource loading from paddle

[2022-08-23 21:35] freekmurze commented on #727
it's 403, so that's being blocked. You'll have to contact Paddle I'm afraid to ask why that resource is being blocked for you.There's nothing we can do at our end to solve this...

[2022-08-23 21:36] Thotsuya commented on #727
Yes, thanks, it doesnt work on my location, asked a friend that lives in another country and it works just fine

[2022-08-23 21:40] #727 closed

[2022-08-26 05:47] JoeriTheGreat commented on #713
Having the same issue.
Co-worker using the same codebase doesn't have any problems

[2022-08-31 20:35] tonkoshkurik commented on #606
Also, looking for a solution here.

[2022-09-05 10:01] #688 closed

[2022-09-07 17:22] ckilb commented on #699
Same here. UP

[2022-09-08 10:01] #691 closed

[2022-09-11 12:18] RhysLees commented on #624
Have you found a solution yet? I'm still having this issue

[2022-09-13 10:52] slaFFik commented on #49
![image](https://user-images.githubusercontent.com/282234/168048087-ef33c2fc-37ad-43ae-80af-9f05c312f4d0.png)

[2022-09-14 13:19] ryanmortier opened #729 "If the Ray application isn't open there is a significant delay in the request/response time"
**Describe the bug**
First, let me say that I'm not sure if there is anything that can be done on the code side to prevent this (maybe async?). I'm simply reporting this because it took me the better part of a day to troubleshoot the issue. There is obviously an easy fix for the user -- just open the Ray app or remove the `ray()` call.

Additionally, it took me so long to troubleshoot the issue be

[2022-09-14 19:41] ghost opened #733 "BUG - not displaying strings with newlines properly"
**Describe the bug**
I am trying to print out a string that has some extra newlines in it, ray.Ray() when printing my output in the app, truncates everything after the first \n

**To Reproduce**
testStr := "*Project ID:*\n<gid://gitlab/Project/39190760>"
ray.Ray(testStr)

**Expected behavior**
You should see the project ID followed by the gid:// stuff on a newline.

**Platform (please complete the

[2022-09-18 08:39] chasewwy commented on #699
https://github.com/liximomo/vscode-sftp/issues/37#issuecomment-1120677928

This worked for me

[2022-09-19 15:31] stiknoltz commented on #699
@chasewwy I can confirm that this solved the issue for me as well.

It seems to be specific to a Ubuntu configuration change for Ubuntu 22.04

[2022-09-20 19:01] octoxan commented on #713
Doesn't work for me either. If I turn on logging of every single view or request, it logs, but `ray('test';` or `ray()` anything doesn't do a thing.

[2022-09-20 19:13] octoxan opened #736 "ray() and dd() do not work in Laravel, other logs do"
**Describe the bug**
Just installed the Laravel package, and added the config file. It's recognizing the config file just file. If I set "send_views_to_ray" or requests, etc, to true, they will output to Ray. However, using `ray($anything)` or `dd($something)` doesn't output anything to Ray.

**Versions**
Ray version (you can see this in "About Ray"):

You can use `composer show` to get the versio

[2022-09-20 19:15] octoxan commented on #736
Just... ignore this. The config caching was breaking it.

[2022-09-20 19:15] #736 closed

[2022-09-21 07:40] dluague opened #737 "Spatie Laravel Data Object no option to expand"
**Describe the bug**
[Spatie Laravel Data](https://spatie.be/docs/laravel-data/v2/introduction) Object no option to expand

**Versions**
2.1.1

You can use `composer show` to get the version numbers of:
- spatie/ray package version: 1.36.0
- spatie/laravel-ray package version (if applicable): 1.30.0

PHP version: 8.1.10
Laravel version (if applicable): 9.30

**Expected behavior**
It should be expa

[2022-09-21 16:48] d-delaey commented on #713
it does

[2022-09-26 09:09] qwertynik commented on #111
Ray was being used for debugging earlier. Later in this project under discussion, since the usage of ray was not received, all related method calls were removed and the package was also removed from the server. However, the following error is now being logged. Any ideas on how this can be resolved?

```Package "spatie/laravel-ray" is not installed {"exception":"[object] (OutOfBoundsException(code:

[2022-09-26 10:23] qwertynik commented on #111
This was resolved mysteriously after trying a variety of things and finally restarting PHP and NGINX. More details [here](https://github.com/composer/composer/issues/11081#issuecomment-1257811306)

Note: Updated to composer 2, validated the fix, and then reverted back to composer 1 and the issue did not re-appear.

[2022-09-28 10:01] #679 closed

[2022-09-28 11:16] mertasan commented on #679
@freekmurze Hi Freek,

This problem still persists. Can you reopen this issue?

[2022-10-03 10:02] #674 closed

[2022-10-09 16:20] gixxy22 commented on #606
same issue here

[2022-10-10 10:01] #707 closed

[2022-10-10 12:23] RhysLees commented on #707
Still an issue

[2022-10-10 15:55] freekmurze commented on #707
@Sam-Apostel could you take a look?

[2022-10-10 16:09] RhysLees commented on #707
2.1.1.0 Image here as to update from the original images :)

![image](https://user-images.githubusercontent.com/43909932/194909529-668af483-1f15-44e4-ac6e-2eb7c333318a.png)

[2022-10-13 10:23] HassanZahirnia commented on #191
Anyone knows how to use Ray with the Windows host app when it's installed globally ? ( via [global-ray](https://spatie.be/docs/ray/v1/installation-in-your-project/framework-agnostic-php) )

The Ray Laravel package works fine when you call the `ray` function inside Laravel project php files. But if you want to use `ray` in a vendor file, or an open source project where they don't have ray installed

[2022-10-17 12:35] jcordingley commented on #555
Still not resolved, please re-open

[2022-10-17 15:19] rybber78 commented on #555
Same here on Pop OS, Brave Browser

[2022-10-18 20:16] angorb commented on #606
Solid solution @JoshMoreno - I run into this all the time with my AWS-hosted development server and a flaky VPN connection and this is **so** much easier than rebooting the EC2 instance from the AWS Console and waiting for my box to come back up. 👍🏼

[2022-11-11 07:02] BlackbitDevs opened #745 "Add compatibility for Flysystem 3"
Flysystem 3 is available since almost 1 year. Currently there is no compatible Dropbox adapter for this. Could you add support for this? Actually it does not look to be that complicated according to [the release blog post](https://blog.frankdejonge.nl/flysystem-3-0-0-is-released/#what-changed) and the [update instructions](https://flysystem.thephpleague.com/docs/what-is-new/)

Actually it says

Do

[2022-11-11 07:39] freekmurze commented on #745
This repo is not related to this issue.

[2022-11-11 07:39] #745 closed

[2022-11-14 16:45] BlackbitDevs commented on #745
@freekmurze: Strange, this happened because I clicked "Ask a question" at https://github.com/spatie/flysystem-dropbox/issues/new/choose - probably there is a wrong link (or I do not understand the workflow).

Opened another issue at https://github.com/spatie/flysystem-dropbox/issues/88

[2022-11-15 11:33] haidarzhy opened #747 "Activation missed after internet problems (VPN)"
**Describe the bug**
When Ray fails to connect to license server because of VPN it asks me to Enter license. But if I disable VPN it still asks me of license and my key is not working "This license is not valid, please check your input". I need to go to spatie/purchases, delete my activation and then push Activate again (with the same license key in the same computer) and only after this it works.

[2022-11-16 11:02] #709 closed

[2022-11-18 05:09] sardar1592 commented on #713
Using Laravel sail. Nothing displaying in Ray despite following documentation.

[2022-11-18 07:43] JoeriTheGreat commented on #713
Check your .env that it's set to local

[2022-11-18 10:06] sardar1592 commented on #713
It is.

[2022-11-25 21:22] vdlsolutions commented on #713
I ran into the same problem. It also didn't work for me in combination with Laravel sail on Windows 10.

I find the solution here:
https://dev.to/stuartcreed/how-to-make-spatie-ray-work-with-laravel-sail-992

Steps to solve the problem:
1) sail composer require spatie/laravel-ray --dev
2) sail artisan ray:publish-config --docker
3) Add '127.0.0.1 host.docker.internal' to /etc/hosts
4) Set the valu