[2020-12-08 15:41] willemvb opened #1 "Center traffic lights vertically"
<img width="248" alt="image" src="https://user-images.githubusercontent.com/1336390/101505002-25e9c900-3974-11eb-907d-ecbe51be3f43.png">

[2020-12-10 10:14] #1 closed, assigned to AdrianMrn

[2021-01-07 15:00] edmarriner opened #3 "Table output"
The project looks great!

It might be nice to have the ability to output multi-dimension arrays as a table view.

[code]

|Name|Age|Height|
|---|---|---|
|John Doe|25|178|
|Zoe Smith|46|188|
|Jessica Jones|21|163|

I would be happy to take a look at implementing something if you like the idea?
_Edit: I see the ray client is not itself open source so not sure I could implement it but would love to

[2021-01-07 15:03] slaFFik opened #4 "Windows support"
Any plans to support Windows?

So far only Mac and Linux in plans, which makes Windows users a bit sad.

[2021-01-07 15:06] riasvdv commented on #4
Windows is supported, you can download it at https://myray.app/

[2021-01-07 15:09] slaFFik commented on #4
Oh, well, I couldn't at the time I created the GH issue :) The site was returning 503.

Thanks a lot!

[2021-01-07 15:11] slaFFik commented on #4
@riasvdv The link to download leads to `.dmg` file, not the `exe.`

[2021-01-07 15:12] slaFFik commented on #4
On this page https://spatie.be/products/ray "Buy license" leads to the same page, I can't buy it, lol.

[2021-01-07 15:17] slaFFik commented on #4
Correction: the link leads to `.dmg` file, but when clicking - the correct `.exe` is downloaded at the same time popup is opened.
So functionality-wise it works, but UI-wise the download process has some minor issues.

[2021-01-07 15:24] nnerijuss opened #5 "SSH Support"
Any plans to add SSH connector ?

[2021-01-07 15:48] slaFFik opened #7 "Clicking on arrows doesn't collapse output"
I'm talking about these arrows 🔻:
![image](https://user-images.githubusercontent.com/282234/103912804-6aea5200-5110-11eb-8014-598bafef71c1.png)

I'm using Ray 1.0.1 on Windows 10.

[2021-01-07 16:06] veryard opened #8 "Windows Jump to Line"
Hello,

Just downloaded the tool to have a play around with it, I added the following line to a controller class:

`ray('hello world!', ['an array'], app());`

And it successfully logs to Ray which is great, but it says the line is the actual helpers file for ray, I did update the preferences so it's using VSCode, it should of taken me to my controller class right?

![image](https://user-images.gi

[2021-01-07 16:07] Neeraj1005 opened #9 "while installing Ray in laravel app composer require spatie/laravel-ray --dev"
After running this command in my terminal `composer require spatie/laravel-ray --dev` It shows some error like this..
[code]
What should I have to do...?

[2021-01-07 16:08] veryard commented on #7
Am using the same version on Windows 10 and the collapse works fine for me.
![dF3arFErQN](https://user-images.githubusercontent.com/3941758/103914993-8ae83880-5145-11eb-8857-26dfd4edb725.gif)

[2021-01-07 16:09] freekmurze commented on #8
Right, I'll investigate this soon!

[2021-01-07 16:19] freekmurze commented on #7
Thanks for verify @veryard

@slaFFik Is there anything specific about your Windows version that you can share with us?

[2021-01-07 16:21] freekmurze commented on #9
I think this one is just fixed in spatie/laravel-ray v1.0.2

Could you try again and let me know?

[2021-01-07 16:21] freekmurze commented on #9
Closing for now, feel free to open a new issue if 1.0.2 didn't solve the problem for you.

[2021-01-07 16:21] #9 closed

[2021-01-07 16:22] freekmurze commented on #5
Yup, we'll add that in the coming weeks, so you'll be able to using Ray in other environments. Closing this for now, keep an eye out for new releases.

[2021-01-07 16:22] #5 closed

[2021-01-07 16:23] freekmurze commented on #3
I like the idea, and will add it in the coming weeks.

[2021-01-07 16:47] deryckoe opened #10 "In WordPress, all listed files are always helpers.php:21"
No matter where I put ray() the listed file is always helpers.php:21.

I'm using the composer package: "spatie/ray": "^1.0"

![image](https://user-images.githubusercontent.com/2091762/103918958-3bc2e900-50ee-11eb-95e6-3768263b632f.png)

I'm using ray in wp-content/plugins/some-plugin/src/Course/Catalog/CoursesView.php:89

![image](https://user-images.githubusercontent.com/2091762/103919516-dfac948

[2021-01-07 17:13] veryard commented on #10
Possibly the same issue as: https://github.com/spatie/ray/issues/8

[2021-01-07 19:20] freekmurze commented on #4
@willemvb maybe we can always so the links to the versions of the other OS'es?

[2021-01-07 19:21] freekmurze commented on #10
Duplicate of #8

[2021-01-07 19:21] #10 closed

[2021-01-07 19:51] NeptuneDesign opened #14 "Package "spatie/laravel-ray" is not installed"
Hello I have a mistake that tells me that I didn't install spatie/laravel-ray when it's a good installation can you help me? Thanks (I'm on windows 10)
https://flareapp.io/share/17Dn1GXm#F12

[2021-01-07 19:52] willemvb commented on #4
Hey @slaFFik ,

You're right, this wasn't optimal.

- I updated the download link behind the button.
- Added all versions in the modal, just in case.

[2021-01-07 19:52] #4 closed

[2021-01-07 20:03] freekmurze commented on #14
The installation instructions of Ray are here: https://spatie.be/docs/ray/v1/getting-started/installation-in-a-framework-agnostic-php-project

[2021-01-07 20:03] #14 closed

[2021-01-07 20:06] NeptuneDesign commented on #14
Désolé je me suis trompé de dépôt

[2021-01-07 20:46] slaFFik commented on #7
It's Windows 10 Pro 20H2, Hyper-V enabled. I'm using [OSPanel.io](https://ospanel.io/) as a web-server.

I'm not sure which information is needed.
I had to uninstall it because it stopped receiving data from my code.

[2021-01-07 21:00] bzrncev opened #16 "[VSCode] Click on File:LineNumber opens file in new window instead of the opened project's one"
Is this a feature or a bug? :)

[2021-01-07 21:01] freekmurze commented on #16
I guess a bug 🙂 Can you test this and fix it @AdrianMrn

[2021-01-07 21:19] naszybko opened #17 "500 with openbasedir"
Hi
Locally it works perfect. But when the code was sent to the server, the site crashes.
I was trying with:
`composer require spatie/laravel-ray `
first, and then with:
`composer require spatie/laravel-ray --dev `
with env set to production. Same issue:

[2021-01-07 21:46] Polfo opened #18 "Ray does not display the location of debugging statements."
In my case, when using
`ray($variable1, $variable2)`
the location of that statement is not displayed,
`...\vendor\spatie\ray\src\helpers.php:16`
is displayed instead.

![image](https://user-images.githubusercontent.com/10303392/103948471-1bb91700-513a-11eb-8a51-257410366d22.png)

[2021-01-07 22:14] #17 closed

[2021-01-07 22:33] pokmot opened #21 "Clicking on file name opens Windows Store"
When I click on a source file file path in Ray, it wants to look for an app in Microsoft Store.

What do I need to do to register the protocol so it opens the correct file in PhpStorm?

**Versions**
Ray version: 1.0.2.0
spatie/laravel-ray package version (if applicable): 1.1.0
Laravel version (if applicable): 8

**Desktop (please complete the following information):**
 - OS: Windows 10

![image](h

[2021-01-07 22:53] pieterhielkema opened #22 "Getting buggy when "Show app" set to "On Menubar""
**Describe the bug**
Not able to reach context menu in the left top. (worked with any other app)
Not able to go to settings in any way
No app icon in the menubar

**Versions**
Ray version: 1.0.2
spatie/ray package version:
spatie/laravel-ray package version (if applicable):
Laravel version (if applicable):
Media Library Pro version:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to prefe

[2021-01-07 22:55] pieterhielkema commented on #22
If the menubar icon contains a link to settings, the only problem is the icon not showing up.

[2021-01-07 23:45] danielpost opened #24 "Ray takes window focus after being triggered"
**Describe the bug**
When refreshing the browser on a page that has a `ray` call, the window focus automatically switches to the Ray window rather than staying in the browser. I don't know if this is intentional (it very well might be) but it would be great to have the ability to turn this off and keep window focus in the browser. I usually just need to look at Ray (on 2nd monitor) and don't need

[2021-01-08 00:19] erdiegoant opened #27 "Windows: Subsequent launching of Ray not working if 'On system tray' is chosen"
**Describe the bug**
The moment I set the "Show App" setting to "On system tray" nothing happened, but next time I launched it didn't work at all.
Had to completely remove all files related to Ray manually because reinstalling didn't help either (From `\AppData\Local\ray-updater` and `\AppData\Roaming\Ray`) and installing fresh again. Using the normal unistaller from the app doesn't resolve the is

[2021-01-08 00:33] tyler36 opened #28 "Website bug: Price bug"
**Describe the bug**
Price displays incorrectly in Yen.

**Versions**
Ray version: n/a
Website: https://myray.app/

**To Reproduce**
Steps to reproduce the behavior:
1. Visit website
2. Check display. Occurs in both places, top and bottom, in both desktop and mobile sized browser.

**Expected behavior**
Could it be prettier? It looks kinda awkward 😥.

**Screenshots**
![Price-page_bottom](https://u

[2021-01-08 06:02] freekmurze commented on #28
@willemvb can you look at this?

[2021-01-08 06:08] miclf commented on #24
I have the same issue (on macOS too).

I use Ray with a maximized window, on a single screen. I use `cmd + tab` to switch between Ray and my browser / terminal / database GUI / whatever.

In addition to Ray automatically stealing focus for regular calls to `ray()`, this makes it impossible to switch to another app when using the `pause()` method, because Ray then takes the focus at the very millis

[2021-01-08 06:18] miclf opened #33 "[macOS] Standard keyboard shortcut to hide window is `cmd + H` but Ray uses `cmd + W`"
Every macOS application I can think of uses `cmd + H` to let users hide the current window.
When wondering why this was not working in Ray, I discovered that it uses `cmd + W` instead.

This is not only surprising but also a bit ‘frightening’ when considering muscle memory, because `cmd + W` is the standard shortcut to close tabs or windows in macOS applications.

**Versions**
Ray version: 1.0.2
s

[2021-01-08 07:13] Banquo1 commented on #21
Same here (Win 10, PHPStorm 2020.2.4,Ray version: 1.0.2.0)

[2021-01-08 07:40] freekmurze commented on #24
We could reproduce this and will be releasing a fix soon.

[2021-01-08 07:55] freekmurze opened #34 "Ray app opens multiple times on Linux"
**Describe the bug**
1. If I double-click the AppImage file multiple times, it opens multiple instances (not sure if you can change that)

2. If I have one instance running, and press the close button, it stays open in the system tray. If I click the system tray icon, it opens a *new* instance with a second tray icon, while the existing instance is still running somewhere but is no longer reachabl

[2021-01-08 07:56] freekmurze commented on #34
This might be related with the app sometimes having stray processes on Windows too.

[2021-01-08 07:58] Polfo commented on #18
I saw the correct location in the ray app on some occasions,  but cannot reproduce it because of expired trial license.

[2021-01-08 08:03] freekmurze opened #35 "Add PhpStorm tip to our docs"
https://twitter.com/divspace/status/1347239949330878464

[2021-01-08 08:06] freekmurze commented on #18
Please open up a new issue when you are able to reproduce this 👍

[2021-01-08 08:06] #18 closed

[2021-01-08 08:24] patinthehat commented on #34
I am unable to reproduce this bug on Ubuntu 20.04, XFCE window manager v4.14, and Ray app v1.0.2.  I can confirm that multiple processes can be started, and only the first process started receives the Ray messages (due to the port being used by the first instance, as mentioned).

[2021-01-08 08:37] jessarcher commented on #34
@patinthehat if you close the window or quit from the menu, does the process exit?

And if not, are you able to get the first instance window back from the system tray or does it spawn a new instance?

[2021-01-08 08:42] patinthehat commented on #34
@jessarcher The process exits when I quit from the menu.  Closing the window causes it to minimize back to the system tray and does not exit the process.  When I start multiple instances, I can access each instance as expected from the related system tray icon and no new instances are spawned.

[2021-01-08 08:44] Polfo opened #36 "Trial mode status is not clear"
**Describe the bug**
When running trial mode and nothing appears in the app, it is not clear if this is due to the 10 log items limit.

**Versions**
Ray version: 1.0.2
spatie/ray version: 1.1.3
spatie/laravel-ray: 1.1.0
Laravel version: 8.21.0

**To Reproduce**
Run my php code with ray() statements
Look at ray app window.
Window displays:
Trial mode allows for up to 10 lig items. Learn more...
Cli

[2021-01-08 08:45] AdrianMrn commented on #24
This was fixed in https://github.com/spatie/ray-app/commit/3dd44553d7638bc2e623560646c730bc4442342c

[2021-01-08 08:45] #24 closed

[2021-01-08 08:47] Polfo opened #37 "Cannot investigate bug in trial mode"
**Describe the bug**
I want to evaluate the product but run into #18.
I'd like to reproduce and provide more info but run into #36

**Expected behaviour**
Provide a way to get out of this deadlock.

**Note**
I license purchase is ongoing for me, but that takes time.

**Versions**
Ray version: 1.0.2
spatie/ray version: 1.1.3
spatie/laravel-ray: 1.1.0
Laravel version: 8.21.0
OS: Windows 10 version 2

[2021-01-08 08:52] atiqsamtia opened #38 "Ray seems not be running at http://localhost:23517"
**Describe the bug**
Ray seems not be running at http://localhost:23517

Request takes time to process and fails to this message. If in this time I open ray app, everything works just fine.

Happening on Windows 10 with laragon.

**Versions**
Ray version: 1.0.2.0
spatie/ray package version: 1.1.3
spatie/laravel-ray package version (if applicable): 1.1
Laravel version (if applicable): 8.12
Media Li

[2021-01-08 08:56] freekmurze commented on #36
I think we should add an extra message when we hit this limit @AdrianMrn

[2021-01-08 09:00] ronnievisser commented on #38
Got this same error when running on Homestead on a Mac.. Does it work with homestead?

[2021-01-08 09:02] freekmurze commented on #38
I'll try to reproduce this soon.

@ronnievisser could you try this: https://twitter.com/JoePFerguson/status/1347302653127237634

[2021-01-08 09:05] ronnievisser commented on #38
@freekmurze It does not make any difference!

[2021-01-08 09:14] AdrianMrn commented on #36
@freekmurze We're already showing the license overlay as a blocking modal when users run into the log limit. I'll add a counter to the notification bar while in trial mode.

[2021-01-08 09:23] ConorAAG opened #42 "Link broken in https://github.com/spatie/ray/blob/master/docs/introduction.md"
The link to "[Configure Ray](https://github.com/spatie/ray/blob/master/docs/ray/v1/getting-started/configuring-ray) if needed" under the [Getting Started](https://github.com/spatie/ray/blob/master/docs/introduction.md#getting-started) section returns a 404

[2021-01-08 09:23] laemol commented on #38
I have the same error running on mac with Valet+ even without adding the ray() statement but just with an (known) error in my project. Starting the Ray App also solved it and shows the error in Ray.

[2021-01-08 09:25] #28 closed

[2021-01-08 09:27] willemvb commented on #28
Thanks @tyler36, should be better now!

[2021-01-08 09:51] AdrianMrn commented on #36
See bottom bar in the screenshot

![image](https://user-images.githubusercontent.com/12762044/104001080-6c169000-519f-11eb-9d10-cc8a3a6ee67e.png)

[2021-01-08 09:51] #36 closed

[2021-01-08 09:58] maciejsk commented on #38
...after uninstall and install again it work (1.0.3).

[2021-01-08 10:17] freekmurze commented on #42
You should view the docs here: https://spatie.be/docs/ray/v1/introduction

[2021-01-08 10:17] #42 closed

[2021-01-08 10:32] slaFFik opened #44 "Windows: Quiting Ray doesn't kill its processes"
**Describe the bug**
When using "Menu > Quit Ray" the Ray itself is closed, but its processes (5 so far) are still present and not killed.
When you quit Ray and try to uninstall it (to reinstall) - the Uninstall Tool that I use for this purpose says me that Ray is running in the background and whether I want to kill all the processes.

**Versions**
Ray version (you can see this in "About Ray"): 1.

[2021-01-08 10:45] ronnievisser commented on #38
for homestead:

"Create a ray.php config file at project root and copy the boiler config from the ray docs and then set the host in the config to 10.0.2.2 and it should work."

works

[2021-01-08 10:49] vdvcoder opened #45 "Target class [cache] does not exist."
When i installed spatie/laravel-ray local it works fine.
But when i push to git and pull on the server i get following error.
**Target class [cache] does not exist.**

**Versions**
Latest

You can use `composer show` to get the version numbers of:
- spatie/laravel-ray package version (if applicable): 1.1.0

PHP version:
7.4

**To Reproduce**
Steps to reproduce the behavior:
1. Install spatie/larav

[2021-01-08 10:52] freekmurze commented on #38
Closing this as people are reporting that it works now.

[2021-01-08 10:52] #38 closed

[2021-01-08 10:52] freekmurze commented on #38
If this is still a problem using the latest versions, let me know!

[2021-01-08 10:54] freekmurze commented on #45
Could you post a stack trace?

[2021-01-08 10:59] patinthehat opened #46 "Linux: "About Ray" Menu Item doesn't work in App"
_If this should be filed in a different repository (it's not specifically related to the `spatie/ray` package) please direct me to the correct location._

In the linux version of the Ray app, clicking the "Menu->About Ray" menu item does not do anything.

Versions:
- Ray app: 1.0.3

Steps to reproduce the behavior:
1. Open the Ray app
2. Click the "Menu" menu item
3. Click the "About Ray" menu ite

[2021-01-08 11:01] atiqsamtia commented on #38
@freekmurze did anyone test on Windows 10? I'm still unable to run laravel application if ray is not running

[2021-01-08 11:01] laemol commented on #38
Still having this with Valet+
"spatie/laravel-ray": "^1.1",
Version 1.0.3 (1.0.3)
Laravel Framework 8.16.1
When my application is trying to throw a error message now shows "Ray seems not be running at http://localhost:23517"
When Ray App is running I receive the expected error "InvalidArgumentException View [] not found."

[2021-01-08 11:02] slaFFik commented on #21
Same here (Win 10 Pro 20H2, PhpStorm 2020.3.1, Ray v1.0.3)

[2021-01-08 11:05] slaFFik commented on #36
@AdrianMrn But this popup is NOT blocking. We can freely close it using  "Continue in trial mode" link, and after that no indication that the data won't be received/processed/displayed.

[2021-01-08 11:15] xyNNN commented on #38
Doesn't work for me ... For some reason it can't communicate to my local computer.

Ray seems not be running at http://host.docker.internal:23517

[2021-01-08 11:27] vdvcoder commented on #45
![screenshot](https://user-images.githubusercontent.com/13916116/104010484-d71a9380-51ac-11eb-9b92-6789fc4992fa.png)
![Schermafbeelding 2021-01-08 om 12 24 02](https://user-images.githubusercontent.com/13916116/104010493-dc77de00-51ac-11eb-9753-92a2bc6ab0f8.png)

[2021-01-08 11:49] freekmurze commented on #37
Without a license, you can send 10 items per session. Just restart your app to be able to use it again.

[2021-01-08 11:49] #37 closed

[2021-01-08 12:16] freekmurze commented on #44
This has been fixed in Ray v1.0.4

Just relaunch Ray to pull in updates.

[2021-01-08 12:16] #44 closed

[2021-01-08 12:19] freekmurze commented on #34
This has been fixed in Ray 1.0.4

Just restart Ray to pull in updates.

[2021-01-08 12:19] #34 closed

[2021-01-08 12:23] AdrianMrn commented on #36
Right, thanks for the heads up! I'll remove the `Continue in trial mode` button when the application has received 10 logs.

[2021-01-08 12:26] slaFFik opened #49 "Windows: app doesn't have publisher, not signed"
**Describe the bug**

When trying to install the app shows the screenshot attached below.

**Versions**
Ray version (you can see this in "About Ray"): 1.0.4

**To Reproduce**
Steps to reproduce the behavior:
1. Make a clean installation of a new version of the app

**Expected behavior**

There should be no security-related notifications from Windows when launching the app.

**Screenshots**

![imag

[2021-01-08 12:31] nick-wilkins opened #50 "Changing shortcut keys (open from anywhere) doesnt save"
**Describe the bug**
Changing the shortcut key of CMD + Shift + L doesnt save, and always reverts back to that.

**Versions**
Version 1.0.4 (1.0.4)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Ray > Preferences
2. Change the shortcut last letter (ie L)
3. Try using new shortcut (doesnt work, still using old one)
4. Close the app
5. Re-open the app (not saved)

**Expected behavior**

[2021-01-08 12:34] slaFFik opened #51 "Windows: tray icon right click options don't work"
**Describe the bug**

When the app is set to be displayed in Tray and you close the app (using the default Windows close button in app window) - it goes to the tray.

When you right click the tray icon to see the options, I see these: Preferences, Hide Ray, Exit Ray.

Only Exit Ray works fine.
Preferences option doesn't open app preferences, and for some reason, I have Hide Ray while Ray is alread

[2021-01-08 12:35] AdrianMrn commented on #21
I'm looking into this issue, I hope to be able to release a version with this fixed today.

[2021-01-08 12:43] freekmurze commented on #49
We are waiting on the correct certificates to do this. It's high on our priority list.

[2021-01-08 12:45] freekmurze commented on #50
I could not reproduce this. When changing the hotkey and restart Ray I get the new hotkey.

<img width="784" alt="image" src="https://user-images.githubusercontent.com/483853/104017069-bd327e00-51b7-11eb-98e3-688e8c4fee79.png">

Did you close preferences after changing the hot key?

[2021-01-08 12:46] szabizs opened #53 "Unable to install the package"
I am unable to install the package.

PHP 7.4.3
Composer 2.0.1
Laravel Framework 8.11.2

[code]

[2021-01-08 12:47] freekmurze commented on #53
Answered in the discussion.

[2021-01-08 12:47] #53 closed

[2021-01-08 12:47] nick-wilkins commented on #50
Ahhh, no I did not. I had assumed that (like the select boxes) saving was instantaneous. If I close preferences from the 'x' then it saves ...

[2021-01-08 12:50] freekmurze commented on #50
We'll save on changing the value (instead of closing prefs) soon. Enjoy Ray!

[2021-01-08 12:50] #50 closed

[2021-01-08 12:59] AdrianMrn commented on #33
Fixed. This will be included in 1.0.5

[2021-01-08 12:59] #33 closed

[2021-01-08 13:02] AdrianMrn commented on #22
@pieterhielkema Could you update the app to the latest version (it should automatically update when launching), and see if this issue still occurs?

If the problem persists, I'll reopen the issue and investigate further.

[2021-01-08 13:02] #22 closed

[2021-01-08 13:11] dib258 commented on #38
Opening the specific port Ray is using in Homestead.yaml configuration file
[code]

Which is opened during the initialisation when restarting Homestead (and making `vagrant provision` before restarting it)
[code]

Retrieve the external ip of the host machine (from this SO : https://stackoverflow.com/a/44873282/2018745)
[code]

Copied the `ray.php` configuration file which is set to
[code]

Checkin

[2021-01-08 13:31] pascalchevrel commented on #46
Confirmed on Ubuntu 20.10

[2021-01-08 13:37] pascalchevrel opened #57 "Clicking on a file logged in Ray doesn't open my text editor (Sublime)"
**Describe the bug**
Clicking on a file logged in Ray doesn't open the text editor (in my case Sublime)

**Versions**
Ray version (you can see this in "About Ray"): 1.0.3

You can use `composer show` to get the version numbers of:
- spatie/ray package version: 1.2.0
- spatie/laravel-ray package version (if applicable):

PHP version: 7.4.9
Laravel version (if applicable):

**To Reproduce**
Steps to

[2021-01-08 13:48] pascalchevrel opened #58 "Linux: No icon for the application"
**Describe the bug**
There is no icon provided by Ray for the system to use it in the Dock

**Versions**
Ray version (you can see this in "About Ray"): 1.0.3

You can use `composer show` to get the version numbers of:
- spatie/ray package version: 1.2.0
- spatie/laravel-ray package version (if applicable):

PHP version: 7.4.9
Laravel version (if applicable):

**To Reproduce**
Steps to reproduce th

[2021-01-08 14:04] AdrianMrn commented on #57
I assume this is similar to https://github.com/spatie/ray/issues/21, and will have something to do with how we're building the path. I'll try to fix this issue today.

[2021-01-08 14:04] pascalchevrel opened #60 "Linux: Font size is smaller than what my OS uses"
**Describe the bug**
The font size used by Ray is smaller than what I use on my OS, making it a bit hard to read

**Versions**
Ray version (you can see this in "About Ray"): 1.0.3

You can use `composer show` to get the version numbers of:
- spatie/ray package version: 1.2.0
- spatie/laravel-ray package version (if applicable):

PHP version: 7.4.9
Laravel version (if applicable):

**To Reproduce**

[2021-01-08 14:09] pascalchevrel commented on #58
I assume that it cannot be added to the dock because of the lack of Icon but maybe it's a different issue

[2021-01-08 14:40] freekmurze commented on #45
I think this is fixed in the latest release of the package. If you not, could you open a new issue at spatie/laravel-ray?

[2021-01-08 14:40] #45 closed

[2021-01-08 15:24] #35 closed

[2021-01-08 15:28] freekmurze commented on #8
I'm thinking this is fixed in one of the latest released.

For Docker based projects, it might be helpful to set up a `remote_path`, `local_path`

See: https://spatie.be/docs/ray/v1/getting-started/configuring-ray

[2021-01-08 15:34] leganz opened #63 "Ray should be deactivated if testing"
**Describe the bug**
If you running phpunit/pestphp eg via Github Actions ray might not be installed which will cause the issue that tests will run endless. (happend to me and costs me 2 hours of github action time)

<img width="1071" alt="Bildschirmfoto 2021-01-08 um 12 45 59" src="https://user-images.githubusercontent.com/3373530/104032643-b9f6bc80-51ce-11eb-846b-98ccb0188e4f.png">

**Versions**

[2021-01-08 15:40] freekmurze commented on #63
This has been fixed in the latest release of spatie/ray (that exception won't be thrown anymore).

[2021-01-08 15:40] #63 closed

[2021-01-08 15:59] stennkool opened #65 "Package looks incompatible with composer v1"
**Describe the bug**
There are still a lot of projects that are incompatible with composer v2 (e.g. Magento) and the composer-runtime-api:2,0 is unavailable there.
It would be really helpful to be able to use this package with composer v1

**Versions**
`1.2.0`

PHP version:
`7.4.10`

**To Reproduce**
`composer require spatie/ray --dev`

**Expected behavior**
Allow ray to install

**Desktop (please

[2021-01-08 16:21] AdrianMrn commented on #27
This one should be fixed in the latest build!

[2021-01-08 16:21] #27 closed

[2021-01-08 17:12] pascalchevrel opened #69 "Ray steals CTRL+SHIFT+K shortcut from Sublime and Firefox"
**Describe the bug**
I was puzzled today at why the "delete line" shortcut in Sublime stopped working. I realized that I had installed Ray today and it is stealing this shortcut from all applications. CTRL+SHIFT+K is the standard "delete line" shortcut in Sublime, it is also the shortcut to open the browser console in Firefox. This makes it a poor choice for a shortcut.

**Versions**
Ray version (

[2021-01-08 17:22] HazJ commented on #65
In the meantime, you can use the `--ignore-platform-reqs` flag. Tested on: Composer version 1.10.19 2020-12-04 09:14:16
 `composer require spatie/ray --dev` --ignore-platform-reqs`

[2021-01-08 17:22] HazJ commented on #65
In the meantime, you can use the `--ignore-platform-reqs` flag. Tested on: Composer version 1.10.19 2020-12-04 09:14:16
 `composer require spatie/ray --dev --ignore-platform-reqs`

[2021-01-08 17:42] HazJ opened #70 "Keyboard shortcuts do not work with accented symbols"
**Describe the bug**
Keyboard shortcuts do not work with accented symbols. Tested using: ö Ö Ä ä
`Toggle visibility from anywhere`
`Clear Ray from anywhere`

**Versions**
- Ray application version: 1.0.5.0
- spatie/ray package version: 1.3.2
- spatie/laravel-ray package version (if applicable):
PHP version: 7.4
Laravel version (if applicable): 8.20.1

**Steps to Reproduce**
1. Open up Ray applicat

[2021-01-08 19:38] sevenpixels commented on #38
Homestead.yaml updated just like @dib258 and same ray.php file.

- Ray 1.0.5
- spatie/ray: 1.3.2
- php 7.4.5

Simple script. I include the package, I call `ray('test')` but I get nothing in the Ray app. Originally I was on spatie/ray 1.1 and I would get `Ray seems not be running at http://10.0.2.2:23517` but now I don't even get that error.

[2021-01-08 19:39] Polfo opened #71 "Path to License key"
Instructions on where to find license key after purchase could be clearer.

I had someone purchase a license for me. He used his credit card but my email adress.

I received a mail with the invoice, but no instructions on where to find the license key.
The ray app also gave no hint.
I figured out it is here: https://spatie.be/products/ray
It would be nice if the instructions in the app and the pur

[2021-01-08 19:44] Polfo commented on #37
OK, dank je Freek. It did not seem to work that way, but now I have a license key, I cannot test that anymore ;-)
#36 will make that more clear anyway.

[2021-01-08 20:15] Polfo commented on #18
I use other versions now and can't reproduce it any more.

[2021-01-08 20:22] HazJ commented on #71
This is not a bug. Post your feedback/suggestions here: https://github.com/spatie/ray/discussions

[2021-01-08 20:33] freekmurze commented on #69
We're going to keep it for now, as
- there are not too many people complaining (you are the first)
- the shortcut can be changed
- my guess is that there is no combination this isn't used by all Ray users

[2021-01-08 20:33] #69 closed

[2021-01-08 20:46] jasonvarga opened #72 "cmd+w doesn't close the window"
**Describe the bug**
On mac, cmd+w doesn't close the window.

In #33, cmd+h was added to hide the window. Great! But now cmd+w does nothing.

**Versions**
Ray version: 1.0.5

**To Reproduce**
1. Press cmd+w

**Expected behavior**
The window should disappear.

**Desktop:**
 - OS: macOS
 - Version: 11.1

 **Additional context**
Ray is rad.

[2021-01-08 20:58] freekmurze commented on #57
On Mac it seem that you need to manually register the sub protocol: https://github.com/saetia/sublime-url-protocol-mac
After that it works.

Maybe you need to do something similar in other OS'es

[2021-01-08 21:17] freekmurze commented on #71
We have some improvements around this in the pipeline. We will also mail installation instructions after purchase.

[2021-01-08 21:17] #71 closed

[2021-01-08 21:18] freekmurze commented on #72
I just added it back, it will be part of the next release I'll do a little bit later this evening.

[2021-01-08 21:19] freekmurze commented on #60
In the view menu there are options to make the UI smaller and bigger.

[2021-01-08 21:19] #60 closed

[2021-01-08 21:21] markjaquith opened #73 "Search for ray.php triggers warning if open_basedir restrictions are in place and ray.php is not found beneath allowed directories"
**Describe the bug**

If open_basedir restrictions are in effect and Ray does not find a `ray.php` in allowed directories, it'll keep "digging up" until its `is_dir()` call is made on a forbidden directory. In my case, it goes above `/srv/www` to call `is_dir('/srv')` which triggers this warning:

**Versions**
Ray version (you can see this in "About Ray"):

1.3.2 (spatie/ray)

PHP version:

7.4.6

[2021-01-08 21:23] slaFFik commented on #65
@stennkool Check this out: https://github.com/spatie/ray/releases/tag/1.1.2
It looks like they are enforcing composer 2.

[2021-01-08 21:26] HazJ commented on #65
Good spot! I didn't realise.

[2021-01-08 21:31] HazJ commented on #65
Good spot! I didn't realise. It's also documentated too. Double miss!
https://spatie.be/docs/ray/v1/requirements
I wonder what possible implications will arise with using v1 with the `--ignore-platform-reqs` flag. I am personally used v2 but roll back to test.

[2021-01-08 21:33] HazJ commented on #65
Good spot! I didn't realise. It's also documentated too. Double miss!
https://spatie.be/docs/ray/v1/requirements
I wonder what possible implications will arise when using v1 with the `--ignore-platform-reqs` flag. I am personally used v2 but roll back to test.

[2021-01-08 21:35] freekmurze commented on #65
I've just removed the requirement.

[2021-01-08 21:35] #65 closed

[2021-01-08 21:47] freekmurze commented on #73
This will be fixed in v1.3.4 of the package.

[2021-01-08 21:47] #73 closed

[2021-01-08 21:51] #72 closed

[2021-01-08 21:52] freekmurze commented on #3
Closing this, I'll keep it in mind, and might add it in the near future.

[2021-01-08 21:52] #3 closed

[2021-01-08 22:06] slaFFik commented on #51
In Ray 1.0.5 the new "Show/Hide Ray" now works as expected.

Preferences still don't work when Ray is hidden.
Expectation: open Ray and its settings.

[2021-01-08 22:09] freekmurze commented on #51
The fix will be released in 1.0.7

[2021-01-08 22:09] #51 closed

[2021-01-08 22:50] jasonvarga commented on #16
Same thing happens in Ignition. I'm guessing it's a limitation of `vscode://` links though. If you can work it out, that would be doubly cool!

[2021-01-09 10:08] groot406 commented on #8
I'm having this issue too (on Mac Osx).
It seems to be depending on how I call ray to send a log.
`
ray('wrong'); // Results in a link to helpers.php:28
ray()->send('correct'); // Results in a link to the correct file and line number.
ray()->ban(); // Results in a link to the correct file and line number.

I'm running:
PHP: 7.4.2
Ray: 1.3.4
Ray App: 1.0.7
The code runs on a local webserver (apache

[2021-01-09 10:47] freekmurze commented on #8
Thanks again for that PR @groot406

@veryard I've just released a new version with that fix (https://github.com/spatie/ray/releases/tag/1.3.5) Could you update to that version, and confirm that it is fixed for you?

If it is, please close this issue.

[2021-01-09 10:53] veryard commented on #8
Hey @freekmurze,

Looks like it's working perfectly now!

![image](https://user-images.githubusercontent.com/3941758/104089719-fd732880-52ab-11eb-8108-bfaa880ec30c.png)

Thanks :D

[2021-01-09 10:54] #8 closed

[2021-01-09 14:09] pokmot commented on #21
Fixed it using this: https://github.com/aik099/PhpStormProtocol

I followed the instructions for Windows, and I had to change the path in run_editor.js to reflect my real path. Also, note that PhpStorm installs in a new folder every time so this script must be updated too :(

[2021-01-09 21:44] patinthehat opened #88 "Linux: Clicking "view" button in notification doesn't do anything"
**Describe the bug**
When a notification payload is displayed by Ray, clicking the "view" button does not do anything.

**Versions**
- spatie/ray package version: 1.3.7
- Ray app version: 1.0.7
- PHP version: 7.4.13

**Sample Code**
[code]

**To Reproduce**
1. Run the sample code
2. Click on 'view' in the notification that is displayed
3. Nothing happens

**Expected behavior**
Expected behavior is

[2021-01-09 21:47] freekmurze commented on #88
Could you post a screenshot of that notification?

[2021-01-09 21:54] patinthehat commented on #88
@freekmurze
Sorry about that, I accidentally clicked "submit" before I was done authoring the issue.

[2021-01-09 21:57] freekmurze commented on #88
Do all other Linux notifications have a "View" button? If not, I'll research how to remove "View" from ours.

[2021-01-09 22:01] patinthehat commented on #88
No.  Running the following command in bash displays a notification without a "view" button:

[code]
**Screenshot:**
![image](https://user-images.githubusercontent.com/5508707/104109476-4a4f0300-529c-11eb-85f0-23eef1ac13b0.png)

[2021-01-10 05:20] sevenpixels commented on #38
No changes in the Homestead.yaml or the ray.php config. It's working now.

- Ray 1.0.7
- spatie/ray: 1.3.7

[2021-01-10 09:28] spham opened #91 "setup issue"
I have this issue for Linux
[code]

sylvain@mini:~$ cat /etc/os-release
[code]

[2021-01-10 09:39] #91 closed

[2021-01-10 09:40] freekmurze commented on #91
Could you please open a new issue filling in the template? This will allow us to help you beter. Be sure to include version numbers and mention the specific flavour and version of the Linux dustribution you are using.

[2021-01-10 10:47] dib258 commented on #38
I just tested removing the opening of the port in the `Homestead.yaml` (then `vagrant provision`, `vagrant halt` and `vagrant up`) file and it's actually working, so forcing Homestead to open the port is kind of adding some other tools listening to that port apparently that catch or block the request to Ray app.

Thanks for the solution @sevenpixels ! ;)

If someone has an explanation why, it woul

[2021-01-10 11:40] freekmurze commented on #38
If there is anything that can be improved around this in our docs, let me know!

[2021-01-10 11:52] laemol commented on #38
Hi Freek, can you please fix the issue that Ray app needs te be running when working local?

[2021-01-10 11:56] freekmurze commented on #38
@laemol  afaik this is not a problem in the latest version of the package. Can you create a small app to recreate the problem and share that with me?

[2021-01-10 12:14] dib258 commented on #38
@freekmurze I don't think there's a need to update the documentation since you created a command to create the config file with the default configuration of the host machine's ip.

The only thing that could go wrong if someone touched the configuration of Homestead/Vagrant and could have another host IP address, but maybe if they did that they should know the correct IP and change it in the config

[2021-01-10 12:21] laemol commented on #38
@freekmurze the latest version of the package has fixed it, thanks! Really like Ray btw nice job!

[2021-01-10 17:42] Mamaduka opened #99 "Unexpected `null` in the caller method name"
**Describe the bug**
The unexpected `null` is printed before the caller's name.

**Versions**
Ray version (you can see this in "About Ray"): 1.0.8

You can use `composer show` to get the version numbers of:
- spatie/ray package version: 1.3.7
- spatie/wordpress-ray plugin version: 1.0.0

PHP version: 8.0

**To Reproduce**
Place `ray()->caller();` inside  the function and check the Ray output. In m

[2021-01-10 18:15] freekmurze commented on #99
I've noticed this myself and this is on my list to fix very soon.

I'm not primarily working in WordPress and it gives me great joy that you got this up and running in WordPress.

I'm also looking for the best way to install this in WordPress. How did you install it? This might be helpful for me to know, when I create WordPress specific docs.

[2021-01-10 18:48] Mamaduka commented on #99
I just cloned the plugin repo into the `plugins` directory.

I think most people will use WP UI or WP CLI [command](https://developer.wordpress.org/cli/commands/plugin/install/) to install the plugin after it is available on the WP.org repository.

[2021-01-10 19:03] freekmurze commented on #99
If this is something that is typically done in the WordPress community, could you PR the step that you performed in de installation section of our docs?

[2021-01-10 19:04] freekmurze commented on #99
You should also so know that I aim to add more WordPress specific functionality. I just need to figure out the best way to detect when a query is executed in WordPress, when an event is fired, etc...

If you already know a good way and know how to do this, I'd appreciate a PR at the wordpress-ray repo. Of course, don't feel yourself obliged in any way.

[2021-01-10 19:20] Mamaduka commented on #99
We developers do it from time to time but I think installing from WP.org is the most preferred method.

Is there a WP section of the docs? I will try to contribute where I can.

Happy to contribute to the plugin as well.

[Query Monitor](https://github.com/johnbillion/query-monitor) can be a good starting point to borrow some logic. It's like Laravel Debugbar but for WordPress.

[2021-01-10 21:29] ClementN opened #102 "Linux: Unable to activate license"
**Describe the bug**

The license is not activated and I can't find a way to retry to add it.

**Versions**
Ray version (you can see this in "About Ray"): 1.0.8

**To Reproduce**
Steps to reproduce the behavior:

When the App was launched for the first time, there was a window asking for the license.
I pasted the license there.

Now, at the bottom fn the main Ray window it says I am on the trial m

[2021-01-10 21:31] ClementN commented on #46
Confirmed in Ray App: 1.0.8

[2021-01-10 21:37] ClementN commented on #102
Solved: After a system reboot, the license window re-appeared and I was able to insert the license.

[2021-01-10 21:37] #102 closed

[2021-01-11 08:49] ndeblauw opened #105 "Clicking on "editor link" does not work [Windows 10]"
**Describe the bug**
No matter which editor I choose, I always get to see this popup when I click a link in Ray.
![image](https://user-images.githubusercontent.com/4344869/104160517-8f387e00-53f1-11eb-8d50-ce016f916fd0.png)

Strangely it doesn't allow me to "pick from existing installed programmes". Only referred to the Microsoft store, where I cannot find the apps (that I already have installed)

[2021-01-11 09:08] AdrianMrn commented on #46
I'll have a look at this this week.

[2021-01-11 10:03] basepack commented on #105
Having the exact same issue. I have however setup my code to use Domains like this:
[code]

I am happy to refactor this approach if that will allow Ray to work though.

[2021-01-11 10:44] shankhadevpadam opened #106 "App not work in Ubuntu 20.04."
While I download ray app for Linux version using this link. https://spatie.be/products/ray/download/linux/latest it downloads a binary file which is not executed in ubuntu 20.04

[2021-01-11 11:05] AdrianMrn commented on #37
Thanks for your purchase! 😊

[2021-01-11 11:06] pascalchevrel commented on #106
You need to chown a+x the downloaded file (works for me in Ubuntu 20.10)

[2021-01-11 11:07] AdrianMrn commented on #21
I'll try my best to find a better solution for this! Do you get this problem only with PhpStorm, or also if you select other editors?

[2021-01-11 11:11] freekmurze commented on #106
Thanks for your response @pascalchevrel

[2021-01-11 11:11] #106 closed

[2021-01-11 11:18] pascalchevrel commented on #57
I did  install the subl protocol extension, I tested it with a local webpage and a link of the form subl:///home/foo/path/to/file.php:10 does work from a web page.

Now that this package is installed, Ray opens a blank file in Sublime with this path /home/foo/path/to/open?url so it still doesn't work.

[2021-01-11 11:58] HPWebdeveloper opened #107 "syntax error"
**Describe the bug**
ParseError
syntax error, unexpected '=>' (T_DOUBLE_ARROW), expecting ',' or ')'

**Versions**
Ray version:  1.0.8 (1.0.8)

You can use `composer show` to get the version numbers of:
- spatie/ray package version:  1.5.0
- spatie/laravel-ray package version (if applicable):  1.3.4

PHP version:
Laravel version (if applicable): PHP 7.4.14

**To Reproduce**
On a fresh Laravel
COMP

[2021-01-11 12:30] AdrianMrn commented on #16
I sometimes had a similar issue while developing, I'll see if I can reproduce this one!

[2021-01-11 13:02] GraxMonzo commented on #88
Same on Windows

[2021-01-11 13:08] GraxMonzo commented on #88
It also seems that notifications on Windows don't have icon and proper title
![image](https://user-images.githubusercontent.com/11737104/104185772-a2723a80-543f-11eb-9ba9-4b22086554cf.png)

[2021-01-11 13:19] freekmurze commented on #107
The package does not contain a syntax error. You are not running PHP 7.4 or higher. Please upgrade your PHP version on both the web and CLI.

[2021-01-11 13:19] #107 closed

[2021-01-11 13:41] AdrianMrn commented on #105
Duplicate of https://github.com/spatie/ray/issues/21, I'm looking into this.

[2021-01-11 13:41] #105 closed

[2021-01-11 13:55] bagwaa opened #109 "showQueries() and queries() does not exist when trying to show queries."
**Describe the bug**
I have installed a fresh Laravel application, I then added some MySQL config in the env file and created a database called "ray", I then added one user, and then from within the default web.php route file added the following :-

I also installed the composer package using `composer require spatie/ray`

[code]

This causes an error when attempting to load the page :

[code]

**

[2021-01-11 13:59] bagwaa commented on #109
Also, as a quick side note, if I run `ray('Hello world');` and remove the `ray()->showQueries()` command, it correctly dumps to the app as expected.

[2021-01-11 14:01] riasvdv commented on #109
For queries in a Laravel app you should install `laravel-ray` using `composer require spatie/laravel-ray`. `laravel-ray` is an extension of the base `ray` package

[2021-01-11 14:01] #109 closed

[2021-01-11 14:22] AdrianMrn commented on #16
It looks like this was implemented in vscode in this PR https://github.com/microsoft/vscode/pull/15320, and they encountered the same issue (https://github.com/microsoft/vscode/pull/15320#pullrequestreview-8158394). It seems like they should have fixed this, so I'm not sure what is still going wrong… If anyone else cares to take a look, feel free!

[2021-01-11 14:38] #16 closed

[2021-01-11 15:19] AdrianMrn commented on #88
Thanks for the report! This should be better in 1.0.8 (will release later tonight). Please let me know if the problem persists afterwards!

[2021-01-11 15:19] #88 closed

[2021-01-11 16:14] AdrianMrn commented on #58
I'm having a look into this now!

[2021-01-11 16:22] AdrianMrn commented on #21
It seems like this is a known error, and we'll probably not be able to fix it on our side.

See https://laracasts.com/discuss/channels/general-discussion/cant-get-ignition-to-open-file-in-phpstorm

[2021-01-11 16:22] #21 closed

[2021-01-11 16:31] AdrianMrn commented on #7
I can't reproduce this issue, collapsing and expanding seems to work for me on Windows.

It's possible that your composer.json requires an older version of the package that creates the Symfony dumps (I don't know which one this is off the top of my head), which could be incompatible with the up-to-date Symfony dump script (which is the one we use in Ray).

If more people run into this issue, I'll

[2021-01-11 16:31] #7 closed

[2021-01-11 16:34] AdrianMrn commented on #57
I'll have a look into this!

[2021-01-11 17:14] elfeffe opened #111 "Package "spatie/laravel-ray" is not installed on Ubuntu VM"
**Describe the bug**
I run
`composer require spatie/laravel-ray
`
but when I try to debug using
`        ray()->showQueries();
`
I get that error

**Versions**
1.0.8

You can use `composer show` to get the version numbers of:
spatie/ray                           1.5.2
spatie/laravel-ray                   1.3.4

PHP version: 7.4
Laravel version 8

**Desktop (please complete the following informatio

[2021-01-11 17:39] freekmurze commented on #99
I've fixed that `null` caller method name in development.

<img width="1646" alt="image" src="https://user-images.githubusercontent.com/483853/104217874-393cf800-543c-11eb-9f7b-11c0767f2e4f.png">

This will be part of Ray 1.2.1 which will be released later tonight.

[2021-01-11 17:39] #99 closed

[2021-01-11 17:58] Jackpump opened #112 "Windows 10 + Docker dev environment"
**Describe the bug**
When trying to open a file from the Ray app (clicking a link on list files)
It tries to open VSCode, which is correct, but the generated path to open is incorrect

The local path where I work is "F:\Projects\MyProject"
The path generated by the application is the same than in the docker machine "/opt/www/html/~~~"

**Versions**
Ray version (you can see this in "About Ray"): 1.

[2021-01-11 17:58] Jackpump opened #113 "Windows 10 + docker host"
**Describe the bug**
When trying to open a file from the Ray app (clicking a link on list files)
It tries to open VSCode, which is correct, but the generated path to open is incorrect

The local path where I work is "F:\Projects\MyProject"
The path generated by the application is the same than in the docker machine "/opt/www/html/~~~"

**Versions**
Ray version (you can see this in "About Ray"): 1.

[2021-01-11 17:59] #113 closed

[2021-01-11 18:03] freekmurze commented on #111
Could you post a full stacktrace?

I'm pretty sure that this problem is caused by something specific to your environment as the tests run fine and I'm getting no other reports about this problem.

[2021-01-11 18:05] Jackpump commented on #111
@elfeffe try clearing your apps cache, maybe that would work

[2021-01-11 19:29] GraxMonzo commented on #88
@AdrianMrn Thanks for update. Problem with no interaction was resolved. 😁

[2021-01-11 20:58] patinthehat commented on #88
I can also confirm that this issue is resolved.  Clicking "view" now opens the Ray window.

[2021-01-11 21:10] jamesj2 opened #115 "Global shortcut interferes with Bitwarden"
**Describe the bug**
I use Bitwarden password manager and utilize the CTRL-SHIFT-L shortcut for logging into websites.  When the Ray appimage on Linux is running it steals this shortcut requiring use of the mouse to use Bitwarden to fill logins.

**Versions**
There is no about option but the menu entry says Ray is version 1.2.1.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Ray deskto

[2021-01-11 21:19] jamesj2 commented on #115
So I just added a license and found the preferences.   And I was able to change the shortcut.

[2021-01-11 21:19] #115 closed

[2021-01-11 22:13] ken-mills commented on #21
I have the same problem on Windows 10, Phpstorm 2020.3.1. I tried the protocol handler option posted by @pokmot with no luck. Got shell error running wscript. I found that an IntelliJ Platform supports a [Rest API](https://www.develar.org/idea-rest-api/#api-Platform-file) to open a file. Could this be a potential solution and configuration option for the Ray app? Not sure if the api is supported.

[2021-01-11 23:15] oliverhermanni commented on #112
I learned today, that RAY_REMOTE_PATH must be filled also with the path from the Docker container (see [my issue on laravel-ray](https://github.com/spatie/laravel-ray/issues/61)).

[2021-01-11 23:56] tyler36 commented on #28
Thank you. It looks much better now.

![Price-page_fixed](https://user-images.githubusercontent.com/7234392/104251824-ea32a980-54b3-11eb-9969-fd312416256c.png)

[2021-01-12 11:03] AdrianMrn opened #122 "add colorblind setting"
see https://github.com/spatie/ray/discussions/110#discussioncomment-276183

[2021-01-12 14:29] AdrianMrn commented on #58
This should be fixed in 1.2.2 (will release later today). Please let me know if the icon still does not appear!

[2021-01-12 14:29] AdrianMrn commented on #57
This should be fixed in 1.2.2 (will release later today). Please let me know if it still doesn't work!

[2021-01-12 14:29] #57 closed

[2021-01-12 14:30] AdrianMrn commented on #46
This should be fixed in 1.2.2 (will release later today). Please let me know if it still doesn't work!

[2021-01-12 14:30] #46 closed

[2021-01-12 14:37] pascalchevrel commented on #58
This is not fixed in 1.2.2, did you mean maybe an upcoming 1.2.3 coming later today?

[2021-01-12 14:38] pascalchevrel commented on #57
This is not fixed in 1.2.2, did you mean maybe an upcoming 1.2.3 coming later today?

[2021-01-12 14:38] pascalchevrel commented on #46
This is not fixed in 1.2.2, did you mean maybe an upcoming 1.2.3 coming later today?

[2021-01-12 14:40] AdrianMrn commented on #58
Yup, my bad!

[2021-01-12 14:40] AdrianMrn commented on #57
Yup!

[2021-01-12 14:40] AdrianMrn commented on #46
Yup!

[2021-01-12 15:03] elfeffe commented on #111
I have cleared my cache, but still get it.

The problem seems to be this line
            `$meta['laravel_ray_package_version'] = InstalledVersions::getVersion('spatie/laravel-ray');`

Here:
Spatie\LaravelRay\Ray::sendRequest
vendor/spatie/laravel-ray/src/Ray.php:159

[code]

[2021-01-12 15:03] elfeffe commented on #111
This is my context
Environment information
Laravel version
8.21.0
Laravel locale
en
Laravel config cached
false
PHP version
7.4.13

[2021-01-12 15:11] freekmurze commented on #111
Could you show us the output of `composer show`

[2021-01-12 15:12] elfeffe commented on #111
asm89/stack-cors                     v2.0.2                                               Cross-origin resource sharing library and stack middleware
bacon/bacon-qr-code                  2.0.3                                                BaconQrCode is a QR code generator for PHP.
barryvdh/laravel-ide-helper          v2.9.0                                               Laravel IDE Helper, generat

[2021-01-12 15:13] jozydapozy commented on #111
This happens (for me at least) when you're using more then 1 composer.json in your project.

Although this is not advised to do in the first place, it would be nice if Ray didn't depend on the InstalledVersions-check, to prevent this error from happening..

[2021-01-12 15:13] elfeffe commented on #111
I have 1 composer.json, but I have some local packages with their composer.json

[2021-01-12 15:15] jozydapozy commented on #111
That's probably it, but as I said, would be nice if Ray didn't bother about that..

[2021-01-12 16:22] Jackpump commented on #112
Found the solution Thx!

RAY_REMOTE_PATH='/opt/www/html/'
RAY_LOCAL_PATH='F:/Projects/MyProject/'

[2021-01-12 16:37] binaryk commented on #111
@freekmurze The same problem here, on local it works, but on ubuntu server it doesn't, I guess it's because on the server we don't have the application itself:

![image](https://user-images.githubusercontent.com/6833714/104343910-2f32fc00-5505-11eb-8a33-6668eec7397a.png)

[2021-01-12 16:38] #112 closed

[2021-01-12 18:31] pascalchevrel commented on #57
I confirm that it works in 1.2.3

[2021-01-12 18:33] pascalchevrel commented on #58
@AdrianMrn Adr This is not fixed in 1.2.3, the ticket should be reopened. Thanks.

[2021-01-12 21:32] m1guelpf opened #130 "Add CORS to ray endpoint"
As discussed with @freekmurze, the logger endpoint needs CORS to allow for ray() calls from the frontend.

[2021-01-13 08:16] semiherdogan opened #135 "Show app on menubar now working"
**Describe the bug**
Show app on menubar function not working. It removes icon from duck, but not adding into menubar.

**Versions**
Ray version 1.2.3

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ray settings
2. Change show app action to on menubar or on both

**Desktop (please complete the following information):**
 - OS: macOS
 - Version 11.1 (Big Sur)

[2021-01-13 08:19] freekmurze commented on #135
@AdrianMrn I could reproduce this. The menu item has been set, but it has no icon. In the previous versions it worked. I guess this is caused by some refactoring yesterday.

[2021-01-13 08:20] freekmurze commented on #111
Could somebody create a small app that I can use locally to reproduce this error? I'm feeling that this problem is caused by some weird edge case.

[2021-01-13 09:50] AdrianMrn commented on #135
I'm already tracking this in the main repository, I'll report back here once I've found an issue.

It only seems to happen the first time you set it to menu. If you switch to dock and then to menu again, the icon appears. I'll try to fix this today.

[2021-01-13 09:52] AdrianMrn commented on #58
@pascalchevrel How are you launching the app? I'm not very experienced with Ubuntu, so I just double clicked the AppImage file, which properly shows the icon on my vm.

[2021-01-13 09:54] pascalchevrel commented on #58
I  launch it from a terminal (I confess I haven't tried with double-clicking :)

[2021-01-13 09:55] AdrianMrn commented on #58
No worries, it should work either way :) I'll report back soon!

[2021-01-13 09:57] semiherdogan commented on #135
For me menu bar never appears.

https://user-images.githubusercontent.com/5646041/104436440-a799cb80-559e-11eb-8383-fa420f29912f.mp4

[2021-01-13 09:58] pascalchevrel commented on #58
I tried double-clicking and I still have a blank icon in my dock. The Ray app is also the only one of my apps with no icon added to its window when cycling through open applications in Gnome (shift+alt+tab).

[2021-01-13 10:00] AdrianMrn opened #145 "limit amount of items in memory"

[2021-01-13 10:08] AdrianMrn commented on #135
Whoops
![image](https://user-images.githubusercontent.com/12762044/104437883-9eedc900-558f-11eb-8179-ed94ba55341d.png)
![image](https://user-images.githubusercontent.com/12762044/104437899-a44b1380-558f-11eb-874d-1ad1588d08ca.png)

[2021-01-13 10:09] AdrianMrn commented on #58
whoops, this might have something to do with it 🙈
![image](https://user-images.githubusercontent.com/12762044/104438027-cd6ba400-558f-11eb-985a-05f9f6b7d8dd.png)

[2021-01-13 10:10] elfeffe commented on #111
The problem is not the App, it seems to be related to the Ubuntu VM.
I have a Mac, but I run my websites inside an Ubuntu VM to make it as similar as possible to my real servers.

[2021-01-13 10:24] freekmurze commented on #111
Seems to me that this is more a problem of Composer 2 not being able to properly detect installed packages in such environment.

I don't have access to such environment. I'd accept a PR that would solve this problem for you in a non-breaking way.

Closing this here, as this is likely an issue with Composer.

[2021-01-13 10:24] #111 closed

[2021-01-13 10:40] AdrianMrn commented on #135
This will be fixed in 1.2.5, which we will release later today!

[2021-01-13 10:40] #135 closed

[2021-01-13 10:41] AdrianMrn commented on #58
This should be fixed in 1.2.4 🤞

[2021-01-13 10:41] #58 closed

[2021-01-13 10:42] AdrianMrn commented on #130
@m1guelpf Do you think this is what we need? https://expressjs.com/en/resources/middleware/cors.html

Can I test it by running a fetch call to the app from within a browser?

[2021-01-13 10:45] pascalchevrel commented on #58
Yes, it works now

[2021-01-13 10:54] pascalchevrel opened #137 "Linux: Tray icon is almost invisible (black on black)"
**Describe the bug**
The tray icon is a black icon, the default Ubuntu theme has a black tray bar, that makes the icon almost invisible

**Versions**
Ray version (you can see this in "About Ray"): 1.2.4

**Screenshots**
![image](https://user-images.githubusercontent.com/454375/104442925-0ad33000-5596-11eb-8ba9-c46957b09632.png)

**Desktop (please complete the following information):**
 - OS: Ubunt

[2021-01-13 10:54] pascalchevrel opened #138 "Linux: almost invisible tray icon"
**Describe the bug**
The tray icon is a black icon, the default Ubuntu theme has a black tray bar, that makes the icon almost invisible

**Versions**
Ray version (you can see this in "About Ray"): 1.2.4

**Screenshots**
![image](https://user-images.githubusercontent.com/454375/104442925-0ad33000-5596-11eb-8ba9-c46957b09632.png)

**Desktop (please complete the following information):**
 - OS: Ubunt

[2021-01-13 10:59] AdrianMrn commented on #58
Is it pixelated for you too? It's a 1024x1024px png, so I'm not sure what the issue is on my machine.

[2021-01-13 11:00] jozydapozy commented on #73
For me this is still an issue with v1.5.6. I get this error:
`[E_WARNING]: is_dir(): open_basedir restriction in effect. File(/var/www/vhosts) is not within the allowed path(s): (/var/www/vhosts/<domain>/:/tmp/)`

[2021-01-13 11:00] AdrianMrn commented on #138
duplicate #137

[2021-01-13 11:00] #138 closed

[2021-01-13 11:04] freekmurze commented on #73
This is hard to fix without a stack trace. Also, I don't have an environment where this option is set to true.

I'd appreciate you opening a new issue for this with as much detail as you can.
If possible, also create a PR that fixes this for you.

[2021-01-13 11:12] pascalchevrel commented on #58
Yes it is very pixelated but if you use such a large bitmap image that sounds logical as the resizing is going to create artifacts. You should either use a smaller image (256 or 128px) or use one in a vector format (SVG). As an indication, I work for Mozilla and we use a 128px icon for Firefox (actually we provide the icon in 16, 32, 48, 64 and 128px sizes but the 128px one is used by the various

[2021-01-13 11:23] jozydapozy commented on #73
I've fixed this now by creating a `ray.php` in my doc-root containing this:
[code]
This prevents the `SettingsFactory.php` form looking any further.

[2021-01-13 11:35] elfeffe commented on #111
@freekmurze Composer 2..., I see it.
Well kept secret my friend :)

It doesn't show the error anymore, I just need to see how to communicate with my host Mac from Ubuntu now.

[2021-01-13 11:43] freekmurze commented on #73
That's nice way to go about it 👍

[2021-01-13 12:06] AdrianMrn commented on #137
@willemvb If you can create an inverted version of the tray icon as a png, I'll make sure it gets used on Linux 👍

[2021-01-13 13:02] AdrianMrn commented on #58
I've tried with a 128 and 256px icon, and it doesn't seem to change a thing. If it's very annoying to you or other users, I'll do some more research into this.

[2021-01-13 13:03] AdrianMrn commented on #130
Added in 1.2.5 (will release later today)

[2021-01-13 13:03] #130 closed

[2021-01-13 14:32] willemvb commented on #137
@AdrianMrn inverted tray icons are ready to use

[2021-01-13 14:37] pascalchevrel commented on #58
Not a big issue, the lack of icon in the dock was a blocker for me, but with the recent linux fixes it makes the app usable so I took a licence :)

[2021-01-13 15:37] RicardoRamirezR opened #144 "ray()->measure() testing Laravel"
Hi there,

Trying to use a ```ray``` ```measure``` when testing and ...

[code]

**Versions**
laravel/framework: 8.22.1
spatie/laravel-ray: 1.4.0
spatie/ray: 1.6.0
PHP: 7.4.13

**Desktop (please complete the following information):**
 - OS: macOS
 - Version: BigSur

 **Additional context**
[code]

[2021-01-13 15:38] freekmurze commented on #144
I don't think we can solve this. You can't use anything Laravel specific in `setUpBeforeClass` as the framework has not booted yet.

[2021-01-13 15:38] #144 closed

[2021-01-13 20:19] semiherdogan opened #149 "Cannot see whole sql query"
**Describe the bug**
I cannot see whole sql query if query is too long.

**Versions**
Ray version 1.2.5

**To Reproduce**
Steps to reproduce the behavior:
1. Log a query with long parameters.

**Expected behavior**
Maybe adding horizontal scrolling into sql query area may fix this issue.

**Screenshots**
<img width="862" alt="Screen Shot 2021-01-13 at 23 10 14" src="https://user-images.githubuserc

[2021-01-14 02:06] nexxai opened #151 "OutOfBoundsException: Package "spatie/laravel-ray" is not installed"
**Describe the bug**
When executing tests in a Laravel 8.x project, I'm getting `OutOfBoundsException: Package "spatie/laravel-ray" is not installed` error.  I am just using the normal Laravel testbench, which I think includes orchestra(?) so as the documentation suggests, I *think* I've added this to the correct BaseTestCase (/tests/TestCase.php):

[code]

**Versions**
Ray version (you can see th

[2021-01-14 07:11] freekmurze commented on #151
I cannot reproduce this. Can you share an example app where I could easily trigger this error?

[2021-01-14 07:11] freekmurze commented on #151
Thanks!

[2021-01-14 10:17] meminuygur opened #156 "Not able to work ubuntu - docker"
**Describe the bug**
The project seems awesome !
I applied all required configs but not showing any data on Ray App. Is there anything i am missing ?

**Versions**
Ray version: 1.3.0

- spatie/ray package version: 1.6.0
- spatie/laravel-ray package version (if applicable): --
- using in magento2

PHP version: 7.4.13
Laravel version: --
Magento version: 2.4.1
Docker version: 20.10.2

**ray.php** co

[2021-01-14 10:51] meminuygur commented on #156
I found the solution. The `host.docker.internal:host-gateway` parameter should be added on php-fpm container not on apache.

[2021-01-14 10:51] #156 closed

[2021-01-14 11:51] sinnbeck commented on #156
What did you set as 'host-gateway' ? I assume that you set it to a 172.*.0.1 address?

[2021-01-14 11:54] meminuygur commented on #156
here, check my config for php-fpm
[code]

[2021-01-14 11:55] meminuygur commented on #156
@sinnbeck another thing is you should use docker version >= 20.x. `:host-gateway` is not working lower versions.

[2021-01-14 12:09] sinnbeck commented on #156
Thanks! Just found out though google.

[2021-01-14 12:13] AngelOD commented on #137
I'm having the same issue on Windows 10, as I use a dark background on there. If you had a background on your icon, that would be massively helpful and should work no matter the system's background colour.

[2021-01-14 13:05] yoyosan opened #158 "[Linux] Link to IDE line doesn't work"
Ray version: 1.11.0
OS: Manjaro KDE 5.77
IDE: PHPStorm 2020.3.1

Whenever I'm clicking on the link below the message(with class name and line number), I'm getting this error.

![image](https://user-images.githubusercontent.com/32405/104594345-b1dcc800-5679-11eb-9460-98c8f7de02a1.png)

I've used this project https://github.com/sanduhrs/phpstorm-url-handler to install the phpstorm-handler.

[2021-01-14 13:05] yoyosan opened #159 "[Linux] Cannot go to IDE line"
Ray version: 1.3.0
OS: Manjaro KDE 5.77

Whenever I'm clicking on the link below the message(with class name and line number), I'm getting this error.

![image](https://user-images.githubusercontent.com/32405/104594345-b1dcc800-5679-11eb-9460-98c8f7de02a1.png)

I've used this project https://github.com/sanduhrs/phpstorm-url-handler to install the phpstorm-handler.

[2021-01-14 13:06] #159 closed

[2021-01-14 15:07] nexxai commented on #151
@freekmurze Can I temporarily invite you to a private repo here so you can see the actual code?

[2021-01-14 16:12] freekmurze commented on #151
I'd rather not. I don't have time to debug actual projects. Please create a minimal example for me to look at.

[2021-01-15 00:23] szepeviktor opened #162 "Is there a Settings::load method?"
**Describe the bug**

Static analysis reports

[code]

https://github.com/spatie/ray/blob/69699770736030fec47ef685ab0c3a2eba8013b8/src/Ray.php#L55

Please advise.

[2021-01-15 04:55] jasonvarga opened #165 "Sending a payload with null in it doesn't get rendered"
**Describe the bug**

If I perform a `ray()` call where _any_ argument is `null`, nothing gets rendered in the app.

[code]

**Versions**
Ray version: 1.3.1

You can use `composer show` to get the version numbers of:
- spatie/ray package version: 1.9.1 (specifically, commit sha 6969977)
- spatie/laravel-ray package version: N/A

PHP version: 7.4.14
Laravel version: N/A

**To Reproduce**
Call `ray(

[2021-01-15 07:49] freekmurze commented on #162
This will be fixed by #161

[2021-01-15 07:49] #162 closed

[2021-01-15 07:52] freekmurze commented on #151
Maybe it's just a case of your test not hitting the `getPackageProviders` method. Could you put a `die('I am here')`, to see if it is actually called?

If not, create that minimal example for me to look at, and open a new issue.

[2021-01-15 07:52] #151 closed

[2021-01-15 08:03] davide-casiraghi opened #166 "After installation Ray seems not working"
**Describe the bug**
I have installed Ray and when I try to run in a controller I'm debugging anything related with Ray nothing happens.

[code]

**Versions**
1.3.0

You can use `composer show` to get the version numbers of:
- spatie/ray package version:  1.5.2
- spatie/laravel-ray package version (if applicable):   1.7.2

PHP version:
Laravel version (if applicable): 7.4

**Desktop (please comple

[2021-01-15 08:07] freekmurze commented on #166
Could you create a minimal app for me to look at where in Ray is not working?

[2021-01-15 08:11] freekmurze commented on #165
This is fixed in Ray 1.3.3, which will be released in a couple of minutes

[2021-01-15 08:11] #165 closed

[2021-01-15 08:28] freekmurze commented on #166
Maybe you app is in production mode? Try manually enabling it by calling `ray()->enable()`

[2021-01-15 08:29] freekmurze commented on #166
If it doesn't work after these tips, reopen a new issue at spatie/laravel-ray with a link to that minimal app.

[2021-01-15 08:29] #166 closed

[2021-01-15 08:57] davide-casiraghi commented on #166
I tried with `ray()->enable()` and checking if by change I was in production mode but in my .env file I have `APP_ENV=local`.
When I have a bit of time I will create the minimal app and share the link.

[2021-01-15 09:37] freekmurze commented on #166
If you're using homestead / docker, do check our docs for a few additional tips

[2021-01-15 09:43] davide-casiraghi commented on #166
Yes I'm using Homestead!
after doing: `php artisan ray:publish-config --homestead`
now is working!!

Sorry I missed that line in the documentation.

Thank you! <3

[2021-01-15 10:42] Eldair commented on #44
This is still an issue w/ the latest version as well
![image](https://user-images.githubusercontent.com/470003/104715336-b7441c00-5726-11eb-972a-82ed1402d062.png)

[2021-01-15 11:08] AdrianMrn commented on #44
@Eldair This should only happen when Ray is minimized. Using the x button doesn't close it; it'll stay active in the background, like many other apps. If you use `file > quit ray`, or right click the tray icon and click `quit`, all processes should be gone.

The multiple background processes are -as far as I can tell- normal on Windows. You'll notice the same thing happens for pretty much every ot

[2021-01-15 11:13] Eldair commented on #44
@AdrianMrn Thanks for the info, you're right. Problem is that tray icon is not enabled by default and if X button doesn't close it completely then tray icon should always be visible w/o the option to disable it (or kill app with X button if tray icon is not enabled).

[2021-01-15 12:13] AdrianMrn commented on #44
I think I agree with you. It does seem unclear on Windows & Linux when there is no trace of the app on the dock or the tray, but it is still running in the background. This is handled slightly better on Mac, where it always stays on the dock if it's still running in the background.

Maybe the only 2 options should be "display on tray & dock" (default) and "display only on tray".

@freekmurze any t

[2021-01-15 12:17] freekmurze commented on #44
👍

[2021-01-15 15:40] jasonvarga commented on #165
Awesome, thank you!

[2021-01-15 19:24] tcov189 opened #177 "[Sail] RAY_LOCAL_PATH not used unless RAY_REMOTE_PATH is set"
**Describe the bug**
When using Laravel Sail, setting `RAY_LOCAL_PATH` in `.env` doesn't get used for the file path in Ray unless `RAY_REMOTE_PATH` is also set.

**Versions**
Ray version (you can see this in "About Ray"):
1.5.0

You can use `composer show` to get the version numbers of:
- spatie/ray package version: 1.11.0
- spatie/laravel-ray package version (if applicable):  1.6.1

PHP version:

[2021-01-16 12:09] slaFFik opened #180 "Windows: "Help > Report a bug" doesn't work"
**Describe the bug**
When I try to report a bug using "Help > Report a bug..." menu item it switches to my default browser but it doesn't open any URLs. It just makes the Chrome active - and that's it.

**Versions**
Ray version: 1.5.0.0

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Ray app
2. Click on Help > Report a bug
3. See your browser going in focus -
4. No tab is opened

*

[2021-01-16 12:53] slaFFik commented on #7
@AdrianMrn I still have this issue, using the latest WordPress plugin, Ray app v1.5.0 on Windows 10 Pro 20H2.

Is there anything I can help you debug this issue?

[2021-01-17 06:00] xavi7th opened #184 "Sending many items at once can freeze Ray"
**Describe the bug**
The ray app seems to freeze when ever I launch it. The "+" sign at the top does not come active and my scripts take forever when I have calls to ray() in them. When the scripts finally do run, there is no output in ray and ray becomes unresponsive. I have to force quit it to close it.

I have restarted and updated the app a few times and still it's the same.

**Versions**
Ray

[2021-01-17 11:57] freekmurze commented on #184
I can't seem to reproduce this behaviour. Could you create a minimal app that demonstrates this issue for me to look at?

[2021-01-17 12:03] freekmurze commented on #177
Hi, the local and remote paths are being used in the code here: https://github.com/spatie/ray/blob/3a63651ce404c4d9ae50afb02ff7e1fcdf673643/src/Payloads/Payload.php#L19-L23

Code you take a look if these variables hold the values you are expecting? We use these values to do a simple string replace.

I hope you'll be able to figure out the issue with this info.

[2021-01-17 14:18] lovekrissh143 commented on #49
Whenever it installs a new version my antivirus squeaks for couple of seconds and then gets back to normal after scanning.

Maybe the certificates will be corrected so that windows and antivirus will know it's coming from a genuine publisher which we trust more than anything.

I was just using it normally and suddenly the update came and started installing by itself.

And also the check for update

[2021-01-17 14:40] freekmurze commented on #49
I hope all of this will be fixed when we have the right certificates in place.

[2021-01-17 15:35] webdevhayes commented on #184
I experienced this once. It was because I had left a ray() in my code and it had been printing a hell of a lot to the app. Then when I went to the app I couldn't do anything with the app and had to force close it. Just maybe a thought as possible reason.

[2021-01-17 15:43] webdevhayes opened #186 "Won't print a string?"
**Describe the bug**
Using a simple assignment of a string it won't output anything to ray but dd does just fine.

**Versions**
1.5.0

You can use `composer show` to get the version numbers of:
spatie/ray                         1.11.0
spatie/laravel-ray                 1.6.1

PHP version:
Laravel version (if applicable): 7.4.14

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected

[2021-01-17 17:02] gm-lunatix opened #187 "Not choosing any Pause selection will autoskip pause() on subsequent requests in new window"
**Describe the bug**
When you use pause() and you do not select any option to continue or stop the execution and you open a new window and send a new request to your app, the pause() is skipped in the new window and the rest of the code automatically executes. If I go back the the older window and click on any of the pause option button, do the same in any window with an outstanding pause option d

[2021-01-17 20:45] leganz opened #188 "Ray crash after clicking in a Mail Notification"
If you create a mail notification and print it via:

[code]

After clicking on a link in this mail => the app crashes.

[2021-01-17 20:49] leganz commented on #188
<img width="856" alt="Bildschirmfoto 2021-01-17 um 21 47 52" src="https://user-images.githubusercontent.com/3373530/104855571-d05af180-590d-11eb-8e79-881dceda9b45.png">

[2021-01-17 20:51] williamengbjerg opened #189 "Ray not receiving calls | Laravel Sail"
I'm using docker with laraval sail on my Mac Mini (M1) with **docker preview**. Nothing is happning when I run my commands or try to output something with `ray("msg")`

I also tried to change host: `'host' => env('RAY_HOST', 'host.docker.internal'),` (Same issue)

Anyone with similar issues? i just bought the app (Version 1.5.0 (1.5.0))

![Screenshot at Jan 17 21-47-20](https://user-images.githubu

[2021-01-17 22:58] freekmurze commented on #189
Ray listens for messages on port 23517. You should create a map port 23517 on docker to send all traffics to the same port on your local environment.

Unfortunately, I don't have much Docker experience myself, so I hope you can figure out the exact command to achieve this.

[2021-01-17 23:57] freekmurze commented on #187
I cannot seem to reproduce this...

I've got a demo app with this route set up:
https://github.com/spatie/laravel-ray-demo-app/blob/428272bbd2b5c32fb7360a257491d7f11257fbe4/routes/web.php#L12-L16

When I open /pause in two tabs, the process is halted for both those processes. I see both pauses in Ray. Each one can be continued individually by pressing the continue button. TLDR: it seems to work li

[2021-01-17 23:58] ricardoaugusto commented on #151
I was having this issue a couple minutes ago and my steps to fix were:

- Composer on local machine was `v2.0.8` and remote was still `v1.9.x`, so **`composer self-update --2`** on remote, then;
- added `Spatie\LaravelRay\RayServiceProvider::class,` to Laravel config/app.php file _(which probably didn't make any difference, but still)_, and finally;
- ran **`composer dump-autoload`**

[2021-01-18 00:01] freekmurze commented on #188
I cannot seem to reproduce this. I've have a demo app here where `markdown` is used.

https://github.com/spatie/laravel-ray-demo-app/blob/30e4b126118ab2943a3e07e1eedea05c64d63cbe/app/Console/Commands/MarkdownCommand.php#L18

It displays a link in Ray. When I click it, the browsers opens and shows the right page.

Could you try out if that works for you? Could you create a demo for me which can be

[2021-01-18 00:06] freekmurze commented on #186
I could reproduce this. "img" gets displayed, "<img" does not.

[2021-01-18 00:09] freekmurze commented on #184
I tried to reproduce this here by sending two large object to Ray.

https://github.com/spatie/laravel-ray-demo-app/blob/c92af9054c59344dda923cf2714a0ed530fdc356/routes/web.php#L18-L22

Both `app` and `request` are displayed in ray and the page loaded fine and very quickly.

[2021-01-18 00:14] freekmurze commented on #180
This will be fixed in the upcoming v1.5.1 of Ray.

[2021-01-18 00:14] #180 closed

[2021-01-18 05:21] xavi7th commented on #184
@freekmurze I think I just figured out why it freezes. @webdevhayes comment pointed me in the right direction. The routes in question happen to have a lot of queries and this problem started added the ray()->showQueries() to them. Sending the query data seems to cause the ray app to freeze, not sure why yet though.

Once the app got frozen, trying to quit and restart seems not to close the previou

[2021-01-18 07:28] freekmurze commented on #184
@AdrianMrn how would you go about solving this one?

[2021-01-18 07:40] freekmurze opened #191 "Ray on WSL2"
Several users have reported troubles getting Ray to work on WSL2. Example: https://github.com/spatie/laravel-ray/discussions/107

I'm guessing that one would need to somehow map the port 23517 between the WSL2 environment (where the PHP projects sends message to) and 23517 locally (where the Ray app is running). Unfortunatel, I don't have any experience with this.

I would appreciate anyone that h

[2021-01-18 08:48] webdevhayes commented on #186
Thanks @freekmurze

[2021-01-18 10:45] keshansandeepa opened #192 "Ray asking restart every day even without an Update"
**Describe the bug**
Ray asking restart every day even without an Update

**Versions**
Ray version (1.5.1):

PHP version:7.4
Laravel version 7:

[2021-01-18 14:08] tcov189 commented on #177
@freekmurze Thank you for your response. I will take a look and see if I can work on the issue.

[2021-01-18 14:26] Dixens opened #194 "No feedback from (Laravel) Ray"
Hey guys

Bought Ray a couple of days ago and can't seem to make it work. Been using Spatie packages for ages, never had an issue so surely it's us.

**Config**
Mac Catalina 10.15.7
Laravel 7.30.3
Ray: Version 1.5.0 (1.5.0)
Composer 2
spatie/ray ^1.7.2
spatie/laravel-ray * 1.6.1
MAMP 6.3
PHP 7.4.12
Config ray.php as is

**Issue**

In any file, the following line

[code]

does not trigger anything

[2021-01-18 14:31] Tarpsvo commented on #186
I have the same issue with XML.

Whenever I try to render an XML string, I think it parses it as HTML (or strips all tags?) and only the XML key values are displayed.

For example:
[code]

Will be displayed as `123` in Ray app.

[2021-01-18 14:46] freekmurze commented on #194
Are you using Homestead / Docker? Then take a look in [our docs](https://spatie.be/docs/ray).

Ray just listens for messages on port 23517. The laravel-ray package sends message to that port.
Make sure that your Laravel app is not in production mode.
You could try to call `ray()->enable()` and see if that works.

[2021-01-18 14:53] Dixens commented on #194
Thank you for your quick reply.

We use MAMP (see above).

Our app is in APP_ENV=local.

Inserting then removing

[code]

did the trick though.

Thank you.

[2021-01-18 14:54] #194 closed

[2021-01-18 14:55] AdrianMrn commented on #186
We've found the cause and are looking for a solution. Our fix for this might be slightly delayed because of Laracon Online.

[2021-01-18 14:59] AdrianMrn commented on #7
@slaFFik Could you run the demo app and see if you can reproduce the issue there? https://github.com/spatie/laravel-ray-demo-app

[2021-01-18 14:59] gertvdv commented on #177
Hi, having a similar issue on Ubuntu 20.04. For troubleshooting this problem, I have set both local and remote path in my .env to the path where the files are located on my local machine (where the IDE is running). However, all traces are incorrectly linked to /var/www/html/

[2021-01-18 15:05] AdrianMrn commented on #184
I've create an issue on the internal repository to track some possible performance improvements we could do.

[2021-01-18 15:19] AdrianMrn commented on #192
@keshansandeepa Could you recreate the issue [using the template](https://github.com/spatie/ray/issues/new?assignees=&labels=&template=bug_report.md&title=) please, that'll give us all the information to reproduce the issue and will make it a lot easier on us to find the cause and fix it.

[2021-01-18 15:19] #192 closed

[2021-01-18 15:22] AdrianMrn commented on #70
We're planning a complete overhaul of the shortcut input in a future version, so you can use any combination of characters you'd like. This should also solve your problem.

[2021-01-18 15:22] #70 closed

[2021-01-18 15:23] AdrianMrn commented on #145
We'll continue tracking this one on the internal issue tracker.

[2021-01-18 15:23] #145 closed

[2021-01-18 15:42] freekmurze commented on #177
@gertvdv could you also take a look at which values there are in the code snippet above? https://github.com/spatie/ray/issues/177#issuecomment-761800975

[2021-01-18 19:06] sebastiaanluca opened #195 "Application tests fail because of Ray's event listener (even when disabled)"
**Describe the bug**

Even with Ray completely disabled via the config env variable, our application tests fail because Ray listens to the events and receives an object instead of a string (for the event name, I think). This happens when custom Eloquent events are used.

For example, in a model:

[code]

[code]

**So basically it passed the custom event class instead of the string name of the even

[2021-01-18 19:09] tcov189 commented on #177
@freekmurze This is what I get
![image](https://user-images.githubusercontent.com/8125119/104954002-1dca7380-598d-11eb-8ff0-a305e0b7bd03.png)

Since `$this->remotePath` is null, the if expression is truthy and it returns the `$filePath`.

In @gertvdv case, neither `$this->remotePath` and `$this->localPath` are null, but when the code makes it to the `str_replace` the `$filePath` doesn't contain th

[2021-01-18 22:19] freekmurze commented on #177
I'm thinking that in this case `local_path` should be set to `/home/trevorc` and `remote_path` to `/var/www/html`

This why the path will be translated to `/home/trevorc/ray-test/routes/web.php` which is probably the path you need, right?

[2021-01-18 22:26] tcov189 commented on #177
Yes that makes sense to me.

I can make a PR to handle instances where `local_path` is set and `remote_path` is not.

[2021-01-18 22:30] freekmurze commented on #195
I'm having a hard time recreating this.

In my demo app, I have a user that has `$dispatchesEvent`.

https://github.com/spatie/laravel-ray-demo-app/blob/7b5157881bb323e1644238d5c21fd37f802fa98d/app/Console/Commands/EventCommand.php#L13

This seems to be working perfectly.

Could you PR a change that triggers the error you are seeing?

[2021-01-18 22:35] freekmurze commented on #177
I don't see now how that will work, but feel free to convince me with code 🙂

Closing this as the original issue is solved.

[2021-01-18 22:35] #177 closed

[2021-01-18 22:35] williamengbjerg commented on #189
Looks like it works after the new 1.6 version :)

[2021-01-18 22:35] #189 closed

[2021-01-18 22:36] leganz commented on #188
Here is the repository to reproduce the issue:
https://github.com/leganz/bug-repo-ray-188

By clicking on the action link ray (1.6.0 - got the update about ~10 minutes ago) the app crashes. Hope that helps :-)
Let me know if i can help somehow.

(Btw: i know that might not be the ideal solution - i was just trying how to render the notification in ray :-) )

[2021-01-18 22:36] freekmurze commented on #189
Nice!

[2021-01-18 22:37] freekmurze commented on #188
Thanks for creating the repo. How can I trigger that notification? Is there an artisan command to do that?

[2021-01-18 22:38] leganz commented on #188
php artisan test
Sry forgot to mention that

[2021-01-18 22:40] tcov189 commented on #177
Just to clarify, are you saying that the original issue is solved by having both `remotePath` and `localPath` set in order for `localPath` to be used in traces?

[2021-01-18 22:41] freekmurze commented on #188
I can reproduce the error. Thanks for the repo.

Investigating on how we can fix this.

[2021-01-18 22:44] freekmurze commented on #177
Yeah, to me it seems that you always need to to have `local_path` and `remote_path` filled out, in order for that str_replace to work.

[2021-01-18 22:47] tcov189 commented on #177
Gotcha. I will see if I can make it work in a PR and send it your way.

If not then this works for me. Thank you for your time

[2021-01-18 23:02] freekmurze commented on #188
@AdrianMrn could you take a look at this? Seems like a link to `http://localhost` lets Ray crash.

[2021-01-18 23:50] freekmurze commented on #187
Closing as this one cannot be reproduce. If this is still failing for you, please create a minimal app to easily reproduce the issue you are seeing.

[2021-01-18 23:50] #187 closed

[2021-01-19 02:18] axelitus commented on #191
Solving this issue is easier than you might think. It's arguably the same as any dockerized app.

First a bit of background about how WSL2 works:
Linux in Windows on its second iteration (WSL2) it's nothing more than an optimized VM running a full Linux OS. It has some kernel changes and integration procedures to make it easier to have a "seamless" integration with Windows, though it, being a VM h

[2021-01-19 02:28] axelitus commented on #191
By the way, I've tested this using Laravel Sail with Docker. Let me create a blank project and test it with a Command (it should work though). I'll document my findings here.

[2021-01-19 02:32] mhluzi commented on #191
@axelitus, thanks so much for this - works for me!

[2021-01-19 02:39] axelitus commented on #191
The only thing I'm not getting to work currently is the file link to open with PhpStorm:
![image](https://user-images.githubusercontent.com/732441/104980826-204cbd80-59cd-11eb-9a9b-16a5f38e8441.png)

I'm getting this Windows 10 unhelpful screen:
![image](https://user-images.githubusercontent.com/732441/104980857-2d69ac80-59cd-11eb-9664-5270553eb67d.png)

I'm not sure if it's related to paths in WS

[2021-01-19 05:19] mhluzi commented on #191
In case it helps anyone my paths are:

    'remote_path' => env('RAY_REMOTE_PATH', '/home/ubuntu2004/mysite'),
    'local_path' => env('RAY_LOCAL_PATH', '\\wsl$\Ubuntu-20.04\home\ubuntu2004\mysite'),

[2021-01-19 05:25] qwertynik commented on #191
@axelitus
Facing the same issue. Not sure about the steps that would help in opening PHPStorm when clicking on the link.
Will post a solution here when I find one. Can you as well post the solution when you find one?

[2021-01-19 07:58] oliverhermanni commented on #191
@qwertynik @axelitus There already is a solution in the docs for that, [look here](https://spatie.be/docs/ray/v1/environment-specific-configuration/windows-10).

[2021-01-19 08:38] basepack opened #201 "Ctrl + Shift + K overrides the same PHPStorm binding even if Ray is not on top"
**Describe the bug**
When a ray.exe process is active the PHPStorm `Ctrl + Shift + K` default binding for `Git Push` does not work anymore. So even when I close Ray it keeps ray.exe's active, so the binding won't work again before I kill all Ray.exe processes.

**Versions**
Ray 1.6.0
spatie/ray 1.12
spatie/laravel-ray 1.7.1
Windows 10 Pro
PHPStorm 2020.2

PHP version: 7.4
Laravel version 8.22.1

*

[2021-01-19 08:42] AdrianMrn commented on #201
The hotkeys are global and are supposed to work even when the window is not in focus, I guess the last one that was registered takes priority over others.

You should reassign the hotkey in the preferences to another key:

![image](https://user-images.githubusercontent.com/12762044/105009052-507e7580-5a3a-11eb-9bb9-85891a3e1586.png)

[2021-01-19 08:42] #201 closed

[2021-01-19 08:45] bintzandt opened #202 "[Docker] Ray tries to open the wrong file"
**Describe the bug**
Ray refers to the wrong file when clicking on the file name.

It uses the file path from the Docker container. I suspect that a mapping is needed from Docker container filesystem to the local filesystem since most people are running their editor on the local file system.

**Versions**
Ray version: 1.6.0

PHP version: 8.0
Laravel version (if applicable): 8.21.0

**To Reproduce*

[2021-01-19 08:46] freekmurze commented on #202
You'll need to use the `local_path` and `remote_path` options of the config file. Check the docs to know more.

[2021-01-19 08:46] #202 closed

[2021-01-19 08:49] bintzandt commented on #202
Oof, I'm sorry! Totally missed that part :(

Might be worth to write a small section about that on https://spatie.be/docs/ray/v1/environment-specific-configuration/docker though. I see it mentioned in the configuration but it is easy to skip over that imo.

[2021-01-19 08:51] kbondurant opened #203 "Ray processes won't stop when using something else than "Menu > Quit Ray""
**Describe the bug**
If i close the app using the close button in the top right of the window or by pressing ALT+F4,
the app window closes but the processes are still running, but if i use Menu > Quit Ray,
everything seems to work correctly all processes are killed.

**Versions**
Ray version (you can see this in "About Ray"): 1.6.0

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Ray ap

[2021-01-19 08:58] bintzandt commented on #158
I'm getting the same problem here. My guess is that `phpstorm-url-handler`/PHPStorm does not handle the URL encode (`%2F`) correctly.

[2021-01-19 09:08] AdrianMrn commented on #203
This is expected behaviour, this is something that a lot of apps do nowadays (Slack, Steam, Discord, WhatsApp to name a few).

[2021-01-19 09:08] #203 closed

[2021-01-19 09:10] freekmurze commented on #202
Np!

Feel free to PR improvements, there's an edit button on the top of every page.

[2021-01-19 09:50] willemvb commented on #149
Duplicate of https://github.com/spatie/laravel-ray/issues/77

[2021-01-19 09:50] #149 closed

[2021-01-19 10:08] kbondurant commented on #203
Not exactly, those apps processes are still running only if it's still running in system tray,
so the user always have an indication that the software is running in backgroud and can reopen them using tray icon,
if you disable this option all of their processes are killed whatever way you choose to close the app.

Atm Ray processes are still running with no visible indication that the software is

[2021-01-19 10:38] henzeb commented on #158
Not the only one I guess, currently on version 1.5.1

[2021-01-19 10:43] yoyosan commented on #158
Still happens in 1.6.0

[2021-01-19 10:45] AdrianMrn commented on #203
Thanks for your feedback!

In a future version, we're changing the visibility options so the app cannot be hidden from the Tray as log as it is running.

I'll have a look at this.

[2021-01-19 10:47] yoyosan commented on #158
Mmm, I don't see anything wrong in there.

[2021-01-19 11:00] qwertynik commented on #191
Sure @oliverhermanni will check. Thanks!

[2021-01-19 11:18] nopicnicc opened #206 "Error when using in simple php script. Maximum function nesting level of '256' reached, aborting!"
**Describe the bug**
When I run the following script
`<?php
require __DIR__ . '/vendor/autoload.php';
ray('Hello world!');`

I get this error:
PHP Fatal error:  Uncaught Error: Maximum function nesting level of '256' reached, aborting! in ~/projects/paynovate/ray/vendor/composer/ClassLoader.php:319

**Versions**

**composer show**
brick/math                0.9.1   Arbitrary-precision arithmetic li

[2021-01-19 13:03] freekmurze commented on #206
I'm thinking the problem here is the fact that your script is named `ray.php`. The package things that that's the config file.

Could you change the name of your test script and try again?

[2021-01-19 13:11] freekmurze commented on #191
@axelitus Nice!

Could you PR a summary of https://github.com/spatie/ray/issues/191#issuecomment-762557660 to this page in our docs?
https://spatie.be/docs/ray/v1/environment-specific-configuration/windows-10
There's an edit button on top.

I'm pretty sure this will be helpful for a lot of people.

[2021-01-19 13:12] freekmurze commented on #191
Closing this as the issue is resolved.

[2021-01-19 13:12] #191 closed

[2021-01-19 13:13] freekmurze commented on #206
I've tested this, and it seems like it is working. If this should still fail for you, open up a new issue, and share a link to a minimal app that demonstrates the issue.

[2021-01-19 13:13] #206 closed

[2021-01-19 13:14] freekmurze commented on #186
This will be fixed in the next release of Ray.

[2021-01-19 13:14] #186 closed

[2021-01-19 14:20] axelitus commented on #191
@oliverhermanni thanks for the link! Yesterday was already late and today you have fixed my issue 😃

@freekmurze sure, I'll send a PR to the docs!

[2021-01-19 14:21] nopicnicc commented on #206
It works. Thank you!

[2021-01-19 14:56] SteveEdson opened #208 "Logging false reports as null"
**Describe the bug**
A clear and concise description of what the bug is.

[code]

Shows `null` in the output (although styled differently to an actually null value).

**Versions**
Ray version (you can see this in "About Ray"):
1.6.0

You can use `composer show` to get the version numbers of:
- spatie/ray package version: 1.3.5
- spatie/laravel-ray package version (if applicable):

PHP version:
Lar

[2021-01-19 15:39] SlyDave opened #210 "Run away memory usage"
**Describe the bug**
Memory leak? and constant disk activity.

I've had Ray open for about 4 days now, doing nothing more than capturing from log - i.e. not using the ray() command in any code yet.

**Versions**
1.5.1

You can use `composer show` to get the version numbers of:
- spatie/ray package version: 1.5.5
- spatie/laravel-ray package version (if applicable): 1.3.4

PHP version:
Laravel vers

[2021-01-19 16:05] freekmurze commented on #208
This will be fixed in the next release of Ray, which will be released soon!

<img width="802" alt="image" src="https://user-images.githubusercontent.com/483853/105060330-8d695d00-5a78-11eb-9864-eea26ebf2c87.png">

[2021-01-19 16:06] #208 closed

[2021-01-19 18:10] SteveEdson commented on #208
Excellent thanks! I spent ages trying to figure out why my code wasn't working until I realised it was ray reporting incorrectly! 😂

[2021-01-19 18:19] freekmurze commented on #208
Sorry about that 😅

[2021-01-19 18:20] TheBurgerShot opened #212 "Zoom In / Zoom out shortcuts"
Not really a bug more a convenience thing.

With the 'Zoom In' shortcut being '⌘+' and the 'Zoom Out' shortcut being '⌘-' it requires to use (⌘ + Shift + '+') for zooming in and ('⌘ + '-') for zooming out.

**Version**
Ray version: 1.6.0

**Expected behavior**
It would be nice, in my opinion, to be able to just Zoom In with just ('⌘ + '+')

**Desktop (please complete the following information):**

[2021-01-19 18:35] SteveEdson commented on #208
No worries, I expect ray will more than make up for it in future debugging scenarios 👍

[2021-01-19 18:52] jimsaartia commented on #210
The same happened to me just now after 24 hours of keeping Ray open in the background.
Didn't have enough time to take a better look before everything started crashing when Ray suddenly ate up 10gb+ of ram.
Basically the same info as @SlyDave but spatie/laravel-ray was not used before leaving Ray open. Only used spatie/ray 1.12.0 for some generic PHP. Windows 10 Pro (19041)

[2021-01-19 20:04] freekmurze commented on #212
Hi, thanks for suggestion this. We're following OS default and we'll probably leave it as it is for now.

[2021-01-19 20:04] #212 closed

[2021-01-20 08:01] emohamed opened #219 "Collapsing doesn't work"
Bug Report is here:
https://github.com/spatie/ray/discussions/218

**Versions**
Ray Version: Version 1.7.0 (1.7.0)
composer - spatie/laravel-ray                   1.8.0
composer - spatie/ray                           1.13.0
PHP 7.4.8
MacOS 10.15.7

[2021-01-20 08:06] freekmurze commented on #219
I've tried to reproduce this, but for me this is working.

I've executed `ray(app())` and the triangles work to open, close stuff

<img width="1077" alt="image" src="https://user-images.githubusercontent.com/483853/105145181-a583bf80-5afe-11eb-9799-e9c491c9151c.png">

@emohamed is there any extra info you can give us to reproduce this?

@AdrianMrn do you have an idea why this might not be working

[2021-01-20 08:11] emohamed commented on #219
Thanks for looking into this. I will try a few things later today and get back to you with any additional information I have.

[2021-01-20 08:16] freekmurze commented on #210
Could you check again with Ray 1.7?

[2021-01-20 08:16] ndeblauw commented on #210
With Ray 1.5.1.0, a similar problem occurs here, not so much on the memory usage (but I didn't run it for ages), but processor power. An idle Ray app often consumes approx 20% of my processor power
![image](https://user-images.githubusercontent.com/4344869/105145963-b123b600-5aff-11eb-8595-0deebbee1d93.png)

But then the good news: I've just installed 1.7.0.0, and Ray is (in idle state) not even i

[2021-01-20 08:25] oliverhermanni commented on #184
I had similar issues, when displaying large objects in a foreach()-loop. The Ray app seems to get quite slow after that and needed to get restarted. Hadn't the time yet, but I was thinking about writing some custom functions like

`ray($x)->once()` - only display $x once
`ray($x)->times($i)` - display $i items of $x
`ray($x)->after($i)` - display $x after $i iterations

Hadn't time to do this yet,

[2021-01-20 09:46] jimsaartia commented on #210
Ray 1.7.0.0 now installed and left open in the background

[2021-01-20 09:52] SlyDave commented on #210
Same, Ray 1.7.0 installed, will report back in a few days :)

[2021-01-20 10:13] emohamed commented on #219
Tried restarting the whole OS, and to install ray 1.6. The issue persist.

Here is a more detailed video:
https://user-images.githubusercontent.com/536840/105160167-93167f80-5b18-11eb-8c4e-09a17a9ec56f.mp4

It seems to me that anchors are working, but not javascript.

@freekmurze is there way for me to see the console in the electron browser?

Also, Cmd+F doesn't give me search prompt, not sure if

[2021-01-20 13:27] sinnbeck opened #220 "local_path is shown twice on file hover"
**Describe the bug**
Path to file is listed double when hovering the filename

[code]

**Versions**
Ray version: 1.7.0
You can use `composer show` to get the version numbers of:
- spatie/ray package version: 1.14.0
- spatie/laravel-ray package version: 1.8.0

PHP version:
Laravel version : 8.23.1

**To Reproduce**
Steps to reproduce the behavior:
1. Set a local_path in the config file
2. Send thou

[2021-01-20 13:42] sinnbeck commented on #220
Seems to be happen when missing a trailing / in local_path and remote_path

[code]

[2021-01-20 14:54] lbeauvisage commented on #210
hi here

same  problem with RAY 1.7.0 when reduce the app to the Mac dock (on MB Pro 13 M1)

<img width="745" alt="Capture d’écran 2021-01-20 à 15 51 56" src="https://user-images.githubusercontent.com/786319/105191674-a422b900-5b37-11eb-9e18-91ca9d7729ee.png">

<img width="273" alt="Capture d’écran 2021-01-20 à 15 54 05" src="https://user-images.githubusercontent.com/786319/105191767-c0265a80-

[2021-01-20 15:57] freekmurze commented on #220
I'll investigate this soon. If you already know a good fix, please send a PR!

[2021-01-20 18:36] joanfabregat opened #223 "Ray shows `<code>null</code>` for a FALSE value"
**Describe the bug**
Ray shows `<code>null</code>` for a `false` value in v1.7.

**Versions**
Tested with Ray v1.7.0 with the the v1.12.0 of the `spatie/ray` PHP client.

PHP version:
[code]

**To Reproduce**
Execute:
[code]

Ray will display:
<img width="1082" alt="Screenshot 2021-01-20 at 19 28 48" src="https://user-images.githubusercontent.com/4227907/105218852-fa065980-5b55-11eb-9698-076cfb78a

[2021-01-20 18:47] freekmurze commented on #223
This is fixed in the latest version of the package. Please run composer update to pull it in 👍

[2021-01-20 18:47] #223 closed

[2021-01-20 18:48] joanfabregat commented on #223
@freekmurze Thanks, I'll update it

[2021-01-21 07:15] sinnbeck commented on #220
The issue comes from the fact that `str_replace()` will replace all occurences found

The string will look like this `/app/app/Http/Controllers/HomeController.php`. So when replacing `/app`, it will be replaced twice.

I will look into helping out with a fix when I can find the time :)

[2021-01-21 07:59] #220 closed

[2021-01-21 09:47] zynth17 opened #228 "String on SQL queries printed not surrounded with quote"
**Describe the bug**
Debugging an sql queries on laravel prints no problem, the problem is only if the string data does not surround by quote or double quote so when i try to run it on my mysql queries i need to change it one by one

**Versions**
Ray version 1.7.0.0

- spatie/ray package version:  1.14.0
- spatie/laravel-ray package version (if applicable): 1.8.0

PHP version: 7.4.3
Laravel versio

[2021-01-21 14:48] jmslbam opened #230 "Docs: Configure link redirects so different page"
**Before creating a new bug report**
No duplicate bug report found

**Describe the bug**
When I click the link "Configure Ray if needed" on this page https://spatie.be/docs/ray/v1/getting-started I get to see a different page then expected:

Href value in link: https://spatie.be/docs/ray/v1/configuration/general
Redirects to: https://spatie.be/docs/ray/v1/introduction
Expected link to show page: h

[2021-01-21 14:50] freekmurze commented on #230
Thanks for reporting this!

Could you send a PR to correct this? There a button on top of every page at https://spatie.be/docs/ray

[2021-01-21 14:50] #230 closed

[2021-01-21 15:52] RyanNutt commented on #219
I'm seeing something similar with arrays.
![image](https://user-images.githubusercontent.com/7416974/105375153-16de7380-5bce-11eb-96c3-2fc8f430fa0c.png)

The dropdown arrow works, but there are 3 of them.

But if the same array is a property on a model that I send to ray with `ray()->model($theModel)` I can't expand the array.
![image](https://user-images.githubusercontent.com/7416974/105375316-3c

[2021-01-21 17:13] freekmurze commented on #219
@RyanNutt I have seen this once too but couldn't reproduce it. Do you get this behaviour every time? Which version of the Ray packages too you use?

[2021-01-21 17:53] RyanNutt commented on #219
Looks like it happens on subsequent output. I just put several `ray(request()->all())` calls on consecutive lines. The last one sent to ray correctly and I can toggle the visibility of the outer and any inner arrays.

I sent a total of 4 calls. The first has 4 arrows, the second has 3 arrows, the third has 2 arrows, and the fourth and last has 1 arrow. Only the one with 1 arrow will toggle the dro

[2021-01-21 18:08] freekmurze commented on #219
@RyanNutt I feel that your issue is another one, then the original reporter. Would you mind creating a new issue, and filling in the entire issue template? Thanks!

[2021-01-21 18:30] RyanNutt opened #233 "Array dropdowns not working"
**Describe the bug**
Duplicate arrows show up to drop down array contents. When there are more than one, it's not able to toggle visibility by clicking on the arrows.

It only seems to happen when set to show the most recent calls on the top of the ray window instead of the bottom.

If I send several calls to ray like `ray(request()->all())` the last one, the one on top, works correctly. The secon

[2021-01-21 18:30] Aigleblanc opened #234 "Ray add <br\> instead of first \n"
**Describe the bug**

Ray add `<br\>` instead of first `\n`

1. Insert 3 lines in textarea,

[code]

2. Send this line with ajax on my script.
3. Show data in POST

[code]

Ray add `<br/>`  for the first `\n` all time even when I don't do `nl2br()`

Compare return `var_dump()` and `ray()` in my screen.

**Versions**
 spatie/ray 1.14.0

PHP version:
7.4

**Screenshots**

![Capture d’écran 2021-01-2

[2021-01-21 18:34] RyanNutt commented on #219
Of course #233

[2021-01-21 22:40] freekmurze commented on #234
I don't understand this issue. Could you clarify with a more simple example? Or maybe create an example app for us to look at?

[2021-01-21 23:21] Aigleblanc commented on #234
### 1. The Request Ajax

This is Post Request send with ajax :

[code]

Line1 **\n** Line2 **\n** line3

One \n inner every line.

### 2. The Ajax result

[code]
One \n inner every line in json return

### 3. The var_dump result

[code]

var_dump return my content without `<br/>` and `\n` is not interpreted

### 4. The Ray result in app

But in same time, In ray application ( win 10 ) last maj,

[

[2021-01-21 23:41] deanhouseholder opened #235 "Need help with WSL2"
I am having trouble getting a CLI-based php app to run under Windows 10 WSL2.

Versions:
Ray Desktop App 1.7.0.0.
spatie/ray 1.14.0

I did the composer require to my project and added my `ray();` statements, but it didn't display in the Ray desktop app. It is a generic PHP app.

In reading through the docs, I read this page:
https://spatie.be/docs/ray/v1/environment-specific-configuration/windows-

[2021-01-22 02:47] barchard opened #236 "ray.php file not found"
Each call to `ray()` returns a new Ray object. This then calls into the SettingsFactory and causes a directory search for `ray.php`. The first time this is called, this finds the `ray.php` file as `getcwd` returns the correct path. Subsequent calls to `ray()` and thus `getcwd()` returns `/` and doesn't find the `ray.php` file.

**Versions**
1.7.0

You can use `composer show` to get the version num

[2021-01-22 07:28] freekmurze commented on #236
I've done a quick test and `getcwd` always seems to return the right result.

Do you have an idea why the function would produce a different result for subsequent calls for you?

I'd accept a PR that fixes this problem for you.

[2021-01-22 07:34] freekmurze commented on #234
Closing this as all latest versions or the app / packages seem to behave well.

<img width="836" alt="image" src="https://user-images.githubusercontent.com/483853/105460770-92065f00-5c8c-11eb-9d7b-a69c0ba44042.png">

[2021-01-22 07:34] #234 closed

[2021-01-22 07:37] freekmurze commented on #233
I' can't seem to reproduce this one. Could you create a minimal app where you see the error?

<img width="812" alt="image" src="https://user-images.githubusercontent.com/483853/105461039-f2959c00-5c8c-11eb-8429-f93c911a359f.png">

[2021-01-22 16:57] RyanNutt commented on #233
This is on a clean version of Laravel 8.24.0. Only thing added with composer other than what Laravel installed was `spatie/laravel-ray`  1.9.0 and whatever dependencies it added.

Created an artisan command with the following.
[code]

Gives me the following in Ray. It's set for the most recent calls to go to the top.
![image](https://user-images.githubusercontent.com/7416974/105520010-bfa8d380-5c9

[2021-01-22 17:02] RyanNutt commented on #233
Tried something else. Ran 10 lines of `ray($ray)` in the same artisan command. It put the 10 calls into Ray, reverse stacked with the most recent on top. Each call going down the window got one more arrow up to 10 for the bottom call.

The lines with an odd number of arrows were clickable and collapsable. The lines with an even number of arrows were not.

[2021-01-22 17:05] barchard commented on #236
I thought about this some more, I think it's related to the closure. Need to test some more tonight. Thanks

[2021-01-22 19:48] FullWebService commented on #191
When I put my local_path as such:
'local_path' => env('RAY_LOCAL_PATH', '\\\\\\\\wsl$\\\\Ubuntu\\\\home\\\\spatie\\\\code\\\\my-project'),

Ray doesn't add the file where it's called to the link. I've added a Ray call in web.php on line 17 and it sends me to \\\\wsl$\Ubuntu-20.04\home\spatie\code\my-project:17

I'm using WSL2 with Laravel Sail. The rest worked out of the box!

Anyone else with thi

[2021-01-22 21:02] mdpoulter commented on #191
@FullWebService Just had the same problem, but worked out that you need to set the paths as such:

[code]

[2021-01-22 21:44] FullWebService commented on #191
@mdpoulter The /var/www/html worked. Sadly after \\\\wsl$\\Ubuntu\\home\\mdpoulter\\code\\example-app it uses the Linux style path, so it becomes \\\\wsl$\\Ubuntu\\home\\mdpoulter\\code\\example-app/routes/web.php which Windows won't open.

[2021-01-22 21:48] mdpoulter commented on #191
@FullWebService Strange, it works for me even with the alternating path 🤔 Are you using PhpStorm?

[2021-01-22 22:00] FullWebService commented on #191
@mdpoulter No I'm using VSCode. The weird thing is, the slashes don't seem to be the problem. Windows seems to remove the first slash for some reason, so it becomes \wsl$\Ubuntu\home\... The double slash is visible in Ray when I hover over the link, though. I've tried adding more slashes in my local path, but then it just won't open.

Weird.

[2021-01-22 22:05] mdpoulter commented on #191
@FullWebService If you've got the 4 slashes at the beginning of your `RAY_LOCAL_PATH` then I'm out of ideas unfortunately 🙈 Perhaps one of the others on the thread will be able to assist.

[2021-01-22 22:14] FullWebService commented on #191
@mdpoulter Yeah, all four are there! Figured out that Linux style slashes also work in the local path, but then the first slash also gets removed. Thanks for your help! Currently digging through the VSCode issues if there's something that might help.

[2021-01-22 22:43] oliverhermanni commented on #235
I just tested it with latest version of `Ray app` (1.9.0) and `spatie/ray`  (1.16). Works fine for me.

My test setup:

test.php:
[code]

ray.php
[code]
(I left `local_path` and `remote_path` out, because I'm using PhpStorm which doesn't properly support `\\$wsl\...`)

I ran `php test.php` and this is the result:

![image](https://user-images.githubusercontent.com/1240179/105556907-4fd03280-5d0b-1

[2021-01-22 22:47] barchard commented on #236
To update this, I can confirm the behavior of `getcwd()` in the closure is what is causing the issue. Code:

[code]

Modified `SettingsFactory.php`:

[code]

Error log:

[code]

[2021-01-22 22:53] barchard commented on #236
@freekmurze I can think of two ways to possibly tackle this.

1. add a global in `helper.php` so there is only 1 Ray object initialized or
2. add functionality to make a static instance of the Ray object to some base class

I can't think of a way to preserve or switch context from a closure or thread. Unless you have any thoughts here, which would you prefer? Easiest is global but, obviously, poll

[2021-01-22 23:09] axelitus commented on #191
I'm not sure how the path is built in Ray app, b that it uses the OS path separator instead of fixed `/`, though this is just "cosmetic" as the path is still understood by Windows.

Unfortunately, apps (Sublime Text and PhpStorm at least) do not register a protocol handler in Windows, thus the entry about PhpStorm (haven't found a solution for Sublime Text yet).

VSCode seems to register a protoco

[2021-01-22 23:17] deanhouseholder commented on #235
Upgrading to the latest versions fixed it. Thanks for the help. Also nice to know I don't have to hard-code the project code paths!

I do suggest updating the documentation here when you get some time:
 https://spatie.be/docs/ray/v1/environment-specific-configuration/windows-10

Thanks!

[2021-01-22 23:17] #235 closed

[2021-01-23 06:03] axelitus commented on #191
I have been digging deeper into this and it seems that the VSCode protocol is not being sent correctly.

I've tapped into the protocol handler and this is the URL that Ray is sending in each case:

Sublime Text: `subl://open/?url=file://%5C%5Cwsl%24%5CUbuntu%5Chome%5Caxel%5Ccode%5Caxelitus%5Caxel.pardemann.me%2Fapp%2FHttp%2FControllers%2FWelcomeController.php&line=11`
PhpStorm: `phpstorm://open/?f

[2021-01-23 06:09] axelitus commented on #191
By the way, if anyone is interested I've got a Sublime Text protocol handler working here: https://github.com/axelitus/windows10-editor-protocol-handler, want to add a PhpStorm version so I can have both into one package, work in progress.

[2021-01-23 19:13] FullWebService commented on #191
I made a simple html link to the file it should link to:
`<a href="vscode://file//wsl$/Ubuntu/home/me/project/routes/web.php:18">Go to VSCode</a>`
This works. I think Ray is just missing a slash in the url. @freekmurze Can you check this, please?

[2021-01-25 08:22] oliverhermanni opened #244 "The Ray app doesn't show there are updates."
**Describe the bug**
Ray app does no longer show, there are updates.

**Versions**
I had two versions installed. One PC had 1.2 (or so), the other one was on 1.7. Both show, that I was on the latest version. Because of the issue tracker I knew there was an 1.9.

**To Reproduce**
Steps to reproduce the behavior:
1. On the Ray app prior 1.9 go to `Menu`
2. Click on `Check for updates...`
3. The wind

[2021-01-25 09:22] voidgraphics commented on #233
Same problem here. Seems to only happen with new items = on top.

[2021-01-25 10:42] MatanYadaev opened #245 "`Package "spatie/laravel-ray" is not installed` in production"
**Describe the bug**
Every incoming HTTP request in production throws this exception (Also when executing `ray('test')`):
[code]

**Versions**
- spatie/ray package version: 1.16.0
- spatie/laravel-ray package version: 1.9.0

PHP version:
Laravel version: 7.4.13

**To Reproduce**
1. `composer require spatie/laravel-ray --dev`
2. Add `composer.lock` to the repo
3. `composer install --no-interaction

[2021-01-25 10:42] sinnbeck commented on #233
Does the same thing happen if you use `dump()` instead of ray, to dump to the browser?

[2021-01-25 10:46] MatanYadaev commented on #245
Fixed by updating to Composer 2. Maybe it's worth mentioning it in the documentation.

[2021-01-25 10:46] #245 closed

[2021-01-25 16:12] SlyDave commented on #210
Using Ray 1.7.0 but otherwise the same setup as everything before I've not experienced the issue again.
1.9.0 is available, so I'll try it with that too and report back. @lbeauvisage is 1.9.0 any better for you?

[2021-01-25 16:28] SlyDave opened #246 "Pinned Icon to taskbar in Windows vanishes after update"
**Describe the bug**
When you update Ray, any pinned taskbar Icon vanishes.

**Versions**
Ray version: 1.9.0

- spatie/ray package version: 1.17.0
- spatie/laravel-ray package version: 1.9.1

PHP version:
Laravel version (if applicable): 7.4.11

**To Reproduce**
Steps to reproduce the behaviour:
1. Load Ray
2. Right click Ray icon on taskbar, and select Pin to taskbar
3. Update Ray
4. Ray icon van

[2021-01-26 08:06] AdrianMrn commented on #210
1.9.0 doesn't have any major performance improvements yet, sorry. We've got an internal issue open with a number of planned improvements and fixes, I'll update here when we've release (some of) those.

[2021-01-26 08:19] AdrianMrn commented on #233
Thanks for the help in debugging this one everyone, a fix for this will be included in 1.10.1, which will be released later today or tomorrow!

[2021-01-26 08:22] freekmurze commented on #233
Closing this, release is incoming (will be available in 10 minutes or so)

[2021-01-26 08:22] #233 closed

[2021-01-26 12:26] lbeauvisage commented on #210
I have updated to 1.10 and after running Ray for a morning all seems OK cc @SlyDave.

[2021-01-27 13:04] Tarpsvo opened #249 "Ray'ing \r\n displays as <br /> in the app"
**Describe the bug**
When logging a line break (`\r\n`), the string is turned into a HTML line break `<br />`.

**Versions**
Ray version (you can see this in "About Ray"): 1.10.1
- spatie/ray package version: 1.13
- spatie/laravel-ray package version (if applicable): 1.9.1

PHP version:
Laravel version (if applicable): 7.4.14

**To Reproduce**
Steps to reproduce the behavior:
1. `ray('\r\n')`
2. C

[2021-01-27 13:22] freekmurze commented on #249
Seems to work here.

Make sure you use the latest versions.

<img width="771" alt="image" src="https://user-images.githubusercontent.com/483853/105996691-fcfbcf80-60aa-11eb-9160-d62490e1288f.png">

[2021-01-27 13:22] #249 closed

[2021-01-27 13:23] freekmurze commented on #249
Other slashes work as well 🙂

<img width="545" alt="image" src="https://user-images.githubusercontent.com/483853/105996883-37656c80-60ab-11eb-8415-f05a4dcc65aa.png">

[2021-01-27 13:24] Tarpsvo commented on #249
Oops, `composer update` did the trick. 🙄

Thanks!

[2021-01-27 15:26] adevade commented on #219
I posted about this issue in the `wordpress-ray` repo a couple of days ago, and now I saw this issue so I closed mine in the other repo. It is however the exact same error as OP in this thread. The arrows doesn't work at all for me.

I'm now on app version 1.10.1.0 and WordPress plugin version 1.2.2, still the same problem.
Let me know if you need any more info.

Original issue from `wordpress-ray

[2021-01-27 22:12] ukjadoon commented on #191
Just so that everyone here knows, here is how to fetch the IP address of the Windows host machine from WSL2:

In the terminal from within WSL2, run the following command,
`ip route | grep default`

This will give you the IP address that you can copy over to `RAY_HOST` in your .env file.

The next step is to allow WSL2 to connect to its host machine. This can be done by opening PowerShell but make

[2021-01-28 07:33] ibadin commented on #219
I have same problem with collapsing.
**Versions:**
— Ray 1.10.1
— Wordpress Plugin 1.2.2
— macOS Catalina 10.15.5
— PHP 7.4.2

[2021-01-28 08:01] adevade commented on #210
![image](https://user-images.githubusercontent.com/1066486/106107434-371aaf00-6147-11eb-8b4b-0eebe0388eba.png)

Still have this issue with latest v1.10.1.0.

[2021-01-28 08:25] freekmurze commented on #236
We'll continue this in #238

[2021-01-28 08:25] #236 closed

[2021-01-28 14:29] axelitus commented on #191
That is correct @ukjadoon but I don't recommend going this route because the WSL2 IP address changes on each reboot (not only the IP address but the IP segment that WSL uses). Read the updated WSL2 docs paged: https://spatie.be/docs/ray/v1/environment-specific-configuration/windows-10

Thanks for the powershell command! This works when Windows Firewall is the active firewall though, many antivirus

[2021-01-28 14:30] axelitus commented on #191
@FullWebService if this is still an issue I would recommend you to open another issue as it seems to me the problem is diverting from the original issue.

[2021-01-29 07:42] oliverhermanni commented on #244
This seems to be fixed now. If anyone with a version prior to 1.9 has this: download the app again.

[2021-01-29 07:42] #244 closed

[2021-01-29 13:47] yoyosan commented on #158
It still doesn't work.

Can you please specify what values are sent to PHPStorm handler?
So that I can debug it myself.

[2021-01-29 17:30] calkeo opened #265 "Mailable styles not being updated in desktop app"
**Describe the bug**
If you display a mailable in the desktop app, update the stylesheet for the mailable and output the same mailable again, the styles do not update to reflect the updated stylesheet.  This happens when using the default Laravel mailable template and updating default.css.

**Versions**
1.11.0

You can use `composer show` to get the version numbers of:
- spatie/ray package version

[2021-01-31 17:12] svpernova09 opened #258 "Unable to send events from Laravel to Ray App via Homestead using Virtualbox or Parallels providers."
**Before creating a new bug report**
Please check if there isn't a similar issue on [the issue tracker](https://github.com/spatie/ray/issues) or in [the discussions](https://github.com/spatie/ray/discussions).

If you are having troubles connecting your project to Ray, please check [our docs](https://spatie.be/products/ray) first, especially the configuration and environment specific configuration

[2021-01-31 20:23] LukeTowers commented on #258
I could be wrong because I'm not an expert on this, but it seems to me like the port mapping in Homestead is just from the VM to the Host and not the other way around. That would explain the host port being switch to 2200, since 23517 is already in use by the Ray app.

[2021-02-01 21:40] morvy opened #264 "Windows: cannot open Ray app window"
**Describe the bug**
When I work on one monitor I can use the Ray app normally. If I work on external monitor and forget to move the window back to primary/laptop screen before disconnection the external monitor, I cannot open the Ray window anymore.

**Versions**
Ray version (you can see this in "About Ray"): 1.12

You can use `composer show` to get the version numbers of:
- spatie/ray package ve

[2021-02-01 23:36] Ihabafia opened #262 "<code>null</code> when you do $variable ?? 0;"
I have a statment:
```php```
$var = $xyz ?? 0;
ray($var);

if the var has a value of 400 for example then the result on the ray app is 400, but if the $var is null, then the $var should be equal 0, but when I do ray($var); the result is <code>null</code>.

**Versions**
Ray version: 1.11.0

You can use `composer show` to get the version numbers of:
- spatie/ray package version: 1.17.1
- spatie/lara

[2021-02-01 23:54] freekmurze commented on #262
I don't understand the code snippets.

Try ray(null) and ray(0). Does that display the expected results?

[2021-02-02 00:26] Ihabafia commented on #262
Hi,

I tried:

ray(null);
ray(0);

the result was

19:23:58

<code>null</code>

web.php:258

19:23:58

Null

null

web.php:257

So, the null came as null

And the 0 comes as <code>null</code>.

From: Freek Van der Herten <notifications@github.com>
Reply-To: spatie/ray <reply@reply.github.com>
Date: Monday, February 1, 2021 at 6:55 PM
To: spatie/ray <ray@noreply.github.com>
Cc: Ihab Abu Afia <ihab@

[2021-02-02 07:25] freekmurze commented on #262
Closing this as the latest versions seem to already do the right thing.

<img width="774" alt="image" src="https://user-images.githubusercontent.com/483853/106566064-116b1c80-6530-11eb-9d6d-5008894b6659.png">

Please upgrade to the latest versions.

[2021-02-02 07:25] #262 closed

[2021-02-03 08:20] AngelOD commented on #49
Any updates on this? Would be awesome to be able to use Ray on my work laptop as well.

[2021-02-03 08:21] freekmurze commented on #49
We're still waiting on the certificates, it takes a while before these get issued.

When there is news, I'll update this issue.

[2021-02-03 08:59] AngelOD commented on #49
Ah okay. I thought it was a fairly quick process to get certificates, but I suppose it makes sense that it takes a while, for security/verification purposes.

[2021-02-03 09:00] freekmurze commented on #49
It's a bit frustrating for us too that it takes this long.

[2021-02-03 19:25] jhull opened #277 "Collection not displaying"
According to docs, this:

[code]

Works on collections as well--which doesn't seem to be the case. (Getting an error that Model must be given, not a Collection).

If I have something like this:

[code]

Shouldn't this work: `ray()->model($users);`

Also, getting an error that `models()` doesn't exist.

[2021-02-03 19:30] freekmurze commented on #277
This should work if you're using the latest versions. If not, create a minimal app that recreates the issue.

Closing for now. If the problem persist, open a new issue and fill in the template so we know the version numbers you are using.

[2021-02-07 07:31] LukeTowers commented on #258
@svpernova09 any luck with this? @freekmurze were you able to test this at all? Ray is unusable for me if it doesn't work for projects within Homestead.

[2021-02-07 16:44] svpernova09 commented on #258
I've attempted to get Ray and Homestead working again this morning. I'm still unable to figure out what I'm doing wrong.

![image](https://user-images.githubusercontent.com/967362/107152917-57f5b800-6930-11eb-8a9b-57755142c390.png)

Virtualbox is mapping the default `23517` in the guest to `2201` on the host. I've tried the public IP `192.168.30.10` and host network `10.0.2.15` and every port comb

[2021-02-07 16:57] LukeTowers commented on #258
@svpernova09 I feel like this is a red herring and not actually helping anything tbh. Am I incorrect in my assumption that the port mapping being done by vagrant is only in one direction, from the guest to the host? Ray would require port mapping from the host to the guest.

[2021-02-07 17:03] LukeTowers commented on #258
See https://kb.parallels.com/en/124718,

[2021-02-07 17:11] svpernova09 commented on #258
The port forwarding is working as expected. (Because I can connect all of the other services via the same shared ports). I've included these notes so to explain my Ray configuration. Based on what I'm seeing, Ray isn't communicating out of the VM at all.

[2021-02-07 17:19] LukeTowers commented on #258
@svpernova09 it looks like 10.0.2.2 is the loopback address used by VirtualBox, so if you're using VirtualBox then 10.0.2.2 with the 23517 port WITHOUT port forwarding setup then it should work. I haven't tested it yet though because I use Parallels as a provider.

https://docs.oracle.com/en/virtualization/virtualbox/6.1/user/networkingdetails.html#network_nat

[2021-02-07 17:29] svpernova09 commented on #258
I understand how it *should* work. This issue is raising the concern that it isn't.

<img width="1678" alt="Screen Shot 2021-02-07 at 11 28 52" src="https://user-images.githubusercontent.com/967362/107154285-bd00dc00-6937-11eb-842c-0d2b6fffe51b.png">

[2021-02-07 17:30] LukeTowers commented on #258
@svpernova09 @freekmurze I think I've found the issue: https://forum.parallels.com/threads/accessing-localhost.258362/#post-828246

Parallel's default host IP address is 10.211.55.2, but it doesn't do any sort of localhost spoofing which means that the requests sent to 10.211.55.2:23517 probably have the Host header set as such, which means that the ray app is probably ignoring the requests since

[2021-02-07 17:37] svpernova09 commented on #258
@LukeTowers I'm not using Parallels in the context of this issue. If you've found something that may be causing your issues in Homestead & Parallels that's probably best in its own Ray Issue instead of here. I wanted to see Ray work with Virtualbox before complicating things with a different Provider.

[2021-02-08 01:44] LukeTowers commented on #258
@svpernova09 I just tried `10.211.55.2` as the host on my parallels box and it's working fine now. Looks like that was the issue!

[2021-02-08 08:04] freekmurze commented on #258
Closing this, as a solution seems to have been found.

[2021-02-08 08:04] #258 closed

[2021-02-08 08:17] Algeneralo opened #285 "Windows: slow unit tests when having ray installed"
**Describe the bug**
Unit Tests are running very slow when having a ray library installed with composer

**Versions**
- spatie/ray package version:
- spatie/laravel-ray package version (if applicable): 1.11

PHP version: 7.4
Laravel version (if applicable): 8.22

**To Reproduce**
Steps to reproduce the behavior:
1. Install `spatie/laravel-ray` package on windows for Laravel project
2. run tests us

[2021-02-08 08:22] freekmurze commented on #285
It seems that we cannot reproduce this problem. Our own test suite run very fast on Windows, and we haven't gotten any reports by other users.

Could you create a minimal app that allows up to recreate the problem?

[2021-02-08 11:12] freekmurze commented on #285
What happens when you comment the code in this function?

https://github.com/spatie/ray/blob/master/src/Client.php#L23-L43

[2021-02-08 11:45] Algeneralo commented on #285
Yeah, that's work!
when I removed the code inside this function, everything return as it is

[2021-02-08 11:53] freekmurze commented on #285
What happens if you change this value to `1` or `0`?

https://github.com/spatie/ray/blob/master/src/Client.php#L101

[2021-02-08 12:04] Algeneralo commented on #285
ok so I got the following thing, I restart the Laptop to be sure that Ray is not working in the background.
I tried to run the tests. tests are slow.
I opened the ray app, run the tests again, now it back to be normal.

So the issue as I guess that the `send` function tries to detect the Ray app in the background, but the app is not working yet since I didn't open it when I started the windows. bu

[2021-02-08 12:06] Algeneralo commented on #285
Nothing

[2021-02-08 12:16] freekmurze commented on #285
Nothing as you don't see anything anymore in Ray? Or as in, the results stay slow? Or do the results stay fast?

[2021-02-08 12:22] Algeneralo commented on #285
Sorry for not clearing the things, I meant nothing for the slow, it's still slow as it's.
For the result, I'm not sure because I told you, the issue will disappear after opening the Ray app

[2021-02-09 09:00] ronnievisser opened #288 "After Big Sur OS upgrade ray doesn't work anymore"
I was previously running this app without any problems on Homestead. I update my OS to macOS Big Sur, With that also virtual box needed an update. After that has been completed the ray app is not showing any information anymore. Before the upgrade all worked fine.

Ray version: 1.12.0
spatie/ray package version: 1.19.2
spatie/laravel-ray: 1.12.3
Laravel version (if applicable): v8.26.1

**To Repro

[2021-02-09 09:22] freekmurze commented on #288
Could you test if the previously tagged version works for you?

[2021-02-09 11:43] Polfo opened #290 "Client.php cache fingerprint not initialised correctly"
**Describe the bug**
In https://github.com/spatie/ray/blob/c29066b/src/Client.php#L23, we see
[code]
This is probably an error, as `$this->host` is `null` in the constructor. I suppose it should be
[code]
**Versions**
Ray version 1.19.2

[2021-02-09 11:43] ronnievisser commented on #288
No differences. still not working. tried to go down to laravel-ray 1.9.3

[2021-02-09 11:45] Polfo commented on #290
There is no need for a hash here.
`$this->fingerprint = $host . ':' . $portNumber;`
would also work and not obfuscate the bug.

[2021-02-09 11:45] ronnievisser commented on #288
re-provisioned homestead again and not all works fine again.

[2021-02-09 11:45] #288 closed

[2021-02-09 11:51] patinthehat commented on #290
Good catch, I'll submit a fix.  Thanks!

[2021-02-09 11:55] Polfo opened #291 "Generic Questions and Issues Documentation page referring to laravel-ray issues"
**Describe the bug**
Page https://spatie.be/docs/ray/v1/questions-issues has a "Feel free to create an issue on GitHub" text linking to https://github.com/spatie/laravel-ray/issues

**Expected behavior**
Only link to `spatie/laravel-ray/issues` for laravel-ray related issues, not for all issues.

See
https://raw.githubusercontent.com/spatie/ray/master/docs/questions-issues.md

[2021-02-09 11:58] #290 closed

[2021-02-09 12:00] morvy commented on #291
well, yeah .. that's why I've created an issue for Ray app in laravel-ray repo :\

[2021-02-09 12:31] freekmurze commented on #291
I'll correct this. If you see other things that are off, feel free to submit a PR.

[2021-02-09 12:31] #291 closed

[2021-02-09 13:24] webdevhayes commented on #184
Hey @freekmurze when is this going to be resolved? I am hitting this issue very regularly now I am working with large data sets and currently I am unable to use ray because of this issue. I have to close ray down which defeats the purpose of using ray as I cant see data any more :(

[2021-02-09 13:26] bolovdor opened #293 "[Linux] Trial mode does not reset after restarting Ray"
**Describe the bug**
Trial mode does not reset after restarting Ray.

**Versions**
Ray version (you can see this in "About Ray"): `1.12.0`

You can use `composer show` to get the version numbers of:
- spatie/ray package version: `1.19.3`
- spatie/laravel-ray package version (if applicable): `1.12.3`

PHP version:7.4.14
Laravel version (if applicable): `8.26.1`

**To Reproduce**
Steps to reproduce

[2021-02-09 13:29] jasonlfunk opened #294 "Markdown doesn't seem to be getting rendered correctly."
**Describe the bug**

Here is my code:
[code]

Here is the output:
![image](https://user-images.githubusercontent.com/685188/107369978-73f58700-6af3-11eb-8daf-eff048f4c954.png)

**Versions**
- Ray version: Version 1.12.0 (1.12.0)
- spatie/ray package version: 1.19.3
- spatie/laravel-ray package version (if applicable): 1.12.3

PHP version: PHP 7.4.14
Laravel version (if applicable): 7.30.4

**Expe

[2021-02-09 13:37] patinthehat commented on #184
I wonder if this is related to the amount of script & css that the [HtmlDumper sends](https://github.com/symfony/var-dumper/blob/93c1914af9c0619294d867a0fa346d5ea6b7d707/Dumper/HtmlDumper.php#L163-L778).  I'd have to do some debugging, but it seems like it's possible that a significant amount of data is sent when using the [var dumper](https://github.com/symfony/var-dumper).

[2021-02-09 13:39] patinthehat commented on #294
@jasonlfunk Have you tried using `ray()->markdown($action['message'])`?

[2021-02-09 13:45] jasonlfunk commented on #294
@patinthehat Nope! I didn't know that method exists. That did seem to help in this case, thanks.

There does seem to be something wrong with the second call to ray() here though. The output doesn't really make sense - why is there 1 `<br/>` tag?

[code]

![image](https://user-images.githubusercontent.com/685188/107372110-1dd61300-6af6-11eb-9cb1-2e3d12c0664f.png)

Thanks for ray by the way. It's th

[2021-02-09 14:12] patinthehat commented on #294
Not sure on the `<br />`, I'd have to dig into the code to figure that one out.  If it becomes an issue in the future, please open a separate issue for it.

Ray is the work of @freekmurze, [Spatie & team](https://spatie.be).  But I agree, they definitely deserve a hearty thanks for creating it. :tada:  _(I did write that `markdown()` method, though :slightly_smiling_face:)_

[2021-02-09 15:31] freekmurze commented on #293
Do you still see the trial mode after rebooting your system?

[2021-02-09 15:52] bolovdor commented on #293
Rebooting the system helped. When open after reboot, "Continue in trial mode" button/text was shown and I manage to click it. This result in resetting the 0/10 session count.

[2021-02-09 16:02] #293 closed

[2021-02-10 05:28] Daronspence commented on #245
I had this same error but not with the dev flag. Composer 2 seemed to fix it as well. I have to go back and forth for legacy projects. Maybe there would be some way to acknowledge that within the composer.json for the package?

[2021-02-10 10:22] AdrianMrn commented on #293
@bolovdor You need to make sure to quit the app completely. Simply pressing the `X` button won't quit it. Right clicking the tray icon and pressing `quit` should do the job!

[2021-02-11 09:16] lovekrissh143 opened #325 "Ray not able to handle bulk dump"
**Describe the bug**
I'm trying to dump the response generated from the middleware

and while dumping it sends the generated response multiple times

which makes the application like 60s Ford Falcon.

I've fairly good system which can output good performance but this dump makes the app feels hanged.

I'm using the latest Spatie release for laravel-ray and ray.

**Versions**
php 7.4.14
laravel 8.27

[2021-02-14 14:40] webstar1027 opened #310 "My ray app can not connect php project"
**Before creating a new bug report**
Please check if there isn't a similar issue on [the issue tracker](https://github.com/spatie/ray/issues) or in [the discussions](https://github.com/spatie/ray/discussions).

If you are having troubles connecting your project to Ray, please check [our docs](https://spatie.be/products/ray) first, especially the configuration and environment specific configuration

[2021-02-14 15:33] freekmurze commented on #310
Closing as there isn't enough info. Please open up a new issue and fill in the template.

[2021-02-14 15:33] #310 closed

[2021-02-15 12:38] bilfeldt opened #340 "HTML Layout issues for logs"
**Describe the bug**
When Ray displays Laravel log entries that contains html the layout of the Ray app breaks - while it works if the same HTML is send manually using the `ray()` method.

**Versions**
- spatie/ray package version: 1.19.4
- spatie/laravel-ray package version (if applicable): 1.12.6

PHP version: 7.4.3
Laravel version: 8.27.0

**To Reproduce**
Steps to reproduce the behavior:
Sendi

[2021-02-16 11:10] SlyDave commented on #210
Bad news.

Still getting this on 1.12.0.0

Worth noting Ray wasn't "open" it wasn't on the taskbar, or task tray, but this process was in the background.

![image](https://user-images.githubusercontent.com/1842611/108054931-36d74a80-7047-11eb-9824-363a5e52edc9.png)

This is on a laptop, it had the lid closed, but the power settings do not put it to sleep or hibernate, so shouldn't in theory be a c

[2021-02-17 07:55] Algeneralo commented on #285
@freekmurze
The issue is fixed now, Thanks!

[2021-02-17 07:55] #285 closed

[2021-02-17 12:59] vicenterusso commented on #158
Similar problem here. Using ubuntu, clicking does nothing, not even the the error popup. Mouse over points to the correct local path though

[2021-02-17 13:09] bintzandt commented on #158
Have you tried installing https://github.com/sanduhrs/phpstorm-url-handler to handle the PHPStorm URL?

[2021-02-17 14:41] aurelien31 commented on #264
Hi, I have the same issue today. You can resolve this issue by following these steps:
- Mouse over the Ray icon in the taskbar without clicking on it
- Once the app preview appears above the icon, right click on it
- Then click on Maximize and the application will reappear on the screen

Hope this solves your problem 👍

[2021-02-17 14:54] morvy commented on #264
Hi,
I noticed this behaviour too, but I had Ray in tray only, so I was unable to maximize it like when you have it in taskbar..

[2021-02-17 16:13] S-R0 opened #317 "Show Ray from anywhere command double press"
**Describe the Bug**
When pressing the shortcut command to 'show Ray from anywhere', I have to press the shortcut twice for it to navigate to Ray. I have tested to see if this is an issue with Workspaces, but it seems to happen even when i'm not using them.

**Versions**
Ray - 1.12.0
MacOS - Big Sur 11.2

**Edit**
Noticed that when you have ray open and press your shortcut, the screen just goes bl

[2021-02-17 19:36] yoyosan commented on #158
That's what I'm using.

[2021-02-18 11:11] bognerf opened #319 "Undefined method ::payload()"
**Describe the bug**
With `SEND_JOBS_TO_RAY=true` an exception for an undefined method is raised:

[code]

**Versions**
Ray version (you can see this in "About Ray"): 1.12.0

- spatie/ray package version: 1.19.5
- spatie/laravel-ray package version (if applicable): 1.12.6

PHP version: 7.4
Laravel version (if applicable): 8.28.1

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Jo

[2021-02-18 11:50] freekmurze commented on #319
Could you create a minimal app that reproduces this issue?

[2021-02-18 13:46] S-R0 opened #320 "Ray still running in production mode"
**Describe the bug**
Ray is enabled on production environment if `ray.php` file is not present.

**Versions**
Ray - 1.12.0
spatie/ray package version: 1.19.4
spatie/laravel-ray package version (if applicable): 1.12.6

PHP version:
Laravel version (if applicable): 7.4

**To Reproduce**
Steps to reproduce the behavior:
1. Comment out the `ray.php` file or rename it to something like `ray.php.bak`.
2

[2021-02-18 15:02] noge075 commented on #210
Hi!
For me the same with 1.12.0.0
![ray-memory-usage](https://user-images.githubusercontent.com/16837514/108374908-bf99e600-7201-11eb-99f1-0787891805ab.png)
My system totally crashed, was really hard to take the screenshot. :)

My laptop went to sleep multiple times, but it only happens a few times in a month.

Operation system:
Windows 10 Pro 19042.804

I use with laravel homestead and nodejs too

[2021-02-18 20:36] vicenterusso commented on #158
Just installed. Not working. local path on mouse over is correct, but now I have the error popup. As @yoyosan pointed, local path is not being parsed correctly

[2021-02-19 23:06] fatihtoprak commented on #210
Any update about Macbook M1 ?

[2021-02-21 14:00] DonDiegoAA commented on #219
I have same problem with collapsing.
Versions:
— Ray 1.12.0.0
— Laravel 7.28.3
— composer "spatie/laravel-ray": "^1.12"
— Windows 10 - Laragon - Php 7.4.11

[2021-02-21 19:56] savage-eagle commented on #210
Happening with me as well somethings when using nodejs and laravel homestead.

![image](https://user-images.githubusercontent.com/72709807/108636630-48648c00-7465-11eb-86fe-506504d647e5.png)

Operation system: Windows 10 Pro 18363.1379
Ray version 1.12.0

[2021-02-22 19:03] ibrainventures commented on #319
Hi there, Got the same issue, Herer are some Details from my System (may it helps)...

My Setup:

[code]
![grafik](https://user-images.githubusercontent.com/8803626/108756288-9900e580-7548-11eb-807d-90fe157c0a2d.png)

Faked a payload method for debugging ;-) and getting those details:

![grafik](https://user-images.githubusercontent.com/8803626/108756349-acac4c00-7548-11eb-9001-214aacade142.png)

[2021-02-23 06:59] freekmurze commented on #319
Thanks for reporting. I cannot reproduce this. Please create a minimal app where you see the issue. This would help me debug.

[2021-02-25 12:54] craigpotter opened #324 "Documentation Error"
I was going to open an PR but I don't know what you were trying to say.

https://github.com/spatie/ray/blob/master/docs/configuration/general.md

It starts talking about Ruby then just cuts off with a typo!

Maybe a Copy and paste error ?

Thought I would make you aware as @freekmurze did it like 14 days ago ....

[2021-02-25 14:27] freekmurze commented on #324
Whoops, removed that broken sentence

[2021-02-25 14:45] AdrianMrn commented on #44
This will be included in 1.14.0

[2021-02-25 15:19] #324 closed

[2021-02-26 09:29] freekmurze commented on #319
Closing this, as I cannot reproduce this using the latest versions. If you still see this create a minimal app that reproduces this issue.

[2021-02-26 09:29] #319 closed

[2021-02-26 09:30] freekmurze commented on #317
We have made some changes around this in a new release that will be available shortly.

[2021-02-26 09:30] #317 closed

[2021-02-26 09:31] freekmurze commented on #294
@patinthehat 🙌

closing this as the original issue seems to have been solved by using the `markdown` method.

[2021-02-26 10:15] jasonlfunk commented on #294
@freekmurze Yes, using the markdown method works fine. However, there was still a bug in regards to the way that Ray was formatting it without using the markdown method - having that "<br/>" tag get added.

It's easy enough to make happen:

`ray("*Test*\nHello\nWorld!");`

![image](https://user-images.githubusercontent.com/685188/109287435-9b0ec100-7834-11eb-93a3-9169c46f00fa.png)

Do I really nee

[2021-02-28 06:56] olivitek opened #327 "VScode integration appears broken in ray app 1.13.0"
Prior to updating to 1.13.0 AppImage on Linux Mint 20 I was able to click on code links in the Ray app and automatically be routed to the relevant line in VSCode. Now, I receive a warning via a Visual Studio Code popup:

`Path does not exist. The path '/var/www/app/Http/Controllers/HomeController.php:106' does not seem to exist any more on the disk.`

![vscode-ray-err1](https://user-images.githubu

[2021-03-01 14:27] AdrianMrn commented on #327
@olivitek I don't believe we changed anything in how the editor url works in the last couple of versions. Are you sure nothing about your setup has changed? Does opening the URL work if you try it through e.g. your browser?

The URL should be built up something like this: `vscode://file/%path:%line`, so `vscode://file/var/www/app/Http/Controllers/HomeController.php:106` in your case, I believe.

[2021-03-02 00:50] olivitek commented on #327
Thanks @AdrianMrn. When I type vscode://file/var/www/app/Http/Controllers/HomeController.php:106 in Chrome it doesn't launch VSCode unfortunately. I'll take a look at my set up.
Re. the file path - should this be relative to the docker container root (/var/www) or my local file system (/home/myusername/PROJECTS/clientproject) ? The /var/www root is not known outside the docker container. Thanks ag

[2021-03-02 05:00] olivitek commented on #327
@AdrianMrn @freekmurze - managed to get the link working after some debugging of the debugger code :)

In my case it looks like the **ray.php** configuration file needs to be in the Laravel **config** directory before my settings in **.env** file were picked up by Laravel Ray **and** I also had to run this command to reload the config (I'm using Docker):

`docker-compose exec app php artisan confi

[2021-03-02 05:04] #327 closed

[2021-03-02 08:13] AdrianMrn commented on #327
Thanks a bunch for showing how you fixed your issue @olivitek! I'll keep your reply on hand in case anyone else runs into similar problems :)

Have fun debugging with Ray, and please let us know if you have any suggestions!

[2021-03-02 11:17] patinthehat commented on #294
I can confirm that this is related to the App and not to the `ray` package specifically.

PHP Code:

[code]
JSON sent to Ray:
[code]

[2021-03-02 21:26] olivitek commented on #327
Thanks @AdrianMrn. You're welcome. It's a great product - happy to provide my feedback.

[2021-03-03 07:59] nmirceac opened #334 "The Ray app image doesn't have an icon - Ubuntu 20.04"
The Ray app image doesn't have an icon - Ubuntu 20.04

![image](https://user-images.githubusercontent.com/475346/109772797-1bec0500-7c07-11eb-84ed-e6e416638104.png)

[2021-03-03 12:27] tjhunkin opened #337 "Too few arguments to function Spatie\Ray\Origin\Origin"
**Before creating a new bug report**
Please check if there isn't a similar issue on [the issue tracker](https://github.com/spatie/ray/issues) or in [the discussions](https://github.com/spatie/ray/discussions).

If you are having troubles connecting your project to Ray, please check [our docs](https://spatie.be/products/ray) first, especially the configuration and environment specific configuration

[2021-03-03 12:50] patinthehat commented on #337
@tjhunkin @freekmurze I've submitted a [PR](https://github.com/spatie/laravel-ray/pull/170) to `spatie/laravel-ray` that should resolve this issue.

[2021-03-03 12:54] tjhunkin commented on #337
Thanks

[2021-03-03 14:53] quantumwebco commented on #210
Yeah me too, I had ray open for a couple of hours then shut it and it's using about 20gb of ram and 25% of an i7 processor power and the program isn't even open

![image](https://user-images.githubusercontent.com/12368817/109823689-11923100-7c30-11eb-82bf-851607a8033d.png)

Apart from that this package is absolutely awesome!! One of the best dev tools in my collection

[2021-03-03 15:19] AdrianMrn commented on #210
I've tried debugging this a couple of times, but can't solidly reproduce the issue, which makes it very difficult for me to find the cause. Has any of you encountered a surefire way to get this issue, without having to wait a couple of hours? Are there any specific ray methods that you're using that seem to cause this more than others? Most of you seem to be using Windows rather than Mac, is that

[2021-03-03 15:29] B0bbyD0llar opened #338 "The app no longer receives data"
**Describe the bug**
The app no longer receives data.

**Versions**
- ray app 1.13.0.0
- spatie/ray package version: 1.21.1
- PHP version: 7.4.15

**To Reproduce**
In my test.php i have a simple call like ray()->phpinfo(); but nothing appears at the app. It doesn't really matter what command I call, even a simple ray('Hello World'); won't work.
This happens only on one of my two Win10 machines. Th

[2021-03-03 15:34] quantumwebco commented on #210
Why would it hold on to memory allocation when it's been shut down? Is that a separate issue or linked with this?

I don't currently have a mac so unable to test, would be good to get some feedback from mac users to help you debug.

I will do some more testing on windows now and report my findings. I am mostly using ray($arg) to output models or collections. Not using log or dd/dump. It's a Larave

[2021-03-03 15:40] tjhunkin commented on #337
Latest update fixed it

[2021-03-03 15:40] #337 closed

[2021-03-03 16:46] AdrianMrn commented on #210
@quantumwebco Thanks for looking into this with me!

The thing is that the app doesn't close if you simply press the X button, similar to how applications like Slack stay open in the background. You'll see that it's still active in your tray (might have to wait until 1.14.0 for this to always work), and it'll continue accepting requests in the background.

[2021-03-03 16:55] quantumwebco commented on #210
Yeah I realised that by the end of my comment, "Only when you exit the background task (in task manager or from sys tray icon) does it release memory". I thought it was still holding the allocation units even after exiting the background process (sys tray) but it's not. Killing the background process does release the memory. Sorry, my bad!

I notice a lot of people saying they're using the Laravel

[2021-03-04 08:44] patinthehat commented on #210
@AdrianMrn @quantumwebco I'd be interested to see if this memory usage occurs when using ray with a language other than PHP _(such as [NodeJS](https://spatie.be/docs/ray/v1/installation-in-your-project/nodejs))_.  That'd help narrow down whether or not it's related to the either the `ray` or `laravel-ray` package, or if it's strictly an App-side issue.

[2021-03-04 08:47] AdrianMrn commented on #210
I tried this before, but -on Mac at least- it didn't seem like the memory problem was being caused by the renderer process, but rather the main process. At the same time, I'm debugging https://github.com/spatie/ray/issues/325, which in some cases makes the problem worse.

Not sure yet, but I'll let you know if I come across anything I need more info/data on!

I'm not sure, but I'll give it a go wi

[2021-03-04 08:56] patinthehat commented on #338
@B0bbyD0llar Everything on my end is working, even with a fresh project.  Would you be able to provide a small sample project that reproduces your issue?

Just to cover the bases:
- is it possible you have a firewall blocking access to port 23517 on the machine in question?
- is it possible that Ray is running on a different port?

[2021-03-04 09:18] noge075 commented on #210
For me was the same problem when I used Ray with NodeJS.

[2021-03-04 10:24] quantumwebco commented on #210
Just FYI I exited ray completely from the sys tray and then put the computer to sleep when I got to my desk this morning I checked task manager and found this
![image](https://user-images.githubusercontent.com/12368817/109949582-6e92f300-7cd3-11eb-8e28-e6529ad1480e.png)
High power usage and a fair bit of CPU too
In the details tab
![image](https://user-images.githubusercontent.com/12368817/1099497

[2021-03-04 11:51] markusyesloop opened #339 "On Windows Ray -- there is no SERVERS icon to connect to remote server"
https://spatie.be/docs/ray/v1/the-ray-desktop-app/discovering-the-ray-app#connecting-to-remote-server

[2021-03-04 11:58] freekmurze commented on #339
We'll release this build in the next few hours. Fixing the last issues now.

[2021-03-04 11:58] #339 closed

[2021-03-04 14:00] B0bbyD0llar commented on #338
this is my very simple test code in a fresh and empty project (only ray is required)
[code]
As already said, it does not matter which project I take. The firewall was the first thing I checked because it works fine on my other PC. Can I test if sending the payload works without errors?

[2021-03-04 14:55] B0bbyD0llar commented on #338
my composer.json look like:
[code]

i dont have any ray.php files in my testing project. there is just an 'vendor' folder, composer.json, composer.lock and raytest.php

[2021-03-04 15:09] patinthehat commented on #338
That project configuration works just fine for me.  I'm guessing the issue is something with your specific setup.

I'm not sure what you mean by this.

I would suggest going into the Ray preferences and changing the port number to `23516`, and creating a `ray.php` file in the root directory of your project:

[code]

Trying this will eliminate the possibility that there's a conflict with the defaul

[2021-03-04 15:27] B0bbyD0llar commented on #338
I mean to test if the PHP script is giving out the data properly and the app is not receiving it correctly.

I have tried different ports. Unsuccessfully.

[2021-03-04 15:37] patinthehat commented on #338
I'm not running Windows, so I'm not sure what else to do beyond that.  Hopefully one of the Windows users can give you some guidance.

To do this, I use a custom http proxy written in nodejs to inspect the data that's being sent.  I'd be happy to share it if you'd like to debug the data being sent from PHP to the Ray app.  I'm not sure it'd be much help in this scenario, but let me know if you'd l

[2021-03-05 16:52] kaitwalla commented on #339
Any update on this? The last version I see on the site is 1.13, and unfortunately the app is nonfunctional for me without remote server access.

[2021-03-05 16:57] AdrianMrn commented on #339
@kaitwalla We ran into some issues getting the app to build for all platforms, so we've delayed the release for a couple of days. 1.14.0 should be up on Monday at the latest :)

[2021-03-05 17:13] roberttolton commented on #7
Sorry to comment on a closed issue, but I am experiencing this too.

Mac OS Catalina 10.15.7 (19H15)
laravel/framework `7.29.3`
spatie/laravel-ray `1.9.1`
spatie/ray `1.17.1`

When I click on the arrows to collapse dumped arrays etc, nothing happens.

[2021-03-05 17:15] roberttolton commented on #219
I am experiencing this too.

Mac OS Catalina `10.15.7 (19H15)`
Ray App  `1.13.0 (1.13.0)`
laravel/framework `7.29.3`
spatie/laravel-ray `1.9.1`
spatie/ray `1.17.1`

When I click on the arrows to collapse dumped arrays etc, nothing happens.

[2021-03-08 08:20] AdrianMrn commented on #219
@roberttolton What command are you running to get the uncollapsible dumps? Could you try installing the demo app (https://github.com/spatie/laravel-ray-demo-app) and running `ray(app())`? This seems to work perfectly fine for me.

[2021-03-08 08:50] adevade commented on #219
I still have this issue as well, using latest desktop client and the WordPress plugin.
I'm just running the default `ray($object || $array)` and it has never worked on my machine. Any way to open the Chromium JS console to look for any errors?

[2021-03-09 02:27] Terrorboy opened #341 "Multiuser usage problem"
**OS :** windows 10
**ray version :** latest(1.14.0.0)

We would like to thank you very much for officially providing remote environment support with this update.

"Ray was unable to bind to the remote server's port. Is the port in use or is someone else using ray on this server?" Message is displayed and it does not work.

Is there a way that two workers can use it at the same time?

**ray config

[2021-03-09 02:29] Terrorboy commented on #341
1. The port can be changed in the Ray program itself.
2. Supports multiple server transmission in the ray setting

How many multi-users would this not be possible?

[2021-03-09 10:56] AlexVanderbist commented on #341
Because Ray forwards all TCP traffic on the configured port to the connected Ray user it currently isn't possible to connect two ray clients to one server. SSH can only forward traffic to one connected user. I don't think there's an easy way to overcome this problem.

Can you elaborate on this?

[2021-03-09 11:51] AdrianMrn commented on #341
@Terrorboy When you press the `x` button, the app minimizes and will continue running in the background. This behaviour is similar to other applications, like Slack.

If you want it to quit completely, you have to right click its icon in your tray and press `quit`.

[2021-03-09 12:18] Terrorboy commented on #341
@AdrianMrn  Thank you

[2021-03-09 14:06] jonorozcoc opened #343 "Rate limit new events"
**Before creating a new bug report**
Please check if there isn't a similar issue on [the issue tracker](https://github.com/spatie/ray/issues) or in [the discussions](https://github.com/spatie/ray/discussions).

If you are having troubles connecting your project to Ray, please check [our docs](https://spatie.be/products/ray) first, especially the configuration and environment specific configuration

[2021-03-09 14:10] patinthehat commented on #343
I can confirm that this issue exists when sending a large number of payloads to the Linux app, sometimes to the point of it becoming unusable.  It also results in a persistently high CPU usage once the payloads have been sent, even after they've all been displayed.

[2021-03-09 14:54] jonorozcoc commented on #343
This also happens with a small amount of events but with each event has a huge payload aka classes with large property list

[2021-03-09 14:57] patinthehat commented on #343
@jonorozcoc can you define "classes with a large property list" more specifically?  How many properties? What types _(strings, resources, etc.)_?

[2021-03-09 15:02] jonorozcoc commented on #343
@patinthehat sure, can be applied with large array properties or instance properties. I think this is due to the expand collapse feature

For example I tested with a Laravel exception. Sending 100 events of this type affect the desktop app experience

[2021-03-09 15:22] jonorozcoc commented on #343
@patinthehat at the end has to be the amount of data. because if I send a large amount of event with small payload has the same effect as sending a few events with huge payload

Something I noticed as you mentioned the app is more likely to freeze if the event type is more complex

[2021-03-10 00:35] patinthehat commented on #338
@B0bbyD0llar were you able to resolve this issue? If not, try taking a look at [ray-proxy](https://github.com/permafrost-dev/ray-proxy) to see if you can debug the data being sent (or not) from your code to the Ray app.

[2021-03-10 10:48] #343 closed

[2021-03-10 10:50] freekmurze commented on #264
We've made some changes in Ray 1.4.0 around this. Please open up a new issue if this still an issue for you.

[2021-03-10 10:50] #264 closed

[2021-03-10 19:31] patinthehat opened #351 "Ray App - Exception items prefixed with "null""
**Describe the bug**
The last two items listed in the stack trace when `exception()` is called are prefixed with "null".  Additionally, the last two item titles appear to be incorrect.

**Versions**
- Ray version: 1.14.0
- spatie/ray package version: 1.21.2
- spatie/laravel-ray package version: 1.15.1

PHP version: 7.4
Laravel version: 8.32.1

Steps to reproduce the behavior:
1. Trigger an excepti

[2021-03-10 22:56] philipmclifton opened #352 "Docs folder size"
Hi, sorry to bother with what seams like such a minor point but...

The repository has 9mb of assets in the docs folder. Mostly images.

I would love to keep ray in my production codebase (incase I deploy a ray()) but I'm deploying via Laravel Vapor and have a really strict file size limit.

Ray becomes one of the biggest packages in my vendor folder.

I'm trying to avoid having to ship with docke

[2021-03-10 23:11] patinthehat commented on #352
@philipmclifton I'll run `optipng` on the images to shrink them down and submit a PR with the compressed images *IF* there's no loss in quality; ultimately, it'll be up to @freekmurze whether or not to accept it. Stand by.

Side note: Couldn't you just remove the images folder before deploying?

[2021-03-10 23:58] patinthehat commented on #352
@philipmclifton I was able to compress the images folder down to under 6 MB in my PR #353  - anything beyond that may require modifying the images more than I'm comfortable with without talking to Freek first.

[2021-03-11 08:14] freekmurze commented on #351
I'm thinking this should be fixed with the app.

[2021-03-11 08:30] AdrianMrn commented on #352
Would https://github.com/spatie/ray/pull/354 cause any issues?

[2021-03-11 08:53] philipmclifton commented on #352
I don't know why I didn't think about that, I will just run a build command to ditch the assets if this isn't changed. 🤦

[2021-03-11 08:56] freekmurze commented on #352
@philipmclifton Here's a semi related idea: if you're building assets on the server, let your build command delete `node_modules` too to save some disk space.

[2021-03-11 08:56] #352 closed

[2021-03-11 09:04] philipmclifton commented on #352
Node modules gets nuked by default in Vapor's suggested build steps.

For anyone else wanting to achieve the same thing:

[code]

[2021-03-11 11:13] camiant opened #357 "ray 1.14.0.0 - open files with vscode-ssh does not work"
ray version 1.14.0.0

with vscode logged using ssh, when you click on filename, vscode tries to open another instance using filepath as it were on local pc. obviously it doesn't work. ray should instead search for that path in the already-opened instance of remotely connected vscode.

![2021-03-11 12_06_31-](https://user-images.githubusercontent.com/7567420/110778739-07d98080-8263-11eb-843e-3e331e

[2021-03-11 11:16] freekmurze commented on #357
You can solve this, but adding a Ray config file on your remote server. You an use this to translate the remote path to the local path.

https://spatie.be/docs/ray/v1/configuration/framework-agnostic-php

[2021-03-11 11:16] #357 closed

[2021-03-11 20:45] kaitwalla opened #358 "Windows requires SSH key for remote server when "Password" selected"
**Describe the bug**
When trying to create a remote server in the Windows version, selecting "Password" as the authentication method does not work. The application still requires an SSH key file, though it does not use it. I do not have a default SSH key on this computer, so upon trying to connect to the server I got a "no file found" for the default location of the SSH key. This error persisted u

[2021-03-11 21:16] philipmclifton commented on #210
I have to close ray every few hours after memory creeps up to 1GB +

On latest version of Mac operating system on M1 chip.

Using Laravel package to send events

[2021-03-11 21:36] kaitwalla commented on #358
Also had the same issue on the Mac version.

[2021-03-11 21:55] savage-eagle opened #359 "Display not on screen"
**Before creating a new bug report**
Please check if there isn't a similar issue on [the issue tracker](https://github.com/spatie/ray/issues) or in [the discussions](https://github.com/spatie/ray/discussions).

If you are having troubles connecting your project to Ray, please check [our docs](https://spatie.be/products/ray) first, especially the configuration and environment specific configuration

[2021-03-12 06:01] aurelien31 commented on #264
Hi,

The problem is apparently still present but sporadically.

I will continue to test in the days to come to be sure.

Regards,
Aurelien

[2021-03-12 07:11] Trompetenhut opened #360 "Ray crash after output of large array"
**Describe the bug**
If you output a large array, for example Wordpress WP_Query, the APP is not responding anymore. You cannot clear the history or something else. If I restart the app, the output is still there.

**Versions**
1.14.0.0

**To Reproduce**
Steps to reproduce the behavior:
1. Output large arrays

**Expected behavior**
I can still use Ray

**Screenshots**
![image](https://user-images.

[2021-03-12 07:57] AdrianMrn commented on #264
I suppose this is related to https://github.com/spatie/ray/issues/359

I'll try to reproduce this and see if I can find a suitable fix.

[2021-03-12 10:13] AdrianMrn commented on #359
A fix for ths will be included in the next release of Ray, likely 1.14.1 🙂

[2021-03-12 10:13] #359 closed

[2021-03-12 10:13] AdrianMrn commented on #264
A fix will be included in the next release of Ray, likely 1.14.1 🙂

[2021-03-12 10:45] aurelien31 commented on #264
Cool, I will try as soon as it is available. Thanks.

[2021-03-12 11:46] roberttolton commented on #219
@AdrianMrn I'm just using `ray()` to output an array, which is at most about 4 levels deep. No doubt the demo app would probably work, but would be useful to have access to the Ray error log or something.

[2021-03-12 12:47] AdrianMrn commented on #188
A fix for this will be included in the next release (likely 1.14.1)

[2021-03-12 12:47] #188 closed

[2021-03-12 13:15] AdrianMrn commented on #219
@adevade @roberttolton To get a terminal for the app, please follow the following steps on Windows:

- Open your cmd/powershell
- Run `cd C:\Users\Adriaan\AppData\Local\Programs\Ray` (or wherever the app is installed on your system, don't forget to at least change your user directory)
- Run `.\Ray.exe ----remote-debugging-port=20987`
- Open your browser and navigate to `localhost:20987` and click

[2021-03-12 14:10] adevade commented on #219
@AdrianMrn Just tried this on my Windows machine, but I get `ERR_CONNECTION_REFUSED` when I try to access `localhost:20987`. Tried with Valet-win running and with it stopped. Tried with four dashes for the argument (as you wrote) and with only two.

This is the output I'm getting in PowerShell:
[code]

But I can't access that page for some reason.

[2021-03-12 14:25] patinthehat commented on #219
@adevade You can try browsing to `chrome://inspect` in chrome and see if you're able to open it from there.

[2021-03-12 15:16] adevade commented on #219
@patinthehat Thanks! Got it working thanks to you!

This is the console error I get when I click on an arrow to close an array:

[code]

[2021-03-12 23:06] hartnett opened #364 "Ray App doesn't show Contextual Information when outputting Logs."
**Describe the bug**
Doesn't show Contextual Information when outputting Logs.

**Versions**
- Ray: 1.14
- spatie/laravel-ray package version: 1.14

PHP version: 8.0.3
Laravel version: 8.12

**To Reproduce**
`ray(Log::error("Any Text", ['context' => 'info']));`

This only outputs the error text

**Expected behavior**
I would expect to see the same as is in the laravel log. The log text and the Con

[2021-03-13 08:09] #364 closed

[2021-03-15 19:48] savage-eagle commented on #264
Any preview when 1.14.1 will be released?

[2021-03-16 08:46] AdrianMrn commented on #264
@savage-eagle I'm releasing 1.14.1 now, I was hoping to get some more performance fixes in, but those took longer than expected and will have to wait until the next patch :)

[2021-03-16 09:17] aurelien31 commented on #264
Hi,

Thanks @AdrianMrn, this release fixes issues and... what performance improvements too 💯. So cool !!!

Regards,
Aurelien

[2021-03-16 12:47] pbruelemans opened #371 "Ray doesn't start on windows 10"
After the latest update of Ray, the app doesn't seem to start anymore.
I tried reinstalling it (downloaded the installer again), rebooting, cleaning the folders \Appdata\local\ray and \appdata\roaming\ray... Nothing seems to work.
When I start ray, nothing seems to happen, but there are ray processes running in task manager.

**Versions**
I was using the latest version.  But now have tried reinsta

[2021-03-16 13:45] desaintflorent commented on #371
I just installed Ray 1.14.2 on my brand new macOS M1 MacBook Air and ray doesn't show any window too. I can see the app icon at the bottom but nothing else.

[2021-03-16 13:50] tobimori commented on #371
Confirming this issue on Intel Mac with Big Sur / macOS 11.2.3

[2021-03-16 14:08] AdrianMrn commented on #371
I changed some thing in how and where the app is displayed in 1.14.1. Could you check if the app is rendering on a different display? Is there anything special about your setup, eg clamshell mode or a lot of different monitors?

[2021-03-16 14:09] pbruelemans commented on #371
I am using 3 monitors. But I cant see the app on any of them.

[2021-03-16 14:11] AdrianMrn commented on #371
@pbruelemans Could you create a new index.js file anywhere on your pc and paste the following code into it:
[code]
then use `node index.js` to run it, and send me the output please?

[2021-03-16 14:16] AdrianMrn commented on #371
To get me some more debugging information, could you also follow these steps please:

**On Windows:**
- Open your cmd/powershell
- Run `cd C:\Users\Adriaan\AppData\Local\Programs\Ray` (or wherever the app is installed on your system, don't forget to at least change your user directory)
- Run `.\Ray.exe`
- See if Ray starts up, and copy+paste the output of the command here

**On MacOS:**
- Open you

[2021-03-16 14:20] pbruelemans commented on #371
output for "node index.js":   Win32

Output for ray.exe:

15:18:41.913 > Checking for update
15:18:42.364 > Update for version 1.14.2 is not available (latest version: 1.14.2, downgrade is disallowed).
15:18:42.372 > checkForUpdatesAndNotify called, downloadPromise is null

[2021-03-16 14:26] tombenevides commented on #371
@AdrianMrn I'm having this same problem and when I did the powershell steps you listed, I got this:

![image](https://user-images.githubusercontent.com/18440704/111324554-42676280-8641-11eb-848c-463924dd360b.png)

It's stuck in this for a few minutes and nothing happened so far.

OS: Windows 10 Pro v20H2
Ray: v1.14.2

[2021-03-16 14:27] AdrianMrn commented on #371
All right, I think this means it's rendering in a spot you can't reach it. Can you right click it on your taskbar and maximize it?

[2021-03-16 14:28] pbruelemans commented on #371
It doesnt show in the taskbar of system tray. It also doesnt show up when i use ALT +TAB

[2021-03-16 14:31] AdrianMrn commented on #371
Does the app show up if you change the resolution of your monitor, or unplug 1 monitor?

[2021-03-16 14:39] tombenevides commented on #371
When I shutdown my other monitors and run Ray.exe again, the output was the same as @pbruelemans and stilll no ray screen opened. In the task manager, I can see 2 background processes of ray but... nothing more. (Not listed in the "Apps" section and nothing in the ALT+TAB as well)

![image](https://user-images.githubusercontent.com/18440704/111327174-88252a80-8643-11eb-86a9-c79f5a0881b8.png)

[2021-03-16 14:39] pbruelemans commented on #371
I just upluggen al my monitors. so only laptop screen now. No change. Tried reïnstalling it.  The installer first says that ray is already running and if I want to close ray. I confirm to close ray. install starts, but after that nothing seems to happen. I dont get a confirmation dialog that the install succeeded.
Ray seems to be installed , but when I start it, I dont get a window

I get exactly

[2021-03-16 14:45] AdrianMrn commented on #371
Thanks a bunch for helping me debug this so far. I'm now deploying 1.14.3 which has a possible fix for this issue. It should be available for you in about 10 minutes.

[2021-03-16 14:56] AdrianMrn commented on #371
1.14.3: https://spatie.be/products/ray/download/windows/latest

[2021-03-16 15:02] tombenevides commented on #371
Great. Everything working fine! Thank you @AdrianMrn \o

[2021-03-16 15:04] pbruelemans commented on #371
![image](https://user-images.githubusercontent.com/80755835/111331524-44e1b080-8671-11eb-8a8d-a63251cde457.png)

[2021-03-16 15:06] AdrianMrn commented on #371
Hahaha my pleasure, glad this is working for you again. Let me know if you run into any other issues, or if you have any suggestions for us! :)

[2021-03-16 15:06] #371 closed

[2021-03-16 15:54] nessor opened #372 "Update window says latest version first (Mac)"
**Describe the bug**
When you check the app for an update (on the Mac), the first window that appears is that you already have the latest version installed. If you confirm this, a window appears that an update has been found.

**Versions**
Ray version: 1.14.0

**To Reproduce**
Steps to reproduce the behavior:
1. An update must be available
2. Ray > Check for updates...
3. confirm first window

**E

[2021-03-16 16:14] OurBG opened #373 "Ray wont open after last update."
**Describe the bug**
After the last update that happened today for me (March 16th 2021) Ray stopped opening. It starts 4 processes in my task manager called Ray, but won't open.

**Tried**
Uninstall and install again;
Restarting the PC;

**Versions**
Ray version (you can see this in "About Ray"): Not sure, the latest one that installed itself today.

You can use `composer show` to get the version

[2021-03-16 16:33] desaintflorent commented on #371
I can confirm that's it's working on macOS Big Sur too after the fix ! Thank's

[2021-03-16 16:34] AdrianMrn commented on #372
Thanks for the report, I'll have a look into this. If you press `restart`, does the app update and restart, and are you on the latest version (1.14.3)?

[2021-03-16 16:35] AdrianMrn commented on #373
Hi @OurBG, I've just released a fix that should hopefully address your issue: https://github.com/spatie/ray/issues/371

Could you please reinstall the app from here, and see if it works? https://spatie.be/products/ray/download/windows/latest

[2021-03-16 16:35] #373 closed

[2021-03-16 16:37] nessor commented on #372
Hi @AdrianMrn

thanks for your reply. I'm pressing on `restart` but the app just closes and does not restart again. When I open it again manually, the old version (1.14.0) is still installed and I am asked again if I want to update.

No. I'm not at the latest version. Otherwise the update window would not appear 😅

[2021-03-16 16:42] OurBG commented on #373
Perfect! All working now!

[2021-03-16 16:46] AdrianMrn commented on #372
All right, we're also seeing this error in isolated cases, and finding it very difficult to debug, it seems to be happening on every newly released update :/

As a temp fix, you can either press `later` on the update dialog, or download the latest version here: https://spatie.be/products/ray/download/macos/latest

[2021-03-16 16:46] #372 closed

[2021-03-16 16:50] nessor commented on #372
Okay. I updated now the version manually to 1.14.3. Not the "You are running the latest version" window does not appear at all when I'm checking update with Ray > Check for updates... 😄

[2021-03-17 10:12] AdrianMrn commented on #372
@nessor Thanks for the report, both the update issue and the popup have been fixed in 1.14.4 (releasing now, should be available in about 10 minutes).

[2021-03-17 21:59] adevade commented on #360
I don't think you're restarting the app, but just closing the window. The app is probably still running in the taskbar. Try selecting *Menu > Quit Ray* and then starting it again.

But I can confirm. The app does get reeeeeeeally slow when there's a lot of data loaded in the window. I usually have to restart the app multiple times a day.

[2021-03-18 01:38] PanjiNamjaElf commented on #219
I have same problem with collapsing.
Versions:
— Ray 1.14.4.0
— Laravel 7.28.4
— composer "spatie/laravel-ray": "1.17.1"
— Windows 10 -  Xampp PHP 7.4.16

But when i try to latest laravel app and send `ray(app())` or `dd($array)` i can collapse & uncollapse the array

![image](https://user-images.githubusercontent.com/16651293/111560572-576cfe80-87c5-11eb-9ac9-8b73bf6bf2a4.png)

[2021-03-18 08:44] midnite81 opened #376 "When ray is docked with another application when you swipe to a different desktop it swipes back automatically to where ever ray is"
**Before creating a new bug report**
Please check if there isn't a similar issue on [the issue tracker](https://github.com/spatie/ray/issues) or in [the discussions](https://github.com/spatie/ray/discussions).

✅  Couldn't see this issue in issues or discussions.

If you are having troubles connecting your project to Ray, please check [our docs](https://spatie.be/products/ray) first, especially th

[2021-03-18 09:34] jkque opened #377 "syntax error, unexpected '->' (T_OBJECT_OPERATOR)"
**Describe the bug**
Just starting with ray but it spams error log in my end.
And FYI I did not use the ray helper yet.
[code]

It came from ExceptionHandler class of Collision Package

**Versions**
Ray version: 1.14.4.0

You can use `composer show` to get the version numbers of:
- spatie/laravel-ray package version: 1.17

PHP version: 8.0.0
Laravel version: 8.33.1 using Sail and WSL 2

**Expected

[2021-03-18 09:39] freekmurze commented on #377
By default, all exceptions will get sent to Ray automatically. Take a look at the configuration section in our docs to learn how to turn that off.

[2021-03-18 09:39] #377 closed

[2021-03-18 09:46] jkque commented on #377
Ohh this is the problem of people not reading docs 😂

Sorry about that. Thanks @freekmurze

I ❤ Ray

[2021-03-18 10:01] AdrianMrn commented on #360
We're continuing work on performance improvements for the app, this issue is somewhat related (or should be solved by the same fix) to https://github.com/spatie/ray/issues/325, so I'm closing this one. I'll update once I've found a solid solution.

[2021-03-18 10:01] #360 closed

[2021-03-18 10:03] AdrianMrn commented on #376
I can reproduce this and I'm working on a fix.

[2021-03-18 10:05] AdrianMrn commented on #219
Thanks to @adevade's I've found where the error occurs, but I still can't reproduce this. If someone could create a minimal reproducible example and share it with me on GitHub, I'd be very much obliged!

[2021-03-18 10:12] AdrianMrn commented on #376
I'm releasing 1.14.5 which should fix this issue. Let me know if you run into any other issues or have any suggestions how we could make Ray more fun to use!

[2021-03-18 10:12] #376 closed

[2021-03-18 10:14] AdrianMrn commented on #371
I'm releasing 1.14.5 which changes something about this solution, because it seems to have caused a side-effect (https://github.com/spatie/ray/issues/376). Please let me know if this causes any other issues for you!

[2021-03-18 10:22] jkque commented on #377
@freekmurze

updated the config file but no luck it still spamming the log

`'send_exceptions_to_ray' => env('SEND_EXCEPTIONS_TO_RAY', false),`

[2021-03-18 10:49] midnite81 commented on #376
Thank you. I have installed 1.14.5 which seems to have resolved the issue. Many thanks.

[2021-03-18 11:16] adevade commented on #219
@AdrianMrn I've created a default WP install where I still see the bug.

https://github.com/adevade/ray-debugging

There's a SQL-dump in the root.

Username for login is `admin` and password is `password` on `/wp-login.php`.

The Ray plugin is installed, and I added a custom plugin that just dumps the WP database object.

Custom plugin is located in `/wp-content/plugins/ray-debugging.php`.

[2021-03-18 11:21] freekmurze commented on #377
I can't seem to reproduce this, could you create a minimal app in which you recreate the issue?

[2021-03-18 11:32] desaintflorent commented on #371
Working on M1 macOS Big Sur

[2021-03-18 11:54] jkque commented on #377
I can add you to the repo, is that okay ?

[2021-03-18 11:58] freekmurze commented on #377
No, I'd rather you creating a new minimal public app, than working in an existing app that I don't know (and where there could be many unrelated things causing havoc)

[2021-03-18 12:04] jkque commented on #377
Cool, will replicate my repo to minimal public app.

Thanks buddy.

[2021-03-18 12:30] nlemsieh opened #379 "Ray not sending integers"
**Describe the bug:**
I'm using Ray in WordPress and framework-agnostic PHP projects and for some reason integers don't show up in Ray app.

**Versions:**
Ray version:  1.14.5
PHP version: 7.4.13
Ray WP plugin: 1.2.4

**To Reproduce:**
Try sending an integer value, i.e.:
[code]

**Desktop:**
 - OS: macOS
 - Version 10.13.6

[2021-03-18 13:37] tombenevides commented on #371
Working on Windos 10

[2021-03-18 14:17] lorlab commented on #379
I'm also noticing this in Laravel

[2021-03-18 14:17] AdrianMrn commented on #371
Great, thanks for checking!

[2021-03-18 14:30] jkque commented on #377
can't replicate it to a fresh laravel app :(

But the log says it came from the Collision Package I stated above.

It annoys me cause my app is perfectly running but an exception is always throwing.

Configuring the ray.php does nothing

[2021-03-18 19:29] SpencerCloud commented on #379
Posting this as a potential workaround for people before this gets fixed. It's simple but took a little too long to occur to me to do this. Just typecast any integers to a string when outputting in the debugger.

`ray((string) 25);`

[2021-03-18 21:16] Omegatcu commented on #358
Still a problem in 1.14.5

[2021-03-18 22:03] Muffinman commented on #379
Can confirm I'm also seeing this on Drupal.

PHP Library version: `1.21.2`
Ray client: `1.14.5`
PHP: 8.0.3
MacOS

[2021-03-19 07:45] tomcoonen commented on #379
Also having this issue, even when multiple arguments are fed to the `ray()` function, as soon as an integer is include all these are not showing up.

[2021-03-19 08:44] ajimatahari commented on #379
Hapenned to me as well

[2021-03-19 12:27] crypto-scythe commented on #49
Is there any update on this issue?

[2021-03-19 20:10] vicenterusso commented on #379
+1. Using Laravel + Linux (ubuntu)

Terminal Log:
[code]

[2021-03-21 12:10] rst630 opened #382 "Ignoring vars in ray.php"
https://github.com/rst630/ray-test

![image](https://user-images.githubusercontent.com/644549/111904344-1270f280-8a79-11eb-809a-10b1a477c3d0.png)

[2021-03-21 14:57] freekmurze commented on #382
Could you please use the issue template, so we know your version numbers? Thanks!

[2021-03-21 14:57] #382 closed

[2021-03-21 15:04] rst630 commented on #382
PHP 7.4.3 (cli) (built: Oct  6 2020 15:47:56) ( NTS )

other you can see in test repository

[2021-03-21 15:05] rst630 commented on #382
ray is 1.14.5

[2021-03-22 09:39] nnerijuss commented on #379
Have same issue with M1 mac. Until lates update everything works just fine.

[2021-03-22 10:20] AdrianMrn commented on #379
Thanks for the reports and especially thanks too @vicenterusso for the logs which gave me an idea about what could be causing the bug :)

This has been fixed and will be included in the 1.14.6 patch version (releasing now).

[2021-03-22 10:20] #379 closed

[2021-03-22 17:00] fThues opened #385 "Items not persisting in desktop app"
I'm using a bunch of regular `ray($variable)` calls inside a Craft CMS (Yii) plugin. The messages are displayed in the desktop app only very, very briefly (too fast to read) and the screen seems to get cleared after each one. Only the very last message is visible after the request has run.

**Versions**

Ray 1.14.6 (1.14.6)
spatie/ray 1.21.2
spatie/yii-ray 1.2.5
PHP 7.4.16
Craft CMS 3.6.10

**Expe

[2021-03-26 20:11] leopoletto commented on #334
I am facing the same issue.
Tinkerwell as an example displays the icon, therefore I think it must be something related with Ray.

![image](https://user-images.githubusercontent.com/1036401/112687308-107ea900-8e56-11eb-8558-ac5b508c4f97.png)

The last one is Ray.

[2021-03-26 20:42] leopoletto commented on #334
If it helps, now after I defined the Icon for the desktop file `/home/leonardo/.local/share/applications/Ray (1.14.6)` which has a type of `Text (application/x-desktop)` and was generated by [AppImageLauncher](https://github.com/TheAssassin/AppImageLauncher) it is showing.

![image](https://user-images.githubusercontent.com/1036401/112689724-6dc82980-8e59-11eb-941e-cf02060130be.png)

[2021-03-29 07:55] AdrianMrn commented on #334
Hm, I thought I fixed this a couple of weeks ago. I'll take another look at it!

[2021-03-31 12:36] AdrianMrn commented on #265
This has been fixed, and will be released soon in 1.14.7

[2021-03-31 12:36] #265 closed

[2021-03-31 12:47] AdrianMrn commented on #340
Thanks for the detailed report and reproducible example! A fix for this will be included in the upcoming 1.14.7 release.

[2021-03-31 12:47] #340 closed

[2021-03-31 14:12] AdrianMrn commented on #294
I removed the part in the app where we're replacing `\n` with `<br />`. This change will be released in 1.14.7, please check it and let me know if this is a suitable solution for your issue.

[2021-03-31 14:12] #294 closed

[2021-03-31 14:21] AdrianMrn commented on #246
I think this is caused by [this issue in electron-builder](https://github.com/electron-userland/electron-builder/pull/5312), which should be fixed now. I'm not sure what version it was included in, so in Ray it should either be fixed already, or after this version.

[2021-03-31 14:21] #246 closed

[2021-03-31 14:59] AdrianMrn commented on #219
@adevade Thanks a bunch for the repo! I managed to reproduce the issue, and figured out that it was caused by the Symfony dump in WordPress working slightly different from the Laravel version.

I've managed to fix the bug, but I might have broken other things along the way because I'm not entirely familiar with the Symfony dump script 😁 Please let me know if you run into any new issues when 1.14.7

[2021-03-31 14:59] #219 closed

[2021-03-31 15:02] AdrianMrn commented on #325
I'm going to close this as a duplicate of https://github.com/spatie/ray/issues/184

[2021-03-31 15:02] #325 closed

[2021-03-31 15:03] AdrianMrn commented on #184
@patinthehat It seems the problem is happening because React can't keep up with the big amount of data it has to render. I'm now removing the scripts & css as you mentioned, which seems to speed it up slightly, but still doesn't completely fix the issue.

Any other advice or pointers would be greatly appreciated, in the meantime I'll continue debugging using the performance graph 🙈

[2021-03-31 15:14] AdrianMrn commented on #228
I don't write SQL that often anymore, but am I correct in assuming every binding/value should be wrapped in quotes, except for integers? Or are there other types of queries where wrapping in quotes in unnecessary and/or could break the query?

[2021-03-31 15:15] #228 closed

[2021-03-31 15:38] patinthehat commented on #184
@AdrianMrn what if you measured the rate of incoming payloads along with taking the size of the payloads into account?

For example, if the app is receiving more than 5 req/sec, or more than 2kb/sec, or 5kb within the last 7.5 sec (or whatever numbers work), render text/empty placeholders for the payloads instead of the actual data.

That would cause the display to scroll more quickly, thus handli

[2021-03-31 15:43] AdrianMrn commented on #184
I kinda like the idea, but I feel like I should first try to solve the root cause of the issue before accepting that React just can't render the data that fast and finding workarounds.

In the end it's _only some characters being rendered, which really shouldn't be an issue at all for a modern Macbook Pro.

Thanks for thinking along with me!

[2021-03-31 15:50] AdrianMrn commented on #351
Thanks for the report and the detailed reproduction steps! The fix for this will be included in 1.14.7.

[2021-03-31 16:02] patinthehat commented on #184
@AdrianMrn In my opinion, the root cause _is_ Ray trying to render everything, even payloads that it doesn't need to.  Maybe dropping the idea of measuring incoming payloads is better - and go with rendering only what's absolutely necessary and visible.

The other thought I've had on this topic is that perhaps a simplified rewrite of `VarDumper` would help - send less data from the client and do m

[2021-03-31 16:29] AdrianMrn commented on #184
Hold that thought for a bit, I'll try doing another version of your idea of not rendering everything, by using [react-virtualized](https://github.com/bvaughn/react-virtualized)

[2021-03-31 16:49] adevade commented on #219
@AdrianMrn Woop woop!! 🎉🎉

[2021-03-31 18:38] patinthehat commented on #358
This is an issue with the Linux App as of version `v1.14.7`.

[2021-04-01 02:52] zynth17 commented on #228
yes it is correct that every binding/value should be wrapped in quotes  and integer can also wrapper in quotes but it is better that integer does not wrapped in quotes

[2021-04-01 07:41] mateuszBedzinski commented on #358
Related error image here
![image](https://user-images.githubusercontent.com/49586747/113260322-6af08d00-92ce-11eb-8283-835fb4509056.png)

[2021-04-01 07:49] mateuszBedzinski commented on #358
Related error image
![image](https://user-images.githubusercontent.com/49586747/113261276-8dcf7100-92cf-11eb-9ede-ec43f14ad3d7.png)

[2021-04-01 07:56] rkmaier opened #404 "Latest ray version 1.14.6, nothing gets logged to the app"
**Describe the bug**
No debug is logged inside the windows app, previous version seemed to work just fine

**Versions**
Ray Windows 1.14.6
ray/spatie 1.21.2

PHP version:
7.4.16

**To Reproduce**
Steps to reproduce the behavior:
1. Install latest ray version
2. Log something using the ray command
3. Nothing is logged inside the ray app

**Expected behavior**
Logs should show up in the ray app

**D

[2021-04-01 08:04] patinthehat commented on #404
@rkmaier Have you followed the documentation [on using Ray with docker](https://spatie.be/docs/ray/v1/environment-specific-configuration/docker)?

[2021-04-01 08:10] rkmaier commented on #404
@patinthehat
yes it was working with the previous version. Where can I download the previous version to confirm my issues ?

[2021-04-01 08:14] patinthehat commented on #404
I'm not sure on that one.  You'd have to ask @freekmurze.

[2021-04-01 13:13] rkmaier commented on #404
The same issue, outside my app too.   However it does work  when not using docker

[2021-04-01 14:44] AdrianMrn commented on #184
I'm dropping the above idea for now, since calculating the height of items based on their content turns out to be a lot more difficult than I anticipated :)

The -what I thought were minor- performance improvements in the last update seem to have done quite a lot already, at least on my machine. Can someone else try a payload they know froze their Ray again, and see if it works better now?

Sendin

[2021-04-01 15:01] patinthehat commented on #184
In my tests, `v1.14.7` seems to perform better then previous versions with a large number of payloads on Linux.  It's definitely more responsive.

[2021-04-02 17:42] zgabievi opened #405 "Can't connect to remote server which is configured by laravel forge"
**Describe the bug**
Can't connect to remote server over ssh, which is using laravel forge. I've private key connection to the server. I can connect to server using terminal but not with Ray app.

**Versions**
Ray version: 1.14.7

You can use `composer show` to get the version numbers of:
- spatie/ray package version: 1.21.2
- spatie/laravel-ray package version: 1.17.1

PHP version: 7.4.16
Laravel

[2021-04-05 08:13] nathanjansen commented on #184
I've experienced something similar with showQueries() where a lot of queries are being pushed to Ray. Of course this is also a performance issue within my own app, but I thought using Ray would actually help me solve this problem. As Debugbar from Barryvdh was not very useful in this case. Or at least I thought Ray was more applicable :)

What happened is that the amount of queries was so much it

[2021-04-06 08:16] rkmaier commented on #404
@freekmurze can I download the older versions somewhere  ?

[2021-04-06 20:11] michaelslobodskih commented on #358
same problem in windows 1.14.7.0 version

[2021-04-07 05:16] zynth17 commented on #404
i got the same problem
even after 1.14.7 it does not work on my local
it doesn't log anything

[2021-04-07 05:32] rkmaier commented on #404
Same here, even after 1.14.7

[2021-04-07 05:37] zynth17 commented on #404
and btw i didnt use docker and it does not work also

[2021-04-07 11:46] shankhadevpadam opened #407 "calling custom helper function throw a exception."
I have a custom helpers.php file inside the app folder and added some function inside that file

[code]

but I got a wired exception on ray while calling that function inside the controller. But there is no error in the main app.

[code]

[2021-04-07 11:47] freekmurze commented on #407
Could you create a minimal PHP app that recreates the problem?

[2021-04-07 14:02] shankhadevpadam commented on #407
helpers.php
[code]
PaymentController.php
[code]

[2021-04-07 19:27] freekmurze commented on #407
I don't see why Ray shouldn't be able to be used in this code.

If you're still having problems, please create an executable example for us that allows use to easily recreate the problem.

[2021-04-07 19:27] #407 closed

[2021-04-07 19:39] Omegatcu commented on #358
Just to make this case:
I know some will think this is not a big deal, just use a cert.
I get you from a security standpoint, but I do work on servers where I only get the username/password and the client doesn't want cert auth. In these cases I would really appreciate if we can get the possibility to use the password option.

I do understand that it might have a low priority, but I would really a

[2021-04-07 20:04] michaelslobodskih commented on #358
As far as i can see , ray is made with Electron js. For transfering data between client & app used post requests to internal ExpressJS web server. Ray is connecting to servers using ssh tunnel. So i cant understand why they can't fix this issue. If this issue will not be fixed , probably i will create my own free ray client :)

[2021-04-07 20:07] kaitwalla commented on #358
@Omegatcu A workaround is putting ANY valid cert path before choosing "password." It doesn't need to be for that server, it just needs to be a valid certificate. It will look at it on connecting, but then use the password auth.

[2021-04-08 14:19] Omegatcu commented on #358
Wow - I didn't know that.
Fix for me was copy "known_hosts" file and renaming it to "id_rsa" in ~/.ssh dir. - Done!

[2021-04-09 10:06] webstar1027 opened #412 "Ray does not work on core php project"
I tried to use ray debug app on my core php project.
I make ray.php on root directory of project and set ray.php as guide.
https://spatie.be/docs/ray/v1/configuration/framework-agnostic-php
And next I insert ray function on necessary part of my project, that page is broken, of course, can not debug from my ray app.
Can not make sure what is issue.

[2021-04-09 10:24] freekmurze commented on #412
Our tests prove that Ray is working as intended. Please create a minimal PHP script for us to look at where you are having troubles getting Ray to work.

[2021-04-09 10:24] #412 closed

[2021-04-12 20:04] shalvah opened #417 "Multiline text shows on a single line"
**Describe the bug**
Multiline text shows on a single line.

**Versions**
Ray version (you can see this in "About Ray"): 1.14.7.0

You can use `composer show` to get the version numbers of:
- spatie/ray package version: 1.21.2

PHP version: 7.4

**To Reproduce**
Steps to reproduce the behavior:
1. Dump any text with newlines (`\n` or `\r\n`)

**Expected behavior**
Text should be properly displayed

[2021-04-13 09:02] jkbennemann commented on #405
I do have almost the same issue, but not specifically with forge.

**Describe the bug**
For some reason I am not able to connect to a remote server.
On connection ray responds with information: "Ray was unable to bind to the remote server's port. Is the port in use or is someone else using ray on this server?"

The direct connection through iTerm does work for both servers though.

**Versions**
Ra

[2021-04-13 09:04] #405 closed

[2021-04-13 12:06] zynth17 commented on #404
any update on this?

[2021-04-13 12:30] smccoy78 opened #419 "A new version (1.14.17) has been downloaded. Restart Ray to apply the updates."
**Describe the bug**
Every time I open Ray, I get a popup that says "A new version (1.14.7) has been downloaded. Restart Ray to apply the updates." I hit the restart button and when Ray opens back up I get the same popup again.

**Versions**
Ray version (you can see this in "About Ray"): 1.14.3

You can use `composer show` to get the version numbers of:
- spatie/ray package version: 1.21.2
- spati

[2021-04-13 12:48] freekmurze commented on #419
That's strange.

It's by no means, meant as a permanent fix, but you could download the latest version from https://myray.app. That will probably fix you having that dialog.

[2021-04-13 13:26] smccoy78 commented on #419
Thank you for the quick reply @freekmurze. That is what I ended up doing, I just figured I would let someone know just in case it wasn't some sort of fluke on my end. I appreciate everything you all do!

[2021-04-13 13:26] #419 closed

[2021-04-13 14:11] savage-eagle commented on #359
The problem still persists.

Don't know how to reproduce. Sometimes it resize to screen and sometimes it goes outside the screen.

[2021-04-13 21:16] freekmurze commented on #210
@philipmclifton Could you check if you can reproduce this error using our M1 build (you can download it at https://myray.app)

[2021-04-14 07:46] philipmclifton commented on #210
Sure, will take a look.

[2021-04-14 07:51] AdrianMrn commented on #419
This was an issue with 1.14.3 or so, and has since been resolved. Thanks for the report, and let us know if you encounter any other issues!

[2021-04-14 07:53] AdrianMrn commented on #359
Ray now checks whether it's inside of the viewport of any screens whenever your monitor setup changes, and adjusts itself accordingly.

If you can figure out how to reproduce this bug, please open a new issue with the updated information & the reproduction steps.

[2021-04-14 19:16] stefgosselin commented on #109
Hi, fyi I do not know if this was resolved, I am having the same issue in a unit test tearDown() method.

    public function tearDown(): void
    {
        parent::tearDown();
        ray()->showQueries();
        Product::destroy($this->product);
    }

   Returns:

   /usr/local/bin/php /Users/stephanegosselin/dev/autogo-api/vendor/phpunit/phpunit/phpunit --configuration /Users/stephanegosselin

[2021-04-14 19:17] stefgosselin opened #427 "Calling showQueries() fails"
Called as follows:

[code]

**Return:**

/usr/local/bin/php /Users/stephanegosselin/dev/some-api/vendor/phpunit/phpunit/phpunit --configuration /Users/stephanegosselin/dev/some-api/phpunit.xml --filter "/(Tests\\Unit\\Routes\\PeoductsTest::testGetProductListingsAuthenticatedShouldReturnProductList)( .*)?$/" --test-suffix FavoritesTest.php /Users/stephanegosselin/dev/some-api/tests/Unit/Routes --te

[2021-04-14 19:53] freekmurze commented on #427
Did you install spatie/laravel-ray?

[2021-04-15 02:15] adrianb93 commented on #210
Exact same issue. My fan has been spinning like crazy non-stop and my Intel MacBook has been super slow. Found out the cause was Ray using up all the CPU resources.

[2021-04-15 08:27] philipmclifton commented on #210
I am seeing large performance boost so far - will be using the app more heavily today and will report if I have any negative news.